.c6mr-splashVerticalStack__group .c6mr-splashVerticalStack__start--16-9 {
    padding:0 0 56.25% 0;
}
.c6mr-splashVerticalStack__start--16-9 .c6mr-playBtn {
    top:28.7%; left:38%; right:38%; bottom:28.7%;
}