.c6mr-splashTextOverlay__group .c6mr-splashTextOverlay__start--16-9 {
    padding:0 0 56.25% 0;
}
.c6mr-splashTextOverlay__start--16-9 .c6mr-playBtn {
    top:20%; left:38%; right:38%; bottom:37.4%;
}