.c6mr-ir {
    background-color: transparent;
    border: 0; width:0; height:0;
    overflow: hidden; display: block; position:absolute;
}
.c6mr-splashTextOnly__group {
    width:100%; height:auto;
    background:#ccc url('http://portal.cinema6.com/collateral/splash/img-text-overlay/img/default_square.jpg') 50% 50% / cover no-repeat;
    position:relative;
    font-size: 16px;
}
.c6mr-splashTextOnly__start {
    position:absolute;
    width:100%; height:0;
    background:50% 50% / cover no-repeat;
    cursor:pointer;
    border:0; padding:0; margin:0;
    display:block;
}
.c6mr-splashTextOnly__copy {
    position:absolute; bottom:0; left:0; right:0;
    padding:12px 6px; color:#fff;
    background:#000; background:rgba(0,0,0,0.55);
}
    .c6mr-splashTextOnly__copy .c6mr-title {
        font-size:1.125em; line-height:1.5; font-weight:normal;
        margin:0;
    }