.c6mr-ir {
    background-color: transparent;
    border: 0; width:0; height:0;
    overflow: hidden; display: block; position:absolute;
}

.c6mr-splashImgOnly__group {
    width:100%; height:0;
    background:#ccc url('http://portal.cinema6.com/collateral/splash/img-only/img/default_square.jpg') 50% 50% / cover no-repeat;
    position:relative;
}
.c6mr-splashImgOnly__start {
    position:absolute;
    width:100%; height:100%;
    background:50% 50% / cover no-repeat;
    cursor:pointer;
    border:0; padding:0; margin:0;
}