.c6mr-ir {
    background-color: transparent;
    border: 0; width:0; height:0;
    overflow: hidden; display: block; position:absolute;
}

.c6mr-splashImgOnly__group {
    width:100%; height:auto;
    background:#ccc url('http://portal.cinema6.com/collateral/splash/img-only/img/default_square.jpg') 50% 50% / cover no-repeat;
    position:relative;
}
.c6mr-splashImgOnly__start {
    position:relative;
    width:100%; height:0;
    background:50% 50% / cover no-repeat;
    cursor:pointer;
    border:0; padding:0; margin:0;
    display:block;
}
.c6mr-splashImgOnly__start .c6mr-playBtn {
    background:rgba(74,156,209,0.75) 
        url('http://portal.cinema6.com/collateral/splash/img-only/img/play.png') 58% 50% 
        / 40% auto no-repeat;
    position: absolute;
    border-radius:50%; border:3px solid #fff;
    box-sizing:border-box;
    display:block;
}