<article class="card__group">
    <ballot-vote-module 
        class="ballot__group player__height c6-fade"
        ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.ballotActive && active"
        vote="config._data.modules.ballot.vote"
        card-id="{{config.id}}"
        ballot="config.ballot"
        on-dismiss="Ctrl.dismissBallot()">
    </ballot-vote-module>
    <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
        class="ballot__group player__height c6-fade"
        active="config._data.modules.ballot.resultsActive && active"
        vote="config._data.modules.ballot.vote"
        card-id="{{config.id}}"
        fetch-when="onDeck || active"
        on-dismiss="Ctrl.dismissBallotResults()">
    </ballot-results-module>

    <div class="player__group player__height">
        <button ng-if="Ctrl.enablePlayButton" ng-show="Ctrl.showPlay" ng-click="Ctrl.playVideo()" 
        class="player__playBtn">
            <div class="player__playIcon">
                <span class="ir">Play Video</span>
            </div>
        </button>
        <div ng-class="{'ui--offscreen': Ctrl.flyAway}" class="player js-playerBox"><!-- actual player will be inserted into this container --></div>
        <div ng-show="Ctrl.flyAway" class="player__thumbnail"
            ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
            <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
        </div>
    </div>

    <div class="card__copy" c6-alias="!!(config.collateral.logo || config.social.length > 0 || config.params.sponsor) as hasSponsorship">
        <h1 ng-if="!hasSponsorship" class="card__title tk--hdr">
            {{config.title}}
            <span ng-if="!config.data.hideSource" 
            ng-show="!!config.source" 
            class="card__attributes tk--copy">via&nbsp;<a 
            ng-href="{{Ctrl.videoUrl}}" target="_blank" 
            class="textLink"
            title="{{config.source}}">{{config.source}}</a></span>
        </h1>

        <div class="sponsorProfile__group clearfix" ng-if="hasSponsorship">
            <a ng-if="!!config.collateral.logo" ng-href="{{config.links.Website}}" target="_blank" title="Sponsor link" class="sponsorProfile__imgBox">
                <img ng-src="{{config.collateral.logo}}" class="sponsorProfile__img">
            </a>
            <div class="sponsorProfile__copy">
                <h1 class="card__title tk--hdr">
                    {{config.title}}
                    <span ng-if="!!config.params.sponsor" class="card__attributes sponsorProfile__tag tk--copy">
                        Sponsored by 
                        <a ng-href="{{config.links.Website}}" title="{{config.params.sponsor}}">{{config.params.sponsor}}</a>
                    </span>
                </h1>
                
                <div class="sponsorProfile__links" ng-if="config.social.length > 0">
                    <a ng-repeat="link in config.social"
                        ng-href="{{link.href}}"
                        target="_blank"
                        title="{{link.label}}"
                        class="sponsorProfile__link sprite__social socialIcons socialIcons--{{link.type}}">
                        <span class="ir">{{link.label}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card__desc" ng-bind-html="config.note"></div>
    </div>
</article>
