<ul class="cards__list" ng-repeat="deck in DeckCtrl.decks"
ng-class="{
    'ui--offscreen' : !deck.active,
    'cards__list--fullWidth' : currentCard.type === 'recap',
    'cards__list--noAds' : (!RumbleCtrl.moduleActive('displayAd') && !currentCard._data.companion)
}">
    <li class="cards__item" ng-repeat="item in (deck.cards | deck:deck.index:cardBuffer)"
        ng-class="{
            'ui--offscreen' : ($index !== deck.index || !deck.active),
            'text--low': item.title.length + item.note.length <= 100,
            'text--med': item.title.length + item.note.length > 100 && item.title.length + item.note.length <= 200,
            'text--high': item.title.length + item.note.length > 200
        }">
        <mr-card
            x-number="{{tocCards.indexOf(item) + 1}}"
            x-total="{{tocCards.length}}"
            x-config="item"
            x-profile="deviceProfile"
            x-active="($index === deck.index) && deck.active"
            x-on-deck="($index === (deck.index + 1))"
            x-nav="nav">
        </mr-card>
    </li>
</ul>

<button ng-click="RumbleCtrl.goBack('nav')"
class="btnPrimary slideNav__btn slideNav__btn--prev c6-fade"
ng-class="{
    'slideNav__btn--small': currentCard.title.length + currentCard.note.length <= 100 || currentCard.ad,
    'slideNav__btn--med': currentCard.title.length + currentCard.note.length > 100 && currentCard.title.length + currentCard.note.length <= 200,
    'slideNav__btn--displayAdCard' : currentCard.type === 'displayAd'
}"
type="button"
title="Previous Page"
ng-disabled="!nav.enabled || (app.data.standalone && tocIndex < 1)"
ng-hide="currentCard.type === 'text'">
    <svg class="slideNav__icon slideNav__icon--prev" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941" xml:space="preserve">
        <path class="slideNav__iconPath" fill-rule="evenodd" clip-rule="evenodd" d="M22.971,0L0,22.971l22.971,22.97l4.243-4.243L8.485,22.971
            L27.213,4.243L22.971,0z"/>
    </svg>
    <span class="slideNav__label slideNav__label--prev btn__label tk--action">Prev</span>
</button>
<button ng-click="RumbleCtrl.goForward('nav')"
ng-disabled="!nav.enabled"
class="btnPrimary slideNav__btn slideNav__btn--next c6-fade"
ng-class="{
    'slideNav__btn--small': currentCard.title.length + currentCard.note.length <= 100 || currentCard.ad,
    'slideNav__btn--med': currentCard.title.length + currentCard.note.length > 100 && currentCard.title.length + currentCard.note.length <= 200,
    'slideNav__btn--displayAdCard' : currentCard.type === 'displayAd'
}"
type="button"
title="Next Page"
ng-hide="atTail || currentCard.type === 'text'">
    <svg class="slideNav__icon slideNav__icon--next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941" xml:space="preserve">
        <path class="slideNav__iconPath" fill-rule="evenodd" clip-rule="evenodd" d="M4.243,0l22.971,22.971L4.243,45.941L0,41.699l18.728-18.728L0,4.243
        L4.243,0z"/>
    </svg>
    <span class="slideNav__label slideNav__label--next btn__label tk--action">Next</span>
</button>

<div class="adSkip__group c6-fade" ng-show="!nav.enabled && nav.wait && currentCard.type === 'ad'">
    <p class="adSkip__message">Skip in <strong>{{nav.wait}}</strong></p>
</div>
