<script src="//use.typekit.net/xuz8gem.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<div class="MiniReel" ng-class="app.data.experience.data.theme">
    

    <header class="mr-titleBar__group clearfix">
        <div class="mr-titleBar__splashImg"
            c6-bg-img="{{app.data.experience.data.collateral.splash | envroot}}"
            >&nbsp;</div>
        <h1 class="mr-titleBar__title tk--hdr">{{app.data.experience.data.title}}</h1>
    </header>

    <ng-include ng-controller="DeckController as DeckCtrl" src="'deck.html' | asset:'views'"></ng-include>
    

    <div class="playlist__group">
        <div class="adSkip__group c6-fade" ng-show="false">
            <p class="adSkip__message">Skip this ad in {{countdown()}}</p>
        </div>
        
        <header class="playlistHead__group clearfix">
            <h2 class="playlistHead__title tk--hdr">Playlist</h2>
            <span class="playlistHead__pageCount">1 of 10</span>
        </header>

        <ul class="playlist">
            <li class="playlist__item playlist__item--current clearfix">
                <div class="playlist__thumbHolder">
                    <a href="#" class="playlist__thumb"
                    title="This is the Best Video Title Ever!!!"
                    style="background:url('https://farm5.staticflickr.com/4128/5064749556_df87d7b5a4_t.jpg')">
                        &nbsp;
                    </a>
                </div>
                <div class="playlist__copy">
                    <h3 class="playlist__title tk--hdr">
                        <a href="#" 
                        class="playlist__link"
                        title="This is the Best Video Title Ever!!!">
                            This is the Best Video Title Ever!!!
                        </a>
                    </h3>
                    <p class="playlist__source">via 
                        <a href="#" title="YouTube" 
                        class="playlist__sourceLink"
                        target="_blank">YouTube</a>
                    </p>
                </div>
            </li>

            <li class="playlist__item clearfix">
                <div class="playlist__thumbHolder">
                    <a href="#" class="playlist__thumb" 
                    title="This is the Best Video Title Ever!!!"
                    style="background:url('https://farm5.staticflickr.com/4128/5064749556_df87d7b5a4_t.jpg')">
                        &nbsp;
                    </a>
                </div>
                <div class="playlist__copy">
                    <h3 class="playlist__title tk--hdr">
                        <a href="#" 
                        class="playlist__link"
                        title="This is the Best Video Title Ever!!!">
                            This is the Best Video Title Ever!!!
                        </a>
                    </h3>
                    <p class="playlist__source">via 
                        <a href="#" title="YouTube" target="_blank">YouTube</a>
                    </p>
                </div>
            </li>
            <li class="playlist__item clearfix">
                <div class="playlist__thumbHolder">
                    <a href="#" class="playlist__thumb" 
                    title="This is the Best Video Title Ever!!!"
                    style="background:url('https://farm5.staticflickr.com/4128/5064749556_df87d7b5a4_t.jpg')">
                        &nbsp;
                    </a>
                </div>
                <div class="playlist__copy">
                    <h3 class="playlist__title tk--hdr">
                        <a href="#" 
                        class="playlist__link"
                        title="This is the Best Video Title Ever!!!">
                            This is the Best Video Title Ever!!!
                        </a>
                    </h3>
                    <p class="playlist__source">via 
                        <a href="#" title="YouTube" target="_blank">YouTube</a>
                    </p>
                </div>
            </li>
        </ul>

    </div><!--.playlist__group-->


</div><!--.MiniReel-->


<ng-switch on="app.state">
    <div class="splash__group" ng-switch-when="splash">
        <ng-include ng-if="app.data.version < 1"  src="'splash.html' | asset:'views'"></ng-include>
    </div>
</ng-switch>