/*  ================================================
    global / reset styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#444; 
        line-height: 1.5;
        background:#fff; 
        margin:0;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }




/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
        




/*  ================================================
    helper / ui classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }



    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1rem; height:1rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1rem -3rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -3rem -3rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -5rem -3rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -7rem -3rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -9rem -3rem;
            }



            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
            }
            .uiIconsBe__dark--replay:before {
                background-position:-1rem -7rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0;
        width:100%; height:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:1em; right:1em;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
    }
        .btnPrimary .btn__label {
            font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
            font-size:0.875em;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
        }


    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:#d94040; 
        color:#fff; font-weight:bold;
        border-radius:3px;
        display:table;
        text-align: center; 
        line-height:1;
    }


    .ui-offscreen {
        left:-5000%;
        position: absolute;
        height:100%; width:100%;
    }




/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.3s linear opacity;
        transition:0.3s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }
    



/*  ================================================
    MiniReel classes
    ================================================ */    
    .MiniReel__group {
        padding:62.5% 0 9em 0;
        position:relative;
        background:#fff;
    }
        .MiniReel__group--brandedMR {
            padding:60% 0 11em 0;
        }





/*  ================================================
    Pager Nav classes
    ================================================ */ 
    .pager__group {
        height:3em;/*48px*/
        margin:0; display: block; 
        position: absolute; z-index: 1;
        left:0.5em; right:0.5em; bottom:0.5em;/*8px*/
    }


    .pager__btn {
        min-width:6em; height:3em; 
        position:absolute;
        background:#d94040;
    }
        .pager__btn[disabled] {
            opacity:0.25; cursor:default;
        }
            .pager__btn[disabled] .pager__label {
                color:#1b1b1b;
            }
            .pager__btn[disabled] .pager__btnIconPath {
                fill: #1b1b1b;
            }

        .pager__btn--prev {
            left:0;
        }
        .pager__btn--next {
            right:0;
        }

        .pager__btnIcon {
            display:block;
            width:0.8125em; height:1.5em;
            position:absolute;
            top:0.5625em; left:12.5%;
            margin:0;
        }
            .pager__btnIcon--next {
                right:12.5%; left:auto;
            }
                .pager__btnIconPath {
                    fill: #fff;
                }

        .pager__label {
            position:absolute; z-index: 1; 
            top:1em; left:40%;
        }
            .pager__btn--next .pager__label {
                right:40%; left:auto;
            }


    /* pages styles */
    .pages__group {
        position:absolute;
        height:3em; overflow: hidden; 
        margin:0;
    }
        .pages__scroller {
            position: relative; left: 0;
            -webkit-transition: 0.5s transform;
            transition: 0.5s transform;
        }
            .pages__list {
                margin:0; padding:0; 
                list-style: none;
                width:12000%;
            }
                .pages__item {
                    float:left;
                    width:5em; height:3em;
                    margin:0 1px; padding:0;
                    position:relative;
                    overflow: hidden;
                    border:0;
                }
                    .pages__navBtn,
                    .pages__page {
                        display: block;
                        width:100%; height:100%;
                        margin:0; border:0; padding:0;
                    }
                    .pages__page {
                        cursor: pointer;
                        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                    }
                        .pages__page--ad:after {
                            content:'Ad';
                            position: absolute;
                            top:2px; left:2px;
                            background:#000; color:#fff;
                            padding:0 2px;
                            font-size:0.625rem; font-weight:bold;
                        }
                        
                        .pages__previewImg {
                            position:absolute; top:0;
                            width:100%; height:100%; display: block;
                            background:no-repeat 50% 50% / 100%;
                        }

                            .pages__previewImg:before {
                                content:'';
                                background:#000;
                                position:absolute;
                                top:0; left:0;
                                width:100%; height:100%;
                                opacity:0.4;
                            }
                                .pages__page--active .pages__previewImg:before {
                                    opacity:0;
                                }
                            .pages__previewImg:after {
                                content:'';
                                position:absolute;
                                bottom:-4px; left:0;
                                width:100%; height:3px;
                                background:#d94040;
                                border-top:1px solid #fff;
                            }
                                .pages__page--active .pages__previewImg:after {
                                    bottom:0;
                                }

                        .pages__label {
                            display: block; width:100%;
                            position: absolute; top:-0.875rem; left:0;
                            color:#000; font-size:6rem; line-height: 1; font-weight: bold;
                            opacity:0.5;
                        }



    /* ad skip styles */
    .adSkip__group {
        background:#000; background:rgba(0,0,0,0.75);
        text-transform: uppercase; text-align: center; 
        font-weight:bold; font-size:0.875em; color:#fff;
        position:absolute; z-index: 4;
        width:100%; height:100%;
        box-sizing:border-box;
        padding-top:1.1875rem;
    }


/*  ==========================================================================
    Mini Reel Cards classes
    ========================================================================== */
    .slides__list, .slides__item,
    .slide__group {
        margin:0; padding:0; list-style:none;
        position:absolute; top:0; bottom:0; left:0; right:0;
    }
        .slides__item.hidden,
        .slides__list.hidden {
            height:0; overflow:hidden;
        }
        .slides__item.ng-animate {
            top: 0;
        }
        .player__group {
            margin:0; padding:0;
            width:100%;  position:relative;
            background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
        }
            
            .player__play-btn {
                width: 6.375rem;/*68px*/ height: 5.4375rem;/*58px*/
                padding: 0; margin: -3.875rem 0 0 -3.1875rem; border: 0; 
                cursor: pointer;
                background: rgba(0,0,0,0.8);
                position: absolute; left: 50%; top: 50%; z-index:1;
            }
                .player__play-icon {
                    height: 45%; width: 100%;
                    background: url('../../img/play-icon.svg') 50% 50% / contain no-repeat;
                }
            .mr-player, .player__thumbnail {
                position:absolute; width:100%; height:100%;
            }
                .mr-player iframe {
                    width:100%; height:100%; position:absolute;
                }
                .mr-player--fly-away {
                    left:-500%;
                }
            .player__thumbnail {
                background:50% 50% / 112% auto no-repeat;
            }
        .card__copy { 
            margin: 0 0.625em;
            overflow-y:auto; overflow-x:hidden;
        }
            .text--low .card__copy,
            .text--med .card__copy,
            .text--high .card__copy {
                height:4.5rem;
            }
            .text--max .card__copy {
                height:6.5rem;
            }
            .card__title {
                font-size:1rem;/*16px*/ color:#333; font-weight:normal;
                padding:0; margin:0.4em 0; line-height: 1.2;
            }
            .card__attributes {
                color:#999; font-size:0.75em;/*12px*/
            }
            .card__desc {
                margin:0; font-size:0.875rem;/*14px*/ 
                line-height:1.4286;
            }
        .text--low .player__height,
        .text--med .player__height,
        .text--high .player__height {
            height:calc(100% - 8.125rem); /*130*/
        }
        .text--max .player__height {
            height:calc(100% - 10.125rem); /*162*/
        }
            @media screen and (max-width:32.5rem) {
                /*max 520px*/
                .card__title {
                    font-size:0.8125rem;/*13px*/
                }
                .card__desc {
                    font-size:0.75rem;/*12px*/
                }
            }
            @media screen and (min-width:32.5625rem) and (max-width:35.625rem) {
                /*521px - 570px*/
                .card__title {
                    font-size:0.9375rem;/*15px*/
                }
                .card__desc {
                    font-size:0.8125rem;/*13px*/
                }
            }
            



/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0.5em 0;
    }


        .sponsorProfile__imgBox {
            width:3em; height:3em;
            float:left;
            border:1px solid #ddd;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:3em; height:3em;
                display: block;
            }


        .sponsorProfile__copy {
            margin:-0.5em 0 0 3.5em;
        }

            .sponsorProfile__tag {
                font-weight:normal;
            }
            
            .sponsorProfile__link {
                border:0;
            }


        .sponsor__actions {
            margin:1em 0;
            display: none;
        }
            .sponsor__goBtn {
                background:#d94040; 
                color:#fff; font-weight:bold;
                margin:0 0 1em 0; padding:0.75em 0.5em;
                border:0; border-radius:3px;
                display: inline-block;
                text-align: center; line-height:1;
            }



/*  ==========================================================================
    .ballot__module styles
    ========================================================================== */
    .ballot-module {
        position: absolute; width:100%;
        z-index: 2; left:0; top:0;
    }
    .ballot__group {
        position: absolute; z-index: 500; top:26%; bottom: 0; width:100%;
        text-align: center;
    }
        .mr-ballot__closer {
            z-index:-1; position: absolute;
            top:0; left:0; bottom:0; right:0;
        }
    .ballot__title {
        color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
        text-align: center; line-height: 1.4;
    }
    .ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .ballot__item {
            display:inline-block; margin:0 1em;
        }
            .ballot__btn {
                border:0; width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.25rem;/*20px*/ color:#fff; font-weight:bold; font-style: italic;
                cursor:pointer;
            }
                .ballot__btn0 {
                    background:#8ac12a;
                }
                .ballot__btn1 {
                    background:#19cbe6;
                }
                .ballot__btn-label {
                    font-size:1.125rem;/*18px*/ line-height: 1.33;
                }
        .ballot__textlink {
            position: absolute; margin: 0; bottom:0.625rem;/*10px*/ cursor: pointer;
        }
            .ballot__results {
                right: 1rem;
            }
            .ballot__watch-again {
                left: 1rem;
            }

        .ballot__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width:33.75rem) {
        /*max 540px*/
        .ballot__group {
            top:4rem;
        }
        .ballot__item {
            margin:0 0.5em;
        }
        .ballot__btn, .ballot__title {
            font-size:1em;
        }
        .ballot__btn {
            width:9em;
        }
    }

    @media screen and (max-width: 26.625rem) {
        /*426px*/
        .ballot__group {
            top:20%;
        }
        .ballot__btn-label {
            font-size: 0.875rem;
        }
        .ballot__btn {
            width:7.25em; height:4em;
        }
        .ballot__textlink {
            font-size: 0.75rem;
        }
    }


/*  ==========================================================================
    .results__group
    ========================================================================== */
    .results-module {
        position: absolute; width:100%;
        z-index: 2; left:0; top:0; opacity: 1;
        -ms-transition: opacity 1s 0.15s;
        -moz-transition: opacity 1s 0.15s;
        -webkit-transition: opacity 1s 0.15s;
        transition: opacity 1s 0.15s;
    }
        .results-module.ng-hide {
            opacity:0;
        }
        .results-module.ng-hide-remove, .results-module.ng-hide-add {
            display: block !important;
        }
    .results__group {
        position: absolute; height: 100%; padding: 0 10% 0;
        z-index: 2; left:0; right: 0; top:0; background-color: rgba(0,0,0,0.8);
    }
        .results__title {
            color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
            text-align: center; line-height: 1.4; margin-top: 26%;
        }
        .results__list {
            margin:0; padding:0; list-style:none;
        }
            .results__item {
                display:inline-block; width:50%;
            }
                .results__item1 {
                    text-align: right;
                }
                .results__option {
                    font-weight:400; font-style:italic; font-size:1em; line-height: 1.5;
                    margin:0;
                }
                .results__tally {
                    font-weight:900; font-style: italic; font-size:1.375em;/*22px*/ line-height: 1;
                    margin:0 0 0.7273em;/*16px*/ 
                }
                    .results__item0 .results__option, .results__item0 .results__tally {
                        color:#8ac12a;
                    }
                    .results__item1 .results__option, .results__item1 .results__tally {
                        color:#19cbe6;
                    }
        .results__meter {
            background:#19cbe6;
            height:1.75em;/*28px*/ width:100%;
            overflow: hidden;
        }
            .results__bar1 {
                height:1.75em; background:#8ac12a; border-right:1px solid #000;
            }
        .results__watch-again {
            display: block; margin: 3em auto 0; cursor: pointer; width: 10em;
        }

        .results__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width: 33.75rem) {
        /*540px*/
        .results__title {
            font-size: 1em; margin-top: 20%;
        }
        .results__meter {
            height: 1.25em;
        }
            .results__option {
                font-size: 0.875em;
            }
            .results__tally {
                font-size: 1em;
            }
        .results__watch-again {
            font-size: 0.875em;
        }
    }
    @media screen and (max-width: 25rem) {
        /*400px*/
        .results__title {
            margin-top: 15%;
        }
        .results__watch-again {
            margin: 1.5em auto 0;
        }
    }


/*  ==========================================================================
    Ad styles
    ========================================================================== */
    /* .ad__group { 
        position: relative; min-height:18.75rem; height:calc(100% - 4.5rem); width: 100%;
        overflow:hidden; 
    } */
    .ad__group { 
        position: relative; padding:70% 0 0 0;
        width: 100%; height:0;
    }
    .ad__group .player__play-btn {
        margin-top:-2.71875rem;
    }
    /*  Video Ad styles
    ====================================================== */
    .adVideo__group {
        position:absolute; top:0;
        width:100%; height:100%;
    }
    .adVideo__label {
        font-size: 0.75em; color: #929292; text-align: center;
        margin:0;
        position:absolute; left:0; right:0;
    }
    .adVideo__videoHolder {
        position:relative;
        width:100%; height:100%;
        text-align: center;
        background: #000;
    }
        .adVideo__video {
            width:100%; height:100%;
            position:absolute; top:0; left:0;
        }
    
    /*  Display Ad styles
    ====================================================== */
    .adDisplay__group {
        width: 18.75rem;
        text-align: center;
        position:absolute; top:50%; left:50%;
        margin:-10rem 0 0 -9.375rem;
    }
        .adDisplay__view {
            width:18.75rem; height:15.625rem;
            border:0;
        }
            .adDisplay__view iframe {
                border:0; margin:0;
                width:100%; height:100%;
            }

/*  ==========================================================================
    More Reels card classes
    ========================================================================== */
    .more-reels__intro {
        font-size:0.875rem; color:#929292; font-weight:300; text-align: center;
        background: #1b1b1b; margin:0; padding: 0.125rem 0 0.4375rem 0;
    }
        .more-reels__preview {
            background:url('../../img/more-reels__preview.jpg') 50% 50% / cover no-repeat; 
            border:0; margin:0; padding:0; 
            position: absolute; width:100%; height:100%;
        }
            .more-reels__preview-img {
                width:100%;
            }
            .more-reels__desc {
                margin: -0.5em 0 0 0;/*8px*/ font-size:0.8125rem;/*13px*/ 
                color:#c2c2c2; line-height:1.69; height: 4.875rem;/*78px*/
            } 


/*  ==========================================================================
    recap card classes
    ========================================================================== */
    .recap__group {
        margin:0 0.375rem; 
        position:relative;
        height:100%;
    }
        .recap__intro {
            font-size:0.875rem; color:#929292; font-weight:300; text-align: left;
            margin:0; padding: 0.125rem 0 0.4375rem 0;
        }
            .recap__list {
                width:100%;
                position: absolute; top:1.9375em; bottom:3.625em;
                overflow-y:auto; overflow-x:hidden;
                margin:0; padding:0; list-style: none;
                border-top:1px dotted #565656;
                border-bottom:1px dotted #565656;
            }
                .recap__item {
                    position:relative;
                    padding:0.75em 0 0.75em 0; border-bottom:1px dotted #565656;
                    -moz-box-sizing: border-box; box-sizing: border-box; 
                    cursor:pointer;
                }
                    .recap__item:last-child {
                        border-bottom:0;
                    }
                    .recap__imgBtn {
                        width:27%; height:0; display:block;
                        border:0; margin:0; padding:0 0 18% 0;
                        font-size:1rem;
                        background:url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                        float:left;
                        position:relative;
                        cursor:pointer;
                    }
                        .recap__imgBtn--ad:before {
                            content:'Ad';
                            position: absolute;
                            top:2px; left:2px;
                            background:#000; color:#fff;
                            padding:0 2px;
                            font-size:0.625rem; font-weight:bold;
                            z-index: 1;
                        }
                        .recap__imgBox {
                            display: block;
                            position:absolute; top:0; left:0; bottom:0; right:0;
                            background: 50% 50% / auto 136% no-repeat;
                        }
                    .recap__copyBox {
                        float:right;
                        width:71.3%;
                    }
                        .recap__copyBox .card__title-h1 {
                            font-size:1.125em;
                            margin:0.25em 0; padding:0;
                            color:#333;
                        }
                        .recap__ballotInfo {
                            color:#999; font-size:0.875em;
                        }
                            .recap__ballotQuestion {
                                font-size:1em; font-weight:normal;
                                margin:0;
                            }
                                .recap__ballotQuestion strong {
                                    color:#333; font-style:italic;
                                }
                            .recap__ballotResults {
                                margin:0;
                            }
                            .recap__ballotA {
                                color:#8ac12a;
                            }
                            .recap__ballotB {
                                color:#19cbe6;
                            } 


/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .splash__group {
        position:absolute; z-index: 2; top:0; right:0; left:0; bottom:0;
        background:#000; 
    }
    .splash__start {
        position:absolute; top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:none;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }
