<section class="mr-ballot__group">
    <ul ng-hide="!!vote || vote === 0">
        <li class="mr-ballot__item mr-ballot__item{{$index}}" ng-repeat="this in ballot.choices">
            <button ng-click="Ctrl.vote($index)">{{this.button}}</button>
        </li>
    </ul>
    <ul ng-show="!!vote || vote === 0">
        <li ng-repeat="this in ballot.choices">
            <strong>{{this.button}}:</strong> {{Ctrl.results[$index] | percent}}
        </li>
    </ul>
</section>
<div class="mr-overlay">&nbsp;</div>