<section class="mr-ballot__group">
    <h2 class="mr-ballot__title tk--hdr">What did you think of this video?</h2>
    <ul class="mr-ballot__list">
        <li class="mr-ballot__item mr-ballot__item{{$index}}" ng-repeat="this in ballot.choices">
            <button class="mr-ballot__btn mr-ballot__btn{{$index}}" ng-click="Ctrl.vote($index)"><span class="mr-ballot__btn-label">{{this.button}}</span></button>
        </li>
    </ul>
    <p class="mr-ballot__textlink"><a ng-click="Ctrl.pass()" title="Show Voting Results">Show Voting Results</a></p>
    <p class="mr-ballot__textlink"><a ng-click="onDismiss()">Watch Again</a></p>
</section>
<div class="mr-overlay" ng-click="onDismiss()">&nbsp;</div>