<c6-drag-space class="table__group" controller-as="DragCtrl" id="drag-space">
    <div class="table__left-zone" id="scroll-left" c6-drag-zone>&nbsp;</div>
    <ul id="card-scroller" class="card__list" c6-bind-scroll="Ctrl.position">
        <li class="card__list-item">
            <div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-style="{ visibility: $index === (deck.length - 1) ? 'hidden' : '' }">
                <button ng-click="addCard({ index: 0 })" class="new__button ui__add sprite--alpha"><span class="ir">Add Here</span></button>
            </div>
        </li>
        <li class="card__list-item" render-deck="deck">
            <div class="card__container card--{{this.type}}"
                ng-class="{
                    'card__container--dragging': DragCtrl.currentDrags[0] === DragCtrl.draggables[this.id]
                }"
                id="container-{{this.id}}"
                c6-drag-zone>
                <h4 class="card__type">{{$index + 1}}. {{this.label}}</h4>
                <button ng-show="$index !== (deck.length - 1)" ng-click="deleteCard({ card: this })" class="card__deleteBtn" type="button" title="Delete Card">
                    <span class="ui__xSmall ui__xSmall--white sprite--alpha"><span class="ir">Delete Card</span></span>
                </button>
                <div id="{{this.id}}" data-title="{{this.title}}" c6-draggable="$index !== (deck.length - 1)" ng-click="editCard({ card: this })" class="card__item">
                    <div class="card__statusIndicator">
                        <span class="ui__editToolTip">
                            <span class="ui__edit sprite--alpha"><span class="ir">Edit</span></span>
                            Edit
                        </span>
                    </div>
                    <div class="card__imgBox">
                        <div class="miniReel__imgBox"
                            style="background-image:url('{{Ctrl.getThumbs(this).large}}');">
                            &nbsp;
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__copy">
                            <h1 class="card__title"><span class="card__titleText">{{this.title}}</span></h1>
                            <p class="card__summary">{{this.note}}</p>
                        </div>
                        <div class="ui__divider--pause">&hellip;</div>
                    </div>
                </div>
                <div class="card__contextBar">
                    <a href="#" title="Preview This Card" ng-click="previewCard({ card: this })">Preview This Card</a>
                </div>
            </div><!--
            --><div id="drop-zone-{{this.id}}" data-title="{{this.title}}" ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[this.id] && $index !== (deck.length - 1)" c6-drag-zone="Ctrl.enableDrop" class="card__drop-zone">&nbsp;</div><!--
            --><div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-style="{ visibility: $index === (deck.length - 1) ? 'hidden' : '' }">
            <button ng-click="addCard({ index: $index + 1 })" class="new__button ui__add sprite--alpha" id="zone-{{this.id}}" data-index={{$index}}><span class="ir">Add Here</span></button>
            </div>
        </li>
    </ul>
    <div class="table__right-zone" id="scroll-right" c6-drag-zone>&nbsp;</div>
</c6-drag-space>
