<c6-drag-space class="table__group" controller-as="DragCtrl" id="drag-space" c6-drag-zone>
    <div class="table__left-zone" id="scroll-left" c6-drag-zone>&nbsp;</div>
    <ul class="card__list" c6-bind-scroll="Ctrl.position">
        <li class="card__list-item" render-deck="deck">
            <div class="card__container"
                ng-class="{
                    'card__container--dragging': DragCtrl.currentDrags[0] === DragCtrl.draggables[this.id]
                }"
                id="container-{{this.id}}"
                c6-drag-zone>
                <h4 class="card__type">Card #. Card Type</h4>
                <div id="{{this.id}}" c6-draggable="$index !== 0 && $index !== (deck.length - 1)" class="card__item">
                    <div class="card__statusIndicator" ng-click="editCard({ card: this })">&nbsp;</div>
                    <div class="miniReel__imgBox">
                        <img src="http://lorempixel.com/300/200/" class="miniReel__img" alt="{{this.title}}">
                    </div>
                    <div class="miniReel__body">
                        <div class="miniReel__copy">
                            <h1 class="miniReel__title"><span class="miniReel__titleText">{{this.title}}</span></h1>
                            <p class="miniReel__summary">{{this.summary}}</p>
                        </div>
                        <div class="ui__divider--pause">&hellip;</div>
                    </div>
                </div>
                <div class="card__contextBar">
                    <a href="#" title="Preview This Card" ng-click="previewCard({ card: this })">Preview This Card</a>
                </div>
            </div><!--
            --><div id="drop-zone-{{this.id}}" ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[this.id] && $index !== (deck.length - 1)" c6-drag-zone class="card__drop-zone">&nbsp;</div><!--
            --><div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-style="{ visibility: $index === (deck.length - 1) ? 'hidden' : '' }">
                <button class="new__button ui__add sprite--alpha" id="zone-{{this.id}}" data-index={{$index}}><span class="ir">Add Here</span></button>
            </div>
        </li>
    </ul>
    <div class="table__right-zone" id="scroll-right" c6-drag-zone>&nbsp;</div>
</c6-drag-space>
