<section class="mr-comments">
    <h1 class="mr-comments__title">Comments(59)</h1>
    <form class="mr-comments__form">
        <div class="mr-comments__hdr-bar">
            <label class="mr-comments__hdr-label" for="comment">Join the Discussion</label>
        </div>
        <div class="mr-comments__body mr-card-shadow clearfix">
            <textarea class="mr-comments__textarea" name="comment" ng-model="Ctrl.userComment.message"></textarea>
            <button class="mr-comments__post-btn" ng-click="Ctrl.userComment.post()" ng-disabled="!Ctrl.userComment.message" type="button">Post</button>
        </div>
        <div>
            <select class="mr-comments__select" ng-model="Ctrl.showFriendsFirst"
                ng-options="label for (label, value) in Ctrl.sortOptions">
            </select>
        </div>
    </form>
    <ul ng-if="!Ctrl.showFriendsFirst">
        <li ng-repeat="this in Ctrl.comments">
            <header>
                <h3>{{this.user.name}}</h3>
                <small>{{this.date | timestamp}}</small>
            </header>
            <article>
                <p>{{this.message}}</p>
            </article>
        </li>
    </ul>
    <ul ng-if="Ctrl.showFriendsFirst">
        <li ng-repeat="this in Ctrl.commentsByFriends">
            <header>
                <h3>{{this.user.name}}</h3>
                <small>{{this.date | timestamp}}</small>
            </header>
            <article>
                <p>{{this.message}}</p>
            </article>
        </li>
        <li>Divider</li>
        <li ng-repeat="this in Ctrl.commentsByStrangers">
            <header>
                <h3>{{this.user.name}}</h3>
                <small>{{this.date | timestamp}}</small>
            </header>
            <article>
                <p>{{this.message}}</p>
            </article>
        </li>
    </ul>
</section>