<div ng-if="model.dialog">
    <div c6-alias="model.dialog as dialog" class="ui__modal ui__modal--confirmation">
        <h1 ng-show="dialog.prompt" class="modal__title">{{dialog.prompt}}</h1>
        <div ng-show="dialog.message" class="modal__message">
            {{dialog.message}}
        </div>
        <footer class="modal__btnFooter modal__btnFooter--confirmation">
            <button class="modal__btn toolbar__confirm" ng-click="dialog.onAffirm()" title="{{dialog.affirm}}">{{dialog.affirm}}</button>
            <button class="modal__btn toolbar__neutral" ng-click="dialog.onCancel()" title="{{dialog.cancel}}">{{dialog.cancel}}</button>
        </footer>
        <button ng-click="dialog.onDismiss()" class="modal__closeBtn sprite--alpha"><span class="ir">Close</span></button>
    </div>
    <div class="ui__overlay">&nbsp;</div>
</div>