<div ng-if="model.dialog">
    <div class="ui__modal ui__modal--confirmation">
        <c6-alias model="model.dialog" as="dialog">
            <h1 class="modal__title">{{dialog.prompt}}</h1>
            <footer class="modal__btnFooter modal__btnFooter--confirmation">
                <button class="modal__btn toolbar__confirm" ng-click="dialog.onAffirm()" title="{{dialog.affirm}}">{{dialog.affirm}}</button>
                <button class="modal__btn toolbar__delete" ng-click="dialog.onCancel()" title="{{dialog.cancel}}">{{dialog.cancel}}</button>
            </footer>
        </c6-alias>
    </div>
    <div class="ui__overlay">&nbsp;</div>
</div>