<div class="mr-card__group mr-vast__group">
    <div class="mr-vast__player">
        <video class="mr-vast__video"
            ng-style="{visibility: (active ? 'visible' : 'hidden')}" 
            c6-video id="{{config.id}}" c6-src="Ctrl.videoSrc"></video>
    </div>
    <h1 class="mr-vast__title-h1">Advertisement</h1>
    <section>
        <ballot-module ng-if="Ctrl.hasModule('ballot')"
            active="config._data.modules.ballot.active"
            fetch-results-when="onDeck || active"
            card-id="{{config.id}}"
            ballot="config.ballot"
            vote="config._data.modules.ballot.vote">
        </ballot-module>
        <comments-module ng-if="Ctrl.hasModule('comments')"
            card-id="{{config.id}}"
            fetch-comments-when="onDeck || active">
        </comments-module>
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="config._data.modules.displayAd.active"
            ad-src="{{config.displayAd}}">
        </display-ad-module>
    </section>
</div>