<div class="mr-player">
    <video ng-style="{visibility: (active ? 'visible' : 'hidden')}" c6-video id="{{config.id}}" c6-src="Ctrl.videoSrc" style="width:100%; height:100%; position:absolute;"></video>
</div>
<div class="mr-card">
    <div class="mr-card__title">
        <h1 class="mr-card__title-h1">Advertisement</h1>
    </div>
    <div class="mr-card__copy">Click Video to Watch</div>
</div>
<section>
    <ballot-module ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.active"
        fetch-results-when="onDeck || active"
        card-id="{{config.id}}"
        ballot="config.ballot"
        vote="config._data.modules.ballot.vote">
    </ballot-module>
    <comments-module ng-if="Ctrl.hasModule('comments')"
        card-id="{{config.id}}"
        fetch-comments-when="onDeck || active">
    </comments-module>
    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}">
    </display-ad-module>
</section>
