<video c6-video id="{{config.id}}" c6-src="config.data.src" c6-controls="true"></video>
<section>
    <ballot-module ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.active"
        fetch-results-when="onDeck"
        card-id="{{config.id}}"
        ballot="config.ballot"
        vote="config._data.modules.ballot.vote">
    </ballot-module>
    <comments-module ng-if="Ctrl.hasModule('comments')"
        card-id="{{config.id}}"
        fetch-comments-when="onDeck">
    </comments-module>
</section>
