<div class="videoPlayer">
    <div ng-switch="service" ng-if="!!videoid">
        <youtube-player ng-switch-when="youtube" videoid="{{videoid}}"></youtube-player>
        <vimeo-player ng-switch-when="vimeo" id="preview" videoid="{{videoid}}"></vimeo-player>
        <iframe class="vidFrame" ng-switch-when="dailymotion" frameborder="0" width="480" height="270" src="{{'http://www.dailymotion.com/embed/video/' + videoid}}" allowfullscreen></iframe>
    </div>
</div>
<video-trimmer start="start"
    end="end"
    duration="{{video.duration}}"
    current-time="currentTime"
    on-start-scan="onMarkerSeek(promise)"
    on-end-scan="onMarkerSeek(promise)">
</video-trimmer>
