<ballot-vote-module 
    class="mr-ballot-module c6-fade css-promote"
    ng-if="Ctrl.hasModule('ballot')"
    active="config._data.modules.ballot.active"
    ballot="config.ballot"
    vote="config._data.modules.ballot.vote"
    on-dismiss="Ctrl.dismissBallot()">
</ballot-vote-module>
<article>
    <div class="mr-card mr-card-shadow">
        <div class="clearfix">
            <div class="mr-card__title">
                <h1 class="mr-card__title-h1">{{config.title}}</h1>
                <p class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">{{config.source}}</a></p>
            </div>
            <div ng-class="{'mr-player--fly-away': Ctrl.flyAway}" class="mr-player"><!-- actual player will be inserted into this container --></div>
            <div ng-show="Ctrl.flyAway">
                <img ng-src="{{config.thumbs.large}}">
            </div>
        </div>
        <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
            active="config._data.modules.ballot.vote !== null"
            ballot="config.ballot"
            vote="config._data.modules.ballot.vote"
            card-id="{{config.id}}"
            fetch-when="onDeck || active">
        </ballot-results-module>
        <div class="mr-card__copy">{{config.note}}</div>
    </div><!--.mr-card-->
    <comments-module ng-if="Ctrl.hasModule('comments')"
        card-id="{{config.id}}"
        fetch-comments-when="onDeck || active">
    </comments-module>
    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}">
    </display-ad-module>
</article>
