<article class="mr-card__group threshold-320">
    <ballot-vote-module 
        class="mr-ballot-module css-promote"
        ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.active"
        ballot="config.ballot"
        vote="config._data.modules.ballot.vote"
        on-dismiss="Ctrl.dismissBallot()">
    </ballot-vote-module>
    <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.vote !== null"
        ballot="config.ballot"
        vote="config._data.modules.ballot.vote"
        card-id="{{config.id}}"
        fetch-when="onDeck || active">
    </ballot-results-module>

    <div class="mr-player__group">
        <div ng-class="{'mr-player--fly-away': Ctrl.flyAway}" class="mr-player threshold-320"><!-- actual player will be inserted into this container --></div>
        <div ng-show="Ctrl.flyAway" class="mr-player__thumbnail threshold-320"
            ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
            <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
        </div>
    </div>
    
    <div class="mr-card__copy">
        <div class="mr-card__title">
            <h1 class="mr-card__title-h1 tk--hdr">{{config.title}}</h1>
            <button class="mr-card__btn">
                <span class="mr-card__icon">
                    <span class="ir">Open</span>
                </span>
            </button>
        </div>
        <div class="mr-card__desc">{{config.note}}</div>
    </div><!--.mr-card__copy-->
    
    <!--<comments-module ng-if="Ctrl.hasModule('comments')"
        card-id="{{config.id}}"
        fetch-comments-when="onDeck || active">
    </comments-module>-->
    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}">
    </display-ad-module>
</article>
