<div class="card__group ad__group">
    <div class="adVideo__group">
        <div class="js-playerBox player">
            <ng-switch on="Ctrl.adType">
                <vpaid-player ng-switch-when="vpaid" videoid="{{config.id}}-player" ad-tag="{{Ctrl.adTag}}"></vpaid-player>
                <vast-player class="playerBox" ng-switch-when="vast" videoid="{{config.id}}-player" ad-tag="{{Ctrl.adTag}}"></vast-player>
            </ng-switch>
        </div>
        <button style="z-index:2;" ng-show="Ctrl.showPlay" ng-click="Ctrl.player.play()" class="player__playBtn">
            <div class="player__playIcon">
                <span class="ir">Play Video</span>
            </div>
        </button>
    </div>
</div>

<p class="adVideo__label">Advertisement</p>