<div class="displayAdCard__group">
    <p class="displayAdBrand__tagline">Presented by
        <a href="!!!!BRAND LINK!!!!" target="_blank" 
        class="displayAdBrand__taglineLink"
        title="!!!!BRAND NAME!!!!">
            !!!!BRAND NAME!!!!
        </a>
    </p>
    <display-ad-module active="active"
        class="displayAdCard__adModule"
        config="config">
    </display-ad-module>
    <div class="displayAdBrand__linksBox">
        <a href="!!!!BRAND OFFICIAL LINK!!!!"
        title="!!!!BRAND NAME!!!! - Official Website"
        target="_blank"
        class="displayAdBrand__link">
            <span class="displayAdBrand__linkLabel">Official Website</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="!!!!SOCIAL MEDIA SITE NAME!!!!"
        target="_blank"
        class="displayAdBrand__link tk--youtube">
            <span class="sprite socialIcons socialIcons--youtube">&nbsp;</span>
            <span class="displayAdBrand__linkLabel">YouTube</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="!!!!SOCIAL MEDIA SITE NAME!!!!"
        target="_blank"
        class="displayAdBrand__link tk--vimeo">
            <span class="sprite socialIcons socialIcons--vimeo">&nbsp;</span>
            <span class="displayAdBrand__linkLabel">Vimeo</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="!!!!SOCIAL MEDIA SITE NAME!!!!"
        target="_blank"
        class="displayAdBrand__link tk--facebook">
            <span class="sprite socialIcons socialIcons--facebook">&nbsp;</span>
            <span class="displayAdBrand__linkLabel">Facebook</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="!!!!SOCIAL MEDIA SITE NAME!!!!"
        target="_blank"
        class="displayAdBrand__link tk--twitter">
            <span class="sprite socialIcons socialIcons--twitter">&nbsp;</span>
            <span class="displayAdBrand__linkLabel">Twitter</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="!!!!SOCIAL MEDIA SITE NAME!!!!"
        target="_blank"
        class="displayAdBrand__link tk--pinterest">
            <span class="sprite socialIcons socialIcons--pinterest">&nbsp;</span>
            <span class="displayAdBrand__linkLabel">Pinterest</span>
        </a>
    </div>
</div>