<article class="mr-card__group c6-height-limiter">
    <div class="mr-switch__group">
        <h3 class="mr-more-reels__intro tk--hdr clearfix">{{config.data.message}}</h3>
        <div class="mr-switch__counter tk--hdr clearfix">1/16</div>
    </div>

    <div class="mr-more-reels__group">
        <button class="mr-more-reels__preview" type="button"
            title="{{this.title}}">
            <span class="ir"><img src="http://lorempixel.com/800/400/" class="more-reels__preview-img"></span>
        </button>
        <div class="mr-more-reels__copy" ng-repeat="this in Ctrl.miniReels">
            <h1 class="mr-more-reels__title tk--hdr">{{this.title}}</h1>
            <p class="mr-more-reels__desc">{{this.summary}}</p>
            <p class="mr-more-reels__link"><a>Watch Now</a></p>
        </div>
    </div>
</article>