<button class="pages__page" ng-disabled="disableWhen()" ng-click="onSelect();" type="button" 
	title="Video {{index + 1}} : {{card.title}}"
	ng-class="{'pages__page--active': active}">
	<span class="pages__current-indicator">
		<span class="ir">Current Page</span>
	</span>
	<span class="pages__label">{{index + 1}}</span>
	<span class="pages__fader">&nbsp;</span>
	<span class="pages__preview-img"
        ng-style="{ backgroundImage: thumb }">
        <span class="ir">Video {{index + 1}} : {{card.title}}</span>
    </span>
</button>