<div class="slide__group recap__group">
    <ul class="recap__list clearfix">
        <li class="recap__item clearfix" ng-repeat="card in Ctrl.deck" 
        ng-click="Ctrl.jumpTo(card)">
            <div class="recap__imgBox"
            ng-class="{'recap__imgBox--ad' : card.params.ad}">
                <div class="recap__img" style="background-image:url({{card.thumbs.large}});">&nbsp;</div>
            </div>
            <div class="recap__copyBox">
                <h1 class="recap__title tk--hdr">
                    {{card.title}}
                    <span ng-if="!card.data.hideSource" ng-show="!!card.source" class="card__attributes">via 
                        <a ng-href="{{card.webHref}}" target="_blank" 
                        title="{{card.source}}"
                        ng-click="$event.stopPropagation()">{{card.source}}</a>
                    </span>
                    <span ng-if="!!card.params.sponsor" class="card__attributes card__attributes--sponsor">sponsored by  
                        <a ng-href="{{card.links.Website}}"
                            target="_blank"
                            title="{{card.params.sponsor}}"
                            ng-click="$event.stopPropagation()">
                            {{card.params.sponsor}}
                        </a>
                    </span>
                </h1>
                <div class="recap__ballotInfo" ng-show="card.hasModule('ballot')">
                    <h3 class="recap__ballotQuestion">Questionnaire: <strong>{{card.ballot.prompt}}</strong></h3>
                    <p class="recap__ballotResults">
                        <span class="recap__ballotA">
                            {{card.ballot.choices[0]}} <strong>{{card.ballot.results[0].votes | percent}}</strong>
                        </span> &nbsp;&nbsp;|&nbsp;&nbsp;
                        <span class="recap__ballotB">
                            {{card.ballot.choices[1]}} <strong>{{card.ballot.results[1].votes | percent}}</strong>
                        </span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
