<div class="mr-card__group mr-vast__group c6-height-limiter">
    <div ng-style="{visibility: Ctrl.showVideo ? 'visible' : 'hidden'}" class="mr-player">
        <div style="text-align:center;">
            <button ng-click="Ctrl.pauseAd()">PAUSE</button>
            <button ng-click="Ctrl.resumeAd()">RESUME</button>
        </div>
    </div>

    <section>
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="config._data.modules.displayAd.active"
            ad-src="{{config.displayAd}}"
            ad-object="Ctrl.companion">
        </display-ad-module>
    </section>
    <p class="mr-vast__watch-again tk--hdr"
        ng-show="config._data.modules.displayAd.active">
        <a ng-click="Ctrl.reset()" href="" title="Watch the Video">Watch the Video</a>
    </p>
</div>
