<div class="displayAdCard__group">
    <p ng-if="!!config.params.sponsor"
        class="displayAdBrand__tagline">
        Presented by
        <a ng-href="{{config.links.Website}}"
            target="_blank"
            class="displayAdBrand__taglineLink textLink"
            title="{{config.params.sponsor}}">
            {{config.params.sponsor}}
        </a>
    </p>
    <display-ad-module active="active"
        class="displayAdCard__adModule"
        config="config">
    </display-ad-module>
    <div ng-if="!!config.links.Website || config.social.length > 0" class="displayAdBrand__linksBox">
        <a ng-if="!!config.links.Website"
            ng-href="{{config.links.Website}}"
            title="{{config.params.sponsor}} - Official Website"
            target="_blank"
            class="displayAdBrand__link">
            <span class="displayAdBrand__linkLabel textLink">Official Website</span>
        </a>
        <a ng-repeat="link in config.social"
            ng-href="{{link.href}}"
            title="{{link.label}}"
            target="_blank"
            class="displayAdBrand__link tk--{{link.type}} spriteBe socialIconsBe socialIconsBe--{{link.type}}">
            <span class="displayAdBrand__linkLabel textLink">{{link.label}}</span>
        </a>
    </div>
</div>