<article class="mr-card__group mr-more-reels__group c6-height-limiter">
    <!--<div class="mr-card__player">-->
        <div class="mr-player__group">
            <div class="mr-player c6-height-limiter">
                <h3 class="mr-more-reels__intro">{{config.data.message}}</h3>
                <button class="mr-more-reels__preview c6-height-limiter" type="button"
                    title="{{this.title}}">
                    <span class="ir">Click to Watch</span>
                </button>
            </div>
        </div>
    <!--</div>-->
    <c6-alias model="Ctrl.miniReels[0]" as="this">
        <copy-expander title="{{this.title}}"
            note="{{this.summary}}"
            touch="profile.touch">
        </copy-expander>
    </c6-alias>
</article>
