<article class="mr-card__group mr-recap__group c6-height-limiter">
    <h3 class="mr-recap__intro tk--hdr">You just watched : &ldquo;<em>{{Ctrl.title}}</em>&rdquo;</h3>

    <div class="mr-recap__copy">
        <ul class="mr-recap__list">
            <li class="mr-recap__item clearfix" ng-repeat="card in Ctrl.deck">
                <button class="mr-recap__imgBtn" type="button" ng-click="Ctrl.jumpTo(card)">
                    <span class="mr-recap__imgBox" style="background-image:url({{card.thumbs.large}});">&nbsp;</span>
                </button>
                <div class="mr-recap__copyBox">
                    <h1 class="mr-card__title-h1 tk--hdr" ng-click="Ctrl.jumpTo(card)">{{card.title}}</h1>
                    <p class="mr-card__attributes">via <a ng-href="{{card.webHref}}" target="_blank" title="{{card.source}}">{{card.source}}</a></p>
                    <div class="mr-recap__ballotInfo" ng-show="card.hasModule('ballot')">
                        <h3 class="mr-recap__ballotQuestion">Questionnaire: <strong>{{card.ballot.prompt}}</strong></h3>
                        <p class="mr-recap__ballotResults">
                            <span class="mr-recap__ballotA">
                                {{card.ballot.choices[0]}} <strong>{{card.ballot.results[0].votes | percent}}</strong>
                            </span> &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="mr-recap__ballotB">
                                {{card.ballot.choices[1]}} <strong>{{card.ballot.results[1].votes | percent}}</strong>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>

<!--<article class="mr-card__group mr-more-reels__group c6-height-limiter">
        <div class="mr-player__group">
            <div class="mr-player c6-height-limiter">
                <h3 class="mr-more-reels__intro">{{config.data.message}}</h3>
                <button class="mr-more-reels__preview c6-height-limiter" type="button"
                    title="{{this.title}}">
                    <span class="ir">Click to Watch</span>
                </button>
            </div>
        </div>
    <c6-alias model="Ctrl.miniReels[0]" as="this">
        <copy-expander title="{{this.title}}"
            note="{{this.summary}}"
            touch="profile.touch">
        </copy-expander>
    </c6-alias>
</article>-->