<article class="card__group">
    <div class="textOnly__imgBox" ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
        <h1 class="textOnly__title tk--hdr">{{config.title}}</h1>
    </div>

    <div class="textOnly__copy">
        <div class="card__desc" ng-bind-html="config.note"></div>
        <button class="textOnly__goBtn btnPrimary" type="button"
        ng-click="$emit('<mr-card>:contentEnd', config)" title="Begin">
            <span class="btn__label tk--action">Begin</span>
        </button>
    </div>
</article>
