<div class="card">
    <video ng-style="{visibility: (active ? 'visible' : 'hidden')}" c6-video id="{{config.id}}" c6-src="config.data.src"></video>
    <section>
        <ballot-vote-module ng-if="Ctrl.hasModule('ballot')"
            active="config._data.modules.ballot.active"
            ballot="config.ballot"
            vote="config._data.modules.ballot.vote"
            on-dismiss="Ctrl.dismissBallot()">
        </ballot-vote-module>
        <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
            active="config._data.modules.ballot.vote !== null"
            ballot="config.ballot"
            vote="config._data.modules.ballot.vote"
            card-id="{{config.id}}"
            fetch-when="onDeck || active">
        </ballot-results-module>
        <comments-module ng-if="Ctrl.hasModule('comments')"
            card-id="{{config.id}}"
            fetch-comments-when="onDeck || active">
        </comments-module>
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="config._data.modules.displayAd.active"
            ad-src="{{config.displayAd}}">
        </display-ad-module>
    </section>
</div>
