<div class="card__group ad__group">
    <div class="adVideo__group" ng-style="{visibility: Ctrl.showVideo ? 'visible' : 'hidden'}">
        <div class="mr-player"></div>
        <button style="z-index:2;" ng-if="Ctrl.enablePlayButton" ng-show="Ctrl.showPlay" ng-click="Ctrl.playVideo()" class="player__play-btn">
            <div class="player__play-icon">
                <span class="ir">Play Video</span>
            </div>
        </button>
    </div>

    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}"
        companion="Ctrl.companion">
    </display-ad-module>
</div>
<p class="adVideo__label">Advertisement</p>