<div class="mr-card__group mr-vast__group">
    <div ng-style="{visibility: Ctrl.showVideo ? 'visible' : 'hidden'}" class="mr-vast__player">
        <div ng-style="{visibility: Ctrl.showVideo ? 'visible' : 'hidden'}" class="mr-player mr-vast__player">
            <!-- <video class="mr-vast__video c6-height-limiter"
                c6-video id="{{config.id}}" c6-src="Ctrl.videoSrc"></video> -->
            <div style="text-align:center;">
                <button ng-click="Ctrl.pauseAd()">PAUSE</button>
                <button ng-click="Ctrl.playAd()">PLAY</button>
                <button ng-click="Ctrl.destroy()">DESTROY</button>
            </div>

        </div>
    <h1 class="mr-vast__title-h1 tk--hdr">Advertisement</h1>
    </div>
    <section>
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="config._data.modules.displayAd.active"
            ad-src="{{config.displayAd}}">
        </display-ad-module>
    </section>
    <p class="mr-vast__watch-again tk--hdr"
        ng-show="config._data.modules.displayAd.active">
        <a ng-click="Ctrl.reset()" href="" title="Watch the Video">Watch the Video</a>
    </p>
</div>
