/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:black; border-bottom:1px dotted black;
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #cc1100;
    }