/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#4394cb; border-bottom:1px dotted #4394cb;
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #4394CB;
    }