<article class="card__group">
    <div class="player__group">
        <button ng-if="Ctrl.enablePlay" ng-show="Ctrl.showPlay" 
        ng-click="Ctrl.playVideo()" class="player__playBtn">
            <div class="player__playIcon">
                <span class="ir">Play Video</span>
            </div>
        </button>
        <div class="js-playerBox player" ng-switch="Ctrl.adType"
        ng-class="{'ui--offscreen': Ctrl.flyAway}">
            <vpaid-player ng-switch-when="vpaid" ad-tag="{{Ctrl.adTag}}" videoid="{{config.id}}"></vpaid-player>
            <vast-player ng-switch-when="vast" ad-tag="{{Ctrl.adTag}}" videoid="{{config.id}}" controls></vast-player>
        </div>
        <div class="player__thumbnail" ng-show="Ctrl.flyAway" 
        ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">&nbsp;</div>
    </div>

    <div class="card__copy">

        <h1 class="card__title tk--hdr" ng-if="!config.data.hideSource">
            {{config.title}}
            <span ng-show="!!config.source" 
            class="card__attributes tk--copy">
                via 
                <a ng-href="{{Ctrl.videoUrl}}" target="_blank" class="textLink" 
                title="{{config.source}}">{{config.source}}</a>
            </span>
        </h1>

        <div class="sponsorProfile__group clearfix" ng-if="!!(config.collateral.logo || config.social.length > 0 || config.params.sponsor)">
            <a ng-if="!!config.collateral.logo" ng-href="{{config.links.Website}}" 
            target="_blank" title="{{link.label}}" class="sponsorProfile__imgBox">
                <img ng-src="{{config.collateral.logo}}" class="sponsorProfile__img">
            </a>
            <div class="sponsorProfile__copy" ng-if="!!(config.params.sponsor || config.social.length > 0)">
                <h1 class="card__title tk--hdr">
                    {{config.title}}
                </h1>
                <div class="card__attributes sponsorProfile__tag" 
                ng-if="!!config.params.sponsor">
                    Sponsored by 
                    <a ng-href="{{config.links.Website}}" target="_blank" 
                    title="{{config.params.sponsor}}" class="textLink">{{config.params.sponsor}}</a>
                </div>
                <div class="sponsorProfile__links" ng-if="config.social.length > 0">
                    <a ng-repeat="link in config.social"
                        title="{{link.label}}"
                        ng-href="{{link.href}}"
                        target="_blank"
                        class="sponsorProfile__link spriteBe socialIconsBe socialIconsBe--{{link.type}}">
                        <span class="ir">{{link.label}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card__desc" ng-bind-html="config.note"></div>
        
        <div class="card__desc sponsor__actions" ng-if="!!config.links.Action" 
        ng-switch="config.params.action.type" 
        c6-alias="config.params.action as action">
            <a ng-switch-when="text" title="{{action.label}}"
            ng-href="{{config.links.Action}}" class="textLink">
                {{action.label}}
            </a>
            <a ng-switch-when="button" ng-href="{{config.links.Action}}" 
            class="sponsor__goBtn btnPrimary" title="{{action.label}}">
                <span class="btn__label">{{action.label}}</span>
            </a>
        </div>

    </div>
    <div class="companionAd__group">
        <companion-ad-module active="!!config._data.companion"
            companion="config._data.companion">
        </companion-ad-module>
    </div>
</article>
