<article class="slide__group">
    <post-module ng-if="hasModule('post')"
        active="Ctrl.postModuleActive"
        on-replay="Ctrl.player.play()"
        on-dismiss="Ctrl.postModuleActive = false"
        sponsor-href="{{config.links.Website}}">
    </post-module>
    <div class="player__group">
        <button ng-if="Ctrl.enablePlay" ng-show="Ctrl.showPlay" 
        ng-click="Ctrl.player.play()" class="player__playBtn">
            <div class="player__playIcon">
                <span class="ir">Play Video</span>
            </div>
        </button>
        <div ng-class="{'ui--offscreen': Ctrl.flyAway}" 
        class="player js-playerBox" ng-switch="Ctrl.adType">
            <vpaid-player ng-switch-when="vpaid" ad-tag="{{Ctrl.adTag}}" 
            class="playerBox" videoid="{{config.id}}"></vpaid-player>
            <vast-player ng-switch-when="vast" ad-tag="{{Ctrl.adTag}}" 
            class="playerBox" videoid="{{config.id}}" controls></vast-player>
        </div>
        <div ng-show="Ctrl.flyAway" class="player__thumbnail"
            ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
            <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
        </div>
    </div>

    <div class="card__copy">
        <h1 class="card__title tk--hdr">
            {{config.title}}
            <span ng-show="!!config.source" class="card__attributes">
                via&nbsp;<a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="{{config.source}}">{{config.source}}</a>
            </span>
        </h1>

        <div class="card__desc" ng-bind-html="config.note"></div>
    </div>
</article>
