/*  ================================================
    global / reset styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#444; 
        line-height: 1.5;
        background:#fff; 
        margin:0;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    .tk--action {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:700;
    }
    .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper / ui classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }



    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1rem; height:1rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1rem -3rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -3rem -3rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -5rem -3rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -7rem -3rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -9rem -3rem;
            }



            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
            }
            .uiIconsBe--link:before {
                background-position:-3rem -9rem;
                width:1.25rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0;
        width:100%; height:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:1em; right:1em;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        display:inline-table;
    }
        .btnPrimary .btn__label {
            font-size:0.875em;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
            display:table-cell;
            vertical-align: middle;
        }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
                h: 720px ++ */
            .btnPrimary .btn__label {
                font-size:1em;
            }
        }
        @media screen and (min-width:106.0625rem) {
            /* 1697px ++ */
            .btnPrimary .btn__label {
                font-size:1.125em;
            }
        }

        .btnPrimary[disabled],
        .btnPrimary[disabled]:active,
        .btnPrimary[disabled]:hover {
            cursor:default;
            background:#ccc;
            border-color:#ccc;
        }
            .btnPrimary[disabled] .btn__label,
            .btnPrimary[disabled]:active .btn__label,
            .btnPrimary[disabled]:hover .btn__label {
                text-shadow:none;
                color:#fff;
            }


    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:rgba(0,0,0,0.6); 
        color:#fff; font-weight:bold;
        display:table;
        text-align: center; 
        line-height:1;
    }


    .ui--offscreen {
        left:-5000%;
        position: absolute;
        height:100%; width:100%;
    }




/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.3s linear opacity;
        transition:0.3s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }





/*  ================================================
    .titleBar classes
    ================================================ */
    .titleBar__group {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
        background:#fff;
        height:2em;
        position:absolute; z-index:10;
        top:0; left:0; right:0;
        text-align: center;
    }
    @media screen and (min-width:75rem) and (min-height:45rem) {
        /*  w: 1200px ++
            h: 720px ++ */
        .titleBar__group {
            height:3em;
        }
    }

        .titleBar__disabler {
            position:absolute;
            width:100%; height:100%;
            background:transparent;
        }





/*  ================================================
    MiniReel Cards classes
    ================================================ */
    .slides__list, .slides__item,
    .slide__group {
        margin:0; padding:0; list-style:none;
    }
    .slides__list {
        position: absolute;
        top:2em; right:0; bottom:0.75em; left:0;
        overflow: hidden;
    }
    @media screen and (min-width:75rem) and (min-height:45rem) {
        /*  w: 1200px ++
            h: 720px ++ */
        .slides__list {
            top:3em;
        }
    }

        .slides__item.hidden,
        .slides__list.hidden {
            height:0; overflow:hidden;
        }
        .slides__item.ng-animate {
            top: 0;
        }
        .slide__group {
            position:absolute;
            width:100%; height:100%;
        }


        .playerBox {
            background: #222;
            padding:0 8%;
            width:100%;
        }

        .player__group {
            margin:0; padding:0;
            width:100%; height:100%; position:relative;
            background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
        }
            
            .player__play-btn {
                width: 6.375rem;/*68px*/ 
                height: 5.4375rem;/*58px*/
                padding: 0; 
                margin: -3.875rem 0 0 -3.1875rem; 
                border: 0; 
                cursor: pointer;
                background: rgba(0,0,0,0.8);
                position: absolute; z-index:1;
                left: 50%; top: 50%; 
            }
                .player__play-icon {
                    height: 45%; width: 100%;
                    background: url('../../img/play-icon.svg') 50% 50% / contain no-repeat;
                }
            .player, .player__thumbnail {
                position:absolute; width:100%; height:100%;
            }
                .player iframe {
                    width:100%; height:100%; position:absolute;
                }
                .player--fly-away {
                    left:-500%;
                }
            .player__thumbnail {
                background:#000 50% 50% / 112% auto no-repeat;
            }

        .player__height {
            -webkit-transition:height 0.25s; transition:height 0.25s;
        }
            .text--med .player__height {
                height:calc(100% - 5.75em);
            }
            .text--high .player__height {
                height:calc(100% - 7.75em);
            }

        .card__copyBox {
            max-width:58.5em;
            margin:0.75em auto 0;
            position:relative;
        }
        .card__copy { 
            overflow-y: auto; overflow-x:hidden;
            -webkit-transition:height 0.25s; transition:height 0.25s;
        }
            .text--med .card__copy {
                height:5em;
            }
            .text--high .card__copy {
                height:7em;
            }

            .card__title {
                color:#000;
                font-size:1.9375em;
                line-height:1.1;
                margin:0 0 0.25em 0;
            }
            .card__attributes {
                color:#999; 
                font-size:0.8125rem;/*13px*/
                line-height: 1;
            }
            .card__desc {
                margin:0.75rem 0;
                font-size:0.875em;
                line-height:1.5;
            }
            @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
                /*  w: 1200px -  1696px
                    h: 720px ++ */
                .card__copyBox {
                    max-width:74em;
                }
                    .card__title {
                        font-size:2.25em;
                    }
                    .card__attributes {
                        font-size:0.8125rem;
                    }
                    .card__desc {
                        font-size:1em;
                    }

                .text--med .card__copy {
                    height:7.5em;
                }
                .text--high .card__copy {
                    height:10em;
                }

                .text--med .player__height {
                    height:calc(100% - 8.25em);
                }
                .text--high .player__height {
                    height:calc(100% - 10.75em);
                }
            }
            @media screen and (min-width:106.0625rem) {
                /* 1697px ++ */
                .card__copyBox {
                    max-width:88em;
                }
                    .card__title {
                        font-size:2.5em;
                    }
                    .card__attributes {
                        font-size:1rem;
                    }
                    .card__desc {
                        font-size:1.125em;
                    }

                .text--med .card__copy {
                    height:7.5em;
                }
                .text--high .card__copy {
                    height:10em;
                }

                .text--med .player__height {
                    height:calc(100% - 8.25em);
                }
                .text--high .player__height {
                    height:calc(100% - 10.75em);
                }
            }





/*  ================================================
    Brand Profile styles
    ================================================ */
    .MiniReel--brandedMR .card__copyBox {
        padding:0 9em 0 4.75em;
    }
    .MiniReel--brandedMR .slides__list {
        bottom:2em;
    }

    .brandedMR__tagline {
        font-size:0.875em;
        color:#999;
        display: block;
        margin:0.25rem 0 0 0;
        font-weight:normal;
    }


    .brandProfile__linksBox {
        font-size:0.875em;
        line-height: 1;
        position: absolute;
        bottom:0;
        width:100%;
        padding:0.5em 0;
        background:#ddd;
        border-top:2px solid #999;
        text-align: center;
    }
        .brandProfile__link {
            margin:0 0.5em;
            display: inline-block;
        }
        .brandProfile__link .socialIcons,
        .brandProfile__linkLabel {
            vertical-align: middle;
        }
        .brandProfile__linkLabel {
            margin:0 0.25em;
        }

    @media screen and (min-width:75rem) and (min-height:45rem) {
        /*  w: 1200px ++
            h: 720px ++ */
        .MiniReel--brandedMR .slides__list {
            bottom:3em;
        }
        .brandedMR__tagline {
            font-size:1em;
            margin:0.75rem 0 0 0;
        }
        .brandProfile__linksBox {
            padding:1em 0;
        }

    }

    @media screen and (min-width:106.0625rem) {
        /* 1697px ++ */
        .MiniReel--brandedMR .slides__list {
            bottom:3.5em;
        }

        .brandProfile__linksBox {
            font-size:1em;
        }
    }



    .brandProfile__logoBox {
        width:3.375em; height:3.375em;
        border:3px solid #ddd;
        margin:0;
        display: block;
        text-decoration: none;
        position: absolute;
        top:0; left:0.75em;
    }
        .brandProfile__logo {
            width:3em; height:3em;
            display: block;
        }


    .brand__actions {
        position:absolute;
        top:0; right:0.75em;
        width:8em; 
        margin:0;
    }
        .brand__goBtn {
            margin:0;
            width:100%;
            padding:0.75em 0.25em;
            border-radius:3px;
            display:table;
        }





/*  ================================================
    actionsModal__group styles
    ================================================ */
    .actionsModal__group {
        position:absolute; z-index: 2;
        top:0; left:0; right:0; bottom:0;
    }
    .actionsModal__list {
        position:absolute; z-index: 2;
        top:50%; left:50%;
        width:32.5em;
        margin:-1.5em 0 0 -16.25em;
        padding:0;
        text-align: center;
        list-style: none;
    }
        .actionsModal__item {
            position:relative;
            display: inline-block;
            margin:0 0.5em;
        }
        .actionsModal__btn {
            padding:0 1em 0 4em;
            height:3em;
            text-align: center;
        }

            .actionsModal__btn:before {
                position:absolute;
                top:1em; left:1em;
                z-index: 3;
                content:'';
            }
            .actionsModal__btn:after {
                content:'';
                position: absolute;
                top:0; left:0;
                z-index: 2;
                width:3rem; height:3rem;
                background-color:rgba(0,0,0,0.2);
                display: block;
            }

        @media screen and (max-width:33rem) {
            /*max 528px*/
            .actionsModal__list {
                margin:-3.75em 0 0 -7.125em;
                width:14.25em;
            }
            .actionsModal__item {
                margin:0 0 1.5em 0;
            }
        }





/*  ================================================
    Splash Screen classes
    ================================================ */
    .splash__start {
        position:absolute; z-index: 20;
        top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:#000;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }