/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-family: 'museo-sans', Arial, Helvetica, sans-serif; 
        font-size: 100%; font-weight:300; line-height: 1.5;
        background:#262626; margin:0; color:#646464;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 1em 0;
    }
    input, textarea {
        font-family: 'museo-sans', Arial, Helvetica, sans-serif;
    }
    textarea {
        resize: vertical;
    }
    ul, ol {
        margin:0; padding:0; list-style:none;
    }
    label {
        cursor:pointer;
    }
    youtube-player, vimeo-player {
        display: block;
        width: 100%; height: 18.75em;
    }
    embed-code {
        display: block;
    }


/*  ==========================================================================
    grid styles
    ========================================================================== */
    .grid {
        list-style: none;
        margin: 0 0 0 -1.5rem; padding: 0;
        letter-spacing: -0.31em;
    }
    .opera:-o-prefocus,
    .grid {
        word-spacing: -0.43em;
    }
    .grid__item {
        display: inline-block; padding-left: 1.5rem; width: 100%;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        letter-spacing: normal; word-spacing: normal;
    }


/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    a {
        text-decoration: none; color:#4a9cd1;
        -webkit-transition: color 0.5s; transition: color 0.5s;
    }
        a:hover {
            border-bottom:1px dotted #13a2ff;
            color:#13a2ff;
        }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .typo--attention {
        color:#d61212;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite--alpha {
        background:url('../img/sprite--alpha@2x.png') 0 0 / 25rem 25rem no-repeat;
        border:0; margin:0; padding:0; overflow: hidden;
        font-size:1rem; line-height: 1;
    }
    .sprite--fff {
        background:url('../img/sprite--white@2x.png') 0 0 / 50rem 33.25rem no-repeat;
        border:0; margin:0; padding:0; overflow: hidden;
        font-size:1rem; line-height: 1;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }
    .container {
        max-width:70.5em; margin:0 auto; padding:0 1.5em;
    }


/*  ==========================================================================
    ui classes
    ========================================================================== */
    .ui__mainView {
        background:#fff; padding-bottom:2em;
    }
    .ui__gear {
        background-position:0 -2.8125em; display:block;
        width:1.5em; height:1.5em;
    }
    .ui__edit {
        background-position:-9.9375em -2.8125em; display: block;
        width:1em; height:1em;
    }
    .ui__editToolTip {
        background-color:#4a9cd1;
        display: block;
        padding:0.25em 0.5em 0.25em 1.75em; margin:0;
        border-radius:3px;
        font-size:1rem; font-weight:700; color:#fff;
        -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
        opacity:0;
    }
    .ui__plus {
        background-position:-1.5625em -2.8125em; display:block;
        width:0.5em; height:0.5em;
    }
    .ui__x {
        background-position:-1.5625em -3.6875em;
        width:1.125em; height:1.125em; display: block;
    }
        .ui__x--red {
            background-position:-2.6875em -3.6875em;
        }
        .ui__x--white {
            background-position:-3.8125em -3.6875em;
        }
    .ui__xSmall {
        background-position:-3.625em -5.125em;
        width:0.75em; height:0.75em; display: block;
    }
        .ui__xSmall--red {
            background-position:-4.4375em -5.125em;
        }
        .ui__xSmall--white {
            background-position:-5.25em -5.125em;
        }
    .ui__add {
        background-position:-5.3125em -2.8125em; display: block;
        width:2.25em; height:2.25em;
    }
    .ui__divider--border {
        display: block; width:100%; height:1px; background:#eee;
        overflow: hidden;
    }
    .ui__divider--pause {
        line-height: 1;
    }
    .ui__divider--bar {
        color:#ccc;
    }
    .ui__overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:fixed; z-index: 10; left:0; right:0; top:0; bottom:0;
    }
    .ui__modal {
        width:44em; height:30em;
        padding:1.5em 1.5em 2.25em; margin:-16.875em 0 0 -23.5em;
        position:absolute; z-index:11; top:50%; left:50%;
        background:#fff;
    }
    /*  shared modal styles
    ========================================================================== */
        .modal__content {
            margin-top:3em;
        }
        .modal__title {
            font-weight:100; font-size:1.5em; margin:-0.25em 0 0.25em;
        }
        .modal__closeBtn {
            width:1.125em; height:1.125em;
            background-position:-1.5625em -3.6875em;
            position:absolute; top:20px; right:20px;
            cursor:pointer;
        }
            .modal__closeBtn:hover {
                background-position:-2.6875em -3.6875em;
            }
        .modal__radioBtn {
            cursor:pointer;
            vertical-align:middle;
            margin:5px 6px 0 10px;
        }
        .modal__radioBtn:before {
            content:"";
            display:inline-block;
            width:28px; height:28px;
            margin:-10px 0 0 -10px;
            vertical-align:middle;
            background:url('../img/sprite--alpha@2x.png') 0 -77px / 25rem 25rem no-repeat;
            cursor:pointer;
        }
        .modal__radioBtn:checked:before {
            background:url('../img/sprite--alpha@2x.png') -29px -77px / 25rem 25rem no-repeat;
            cursor:pointer;
        }
        .modal__btnFooter {
            text-align: right;
            position:absolute; bottom:1.5em; left:1.5em; right:1.5em;
        }

    /*  preview panel
    ========================================================================== */
        .preview__container {
            -webkit-transition: all 0.5s; transition: all 0.5s;
        }
            .preview__container--mobile {
                width:20em; height:39.25em;
                margin:-21.5em 0 0 -11.5em;
            }
            .preview__container--desktop {
                width: 43.75em; height: 39.5em;
                margin:-21.625em 0 0 -23.375em;
            }
            .preview__iframe {
                border: 0;
            }
                .preview__iframe--mobile {
                    width:20em;
                    height:35.5em;
                }
                .preview__iframe--desktop {
                    width: 43.75em;
                    height: 36.25em;
                }
            .preview__form {
                margin:0 0 0.5em 0;
            }

    /*  tabbed navigation
    ========================================================================== */
        .tabNav__group {
            background:#eee;
            padding:0.75em 0.75em 0;
            position:absolute; top:0; left:0; right:0;
        }
        .tabNav__list {
            margin:0; padding:0;
            list-style: none;
        }
            .tabNav__item {
                float:left; margin:0 0.375em 0 0;
            }
            .tabNav__link {
                width:8rem; height:1.625rem;
                padding:0.625rem 0 0 0;
                display:block;
                text-align: center; font-size:0.875rem; font-weight:300;
                -webkit-transition: all 0.5s; transition: all 0.5s;
                background:#b0b0b0 url('../img/tabNav__bg.png') 0 -4rem repeat-x;
                color:#565656;
            }
                .tabNav__link:hover {
                    background-color:#13a2ff;
                    border:0;
                }
                .tabNav__link.c6-active {
                    background-color:#4a9cd1; background-position:0 -6.0625rem;
                    color:#565656;
                    border:0;
                }
    
    /*  cover image uploader
    ========================================================================== */
        .coverUploader__group {
            margin:1em 0 0 0;
        }
            .coverUploader__imgBox {
                width:300px; height:300px;
                position:absolute;
                background:#ccc url('../img/default_square.jpg') 50% 50% / cover no-repeat;
            }
                .coverUploader__imgCropMarks {
                    position:absolute; top:0; left:0;
                    border:2px dashed rgba(0,255,0,0.5);
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
                    .coverUploader__imgCropMarks--landscape {
                        width:300px; height:200px;
                        margin:50px 0;
                        border-left:0; border-right:0;
                    }
                    .coverUploader__imgCropMarks--portrait {
                        width:200px; height:300px;
                        margin:0 50px;
                        border-bottom:0; border-top:0;
                        border-color:rgba(0,0,255,0.5);
                    }
            .coverUploader__copy {
                margin-left:324px;
            }
                .coverUploader__helpTips {
                    font-size:0.875em; line-height: 1.25;
                    padding:1em 0 0 2em; list-style: disc;
                }
                    .coverUploader__helpTips li {
                        margin:0.5em 0;
                    }
                .crop__landscape {
                    font-weight:700; color:green;
                }
                .crop__portrait {
                    font-weight:700; color:blue;
                }
                .progressBar__statusText {
                    font-size:0.75em;
                    margin:0.25em 0 1em;
                }
                .coverUploader__filePath {
                    display: block;
                    padding:0; margin:0;
                    font-size:1rem;
                }
                    .coverUploader__filePath:focus {
                        background:#eff9ff;
                    }
                .coverUploader__fileDrop {
                    display: block;
                    position:absolute; z-index: 5;
                    width:100%; height:100%;
                    opacity:0; cursor:pointer;
                    border:0; margin:0; padding:0;
                }
                .progressBar {
                    border-radius:3px;
                    height:0.5em; overflow: hidden;
                    background:#ccc;
                    margin:0.875em 0 0.25em 0;
                }
                    .progressBar__status {
                        width:50%;
                        background:#72ad25;
                    }


    /*  modal forms
    ========================================================================== */
        .field {
            display:block;
        }
            .field--noBreak {
                margin:0 0 1.5em 0;
            }
                .field--noBreak .modal__label {
                    float:left;
                }
                .field--noBreak .modal__textBox {
                    float:right;
                }
        .modal__label {
            font-weight:100;
            display:block;
            width:7rem;
        }
        .modal__textBox, 
        .modal__textarea {
            border:1px solid #b0b0b0;
            margin:0; padding:0.25em 0.5em;
            font-size:1rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background:#f4f4f4;
            color:#646464;
            width:36.5rem;
            resize: none;
        }
            .modal__textBox:focus,
            .modal__textarea:focus {
                border:1px solid #4a9cd1;
                background:#eff9ff;
            }
        .modal__textBox {
            font-family: 'museo-sans', Arial, Helvetica, sans-serif;
        }
            .modal__textBox--short,
            .field--noBreak .modal__textBox--short {
                width:16rem; float:left;
                margin-left:0.5rem;
            }
        .modal__textarea {
            width:100%; padding:0.5em 0.75em;
            font-size:1rem;
        }
            .modal__cardCopy {
                height:19.375rem;
                line-height: 1.75em;
                font-family: 'museo-sans', Arial, Helvetica, sans-serif;
            }

    /*  minireel wizard
    ========================================================================== */
        .modal__title--lightboxWizard {
            margin-bottom:12px;
        }
        .wizard__choice {
            position:relative;
            margin:0 0 1.5em 0; padding:2.625em 0 0 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            .wizard__choice,
            .wizard__hitarea,
            .wizard__diagram {
                height:8.25em;
            }
            .wizard__hitarea {
                width:100%; display: block;
                cursor:pointer;
                position:absolute; top:0; left:0; z-index: 2;
            }
            .wizard__diagram {
                width:12em;
                position:absolute; top:0; left:3em;
            }
                .diagram__lightbox {
                    background-position:0 0;
                }
                    .wizard__choice:hover .diagram__lightbox {
                        background-position:0 -8.3125em;
                    }
                .diagram__inline {
                    background-position:-12.5em 0;
                }
                    .wizard__choice:hover .diagram__inline {
                        background-position:-12.5em -8.3125em;
                    }
                .diagram__light {
                    background-position:0 -16.625em;
                }
                    .wizard__choice:hover .diagram__light {
                        background-position:0 -24.9375em;
                    }
                .diagram__full {
                    background-position:-12.5em -16.625em;
                }
                    .wizard__choice:hover .diagram__full {
                        background-position:-12.5em -24.9375em;
                    }
                .diagram__lightbox {
                    background-position:-25em 0;
                }
                    .wizard__choice:hover .diagram__lightbox {
                        background-position:-25em -8.3125em;
                    }
                .diagram__lightbox-ads {
                    background-position:-37.5em 0;
                }
                    .wizard__choice:hover .diagram__lightbox-ads {
                        background-position:-37.5em -8.3125em;
                    }

            .wizard__copy {
                position:absolute; top:0; left:16.5em;
            }
                .wizard__copy .wizard__title {
                    font-size:1.125em; color:#444; font-weight:700;
                    margin:5px 0;
                    -webkit-transition: color 0.5s; transition: color 0.5s;
                }
                .wizard__copy .wizard__p {
                    font-size:1em; color:#646464; font-weight:100;
                    margin:11px 0;
                }
                .wizard__choice:hover .wizard__title {
                    color:#13a2ff;
                }

        .wizard__group--small .wizard__choice {
            padding:1em 0 0 0;
        }
        .wizard__group--small .wizard__choice,
        .wizard__group--small .wizard__hitarea,
        .wizard__group--small .wizard__diagram {
            height:4.125em; 
        }
            .wizard__group--small .wizard__diagram {
                width:6em;
            }
                .diagram__videoType {
                    background-position:-25em -16.625em;
                }
                    .wizard__choice:hover .diagram__videoType {
                        background-position:-25em -20.8125em;
                    }
                .diagram__videoBallotType {
                    background-position:-31.0625em -16.625em;
                }
                    .wizard__choice:hover .diagram__videoBallotType {
                        background-position:-31.0625em -20.8125em;
                    }
            .wizard__group--small .wizard__copy {
                left:10.25em;
            }
                .wizard__group--small .wizard__title,
                .wizard__group--small .wizard__p {
                    margin:0;
                }



/*  ==========================================================================
    masthead navigation
    ========================================================================== */
    .mast__group {
        background:#282b2c; min-height:4.5em; color:#fff;
    }
        .mainNav {
            float:left;
        }
        .mainNav__list {
            margin:0; padding:0; list-style: none;
        }
            .mainNav__item {
                padding:1.5em 0 0 0; margin:0 2em 0 0; float:left;
            }
                .mainNav__item:last-child {
                    margin:0;
                }
            .mainNav__link {
                color:#fff;
            }
            
            .mainNav__c6BrandItem {
                padding:0.75em 0 0 0; margin-right:3em;
            }
                .mainNav__c6Brand {
                    width:11em; height:2.75em; display: block;
                    font-size:1em;
                    background-position:0 0;
                    border:0; padding:0;
                    cursor:pointer;
                }


/*  ==========================================================================
    pageHeader
    ========================================================================== */
    .userPane__group {
        float:right;
    }
        .userPane__display {
            float:left; margin:1.5625em 0.625em 0 0;
        }
        .userPane__avatar {
            float:left; margin:0.875em 0;
            width:2.75em; height:2.75em;
            background:#000;
        }
            .userPane__avatar img {
                display: block; width:2.75em; height:2.75em;
            }
            .userPane__avatar:hover {
                border:0;
            }
        .userPane__settings {
            float:left;
            margin:1.5em 0 0 0.75em;
            cursor:pointer;
            -webkit-transition: all 0.5s; transition: all 0.5s;
        }
            .userPane__settings:hover {
                transform:rotate(90deg);
                -ms-transform:rotate(90deg); /* IE 9 */
                -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
            }

/*  ==========================================================================
    pageHeader
    ========================================================================== */
    .pageHeader {
        margin-bottom:1.5em; margin-top:1em;
    }
        .pageHeader--editor {
            margin-bottom:0; padding-bottom:1px;
        }
        .pageHeader__coverImg {
            width:7.5em; height:7.5em;
            background:#ccc url('../img/default_square.jpg') 50% 50% / cover no-repeat;
            margin:0.5em 0 0 0;
            position:absolute;
            cursor:pointer;
            overflow: hidden;
        }
            .coverImg__edit {
                width:100%; height:100%;
                position:absolute; top:0;
                background:black; background:rgba(0,0,0,0.6);
                -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
                opacity:0;
            }
                .pageHeader__coverImg:hover .coverImg__edit {
                    opacity:1;
                }
                .coverImg__edit .ui__editToolTip {
                    margin:-1em 0 0 -2em;
                    position:absolute; top:50%; left:50%;
                }
                    .coverImg__edit:hover .ui__editToolTip {
                        opacity:1;
                    }
                .coverImg__edit .ui__edit {
                    position:absolute; margin:0.25em 0.5em; left:0;
                }
        .pageHeader__titlePane {
            margin:0 0 0 8.25em;
        }
            .pageTitle {
                color:#565656; font-weight:100; font-size:1.875em; 
                margin:0;
            }
                .pageTitle__status {
                    font-weight:700; color:#ccc; font-size:0.667em;
                }
                    .pageTitle__status em {
                        font-style:normal;
                    }
                    .pageTitle__status--private {
                        color:#646464;
                    }
                    .pageTitle__status--public {
                        color:#72ad25;
                    }
            .pageHeader__actions .filters__list,
            .pageHeader__actions .metaData__group {
                float:left;
            }
            .pageHeader__actions .toolbar__group {
                float:right; margin-bottom:0.6875em;
            }

            .theTitle__text {
                position:relative; cursor:pointer;
            }
                .theTitle__text:hover {
                    background:#eff9ff;
                }
                .theTitle__text .ui__editToolTip {
                    position:absolute; top:0.375em; right:0;
                }
                    .theTitle__text:hover .ui__editToolTip {
                        opacity:1;
                    }
                .theTitle__text .ui__edit {
                    position:absolute; margin:0.25em 0.5em; left:0;
                }
            .theTitle__textBox {
                border:1px solid #b0b0b0;
                margin:0; padding:3px 0;
                width:100%; height:1.5em;
                color:#b0b0b0; font-weight:100; font-size:1.875em; line-height: 1;
                margin:0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
                .theTitle__textBox:focus {
                    border:1px solid #4a9cd1;
                    color:#565656;
                    background:#eff9ff;
                }
            .theTitle__submit {
                display: inline; position: absolute;
                top: 0; left: 0;
                height: 0; width: 0;
                padding: 0; margin: 0;
                border: none;
            }
        

    /*  filters__list
    ========================================================================== */
        .filters__list {
            margin:0.375em 0 1em 0; padding:0; list-style:none;
        }
            .filters__item {
                display:inline;
            }
            .filters__btn {
                border:0; border-radius:3px; padding:0.25em 0.5em 0.1875em 0.5em; margin:0;
                font-size:1em; font-weight:700; 
                text-align: center; line-height: 1;
                background:transparent;
                cursor:pointer;
                -webkit-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s;
            }
                .filtersBtn__showAll {
                    color:#b0b0b0;
                }
                    .filtersBtn__showAll--active, 
                    .filtersBtn__showAll:hover {
                        background:#b0b0b0;
                        color:#fff;
                    }
                .filtersBtn__published {
                    color:#72ad25;
                }
                    .filtersBtn__published--active, 
                    .filtersBtn__published:hover {
                        background:#72ad25;
                        color:#fff;
                    }
                .filtersBtn__private {
                    color:#646464;
                }
                    .filtersBtn__private--active, 
                    .filtersBtn__private:hover {
                        background:#646464;
                        color:#fff;
                    }

    /*  metaData__group
    ========================================================================== */
        .metaData__group {
            margin:0.375em 0 1em 0;
        }

    
    /*  toolbar__group / actionbar__group
    ========================================================================== */
        .toolbar__group, .actionbar__group {
            margin:0; padding:0; list-style: none;
        }
            .toolbar__item {
                display:inline;
            }
            .toolbar__btn, .modal__btn {
                margin:0; padding:0.6875rem 1.5rem 0.625rem 1.5rem; 
                border:0; border-radius:3px;
                font-size:0.875em; color:#fff; font-weight:700; line-height: 1;
                background:#4a9cd1;
                cursor:pointer;
                -webkit-transition: background 0.5s; transition: background 0.5s;
            }
                .toolbar__btn:hover, .modal__btn:hover {
                    background:#13a2ff;
                }
                .toolbar__btn--disabled, .modal__btn--disabled {
                    opacity:0.4;
                    cursor:default;
                }
                    .toolbar__btn--disabled:hover, .modal__btn--disabled:hover {
                        background:#4a9cd1;
                    }
            .toolbar__newMiniReel {
                padding-left:2.375rem;
                position: relative;
            }
                .toolbar__newMiniReel .ui__plus {
                    position:absolute; left:1.5em; top:0.875em;
                }
            .toolbar__makePrivate {
                background:#646464;
            }
                .toolbar__makePrivate:hover {
                    background:#8e8e8e;
                }
            .toolbar__publish {
                background:#72ad25;
            }
                .toolbar__publish:hover {
                    background:#7cc61b;
                }
            .toolbar__delete {
                background:#d61212;
            }
                .toolbar__delete:hover {
                    background:#ee1b1b;
                }

    /*  publish__actions
    ========================================================================== */
        .publish__actions {
            margin:0.125em 0 0.6875em 0;
        }
        .publish__actions .actionbar__group {
            float:left;
        }
        .publish__actions .toolbar__group {
            float: right;
        }


/*  ==========================================================================
    miniReels__group
    ========================================================================== */
    .miniReels__list {
        list-style: none;
    }
        .miniReels__item {
            margin-bottom:1.5em; width: 25%;
        }
        @media only screen and (max-width: 480px) {
            .miniReels__item {
                width:100%;
            }
        }
        @media only screen and (min-width: 481px) and (max-width: 768px) {
            .miniReels__item {
                width:50%;
            }
        }
        @media only screen and (min-width: 481px) and (max-width: 768px) {
            .miniReels__item {
                width:50%;
            }
        }
        @media only screen and (min-width:769px) and (max-width: 1023px) {
            .miniReels__item {
                width:33.333%;
            }
        }
        .miniReel__group {
            cursor:pointer;
        }
            .miniReel__group--deleted {
                background:#eee;
            }
                .miniReel__group--deleted .miniReel__quickActions {
                    background:#ddd;
                }

        .miniReel__body {
            width:100%; height:0; padding-bottom:100%;
            background:#ccc url('../img/default_square.jpg') 50% 50% / cover no-repeat;
            position:relative;
        }
            .miniReel__imgBox {
                width:100%; height:100%;
                position: absolute;
                background:50% 50% /cover no-repeat;
            }
            .miniReel__title {
                font-size:1em; line-height: 1.5; font-weight:700; color:#fff;
                margin:0; padding:0.6875em 0.75em;
                background:rgba(0,0,0,0.5);
                position:absolute; bottom:0; left:0; right:0;
                -webkit-transition: all 0.5s; transition: all 0.5s;
            }
                .miniReel__body:hover .miniReel__title {
                    background:#13a2ff; background:rgba(19,162,255,0.8);
                }
            .miniReel__status {
                font-size:0.75em; color:#b0b0b0; margin:0 0 0.4375rem 0;
                position:relative;
            }
                .ui__statusIcon {
                    width:1em; height:0.8125em; display:block;
                    position:absolute; top:0.0625em; right:0;
                }
                .miniReel__status--pending .statusText {
                    color:#646464;
                }
                .miniReel__status--pending .ui__statusIcon {
                    background-position:-3.1875em -2.8125em;
                }
                .miniReel__status--active .statusText {
                    color:#72ad25;
                }
                .miniReel__status--active .ui__statusIcon {
                    background-position:-2.125em -2.8125em;
                }
                .miniReel__status--deleted .statusText {
                    color:#d61212;
                }
                .miniReel__status--deleted .ui__statusIcon {
                    background-position:-4.25em -2.8125em;
                }

        .miniReel__quickActions {
            font-size:0.75em; color:#b0b0b0;
            padding:0.833em 0 0;
        }
            .quickActions__btn {
                background:transparent; border:0; margin:0; padding:0;
                display:inline; color:#4a9cd1;
                font-size:1em;
                cursor:pointer;
                -webkit-transition: color 0.5s; transition: color 0.5s;
            }
                .quickActions__btn:hover {
                    color:#13a2ff; border-bottom:1px dotted #13a2ff;
                }
            .quickActions__delete {
                color:#d61212;
            }
                .quickActions__delete:hover {
                    color:#ee1b1b; border-bottom:1px dotted #ee1b1b;
                }


/*  ==========================================================================
    miniReel editor styles
    ========================================================================== */
    c6-drag-space {
        display: block;
    }

    .table__group {
        position: relative; background:#eee;
    }
        .table__left-zone {
            position: absolute;
            width: 10px; height: 100%;
            top: 0; left: 0;
        }
        .table__right-zone {
            position: absolute;
            width: 10px; height: 100%;
            top: 0; right: 0;
        }

    .card__container {
        display: inline-block;
        width: 13.5em; margin:3em 0 0 0;
        vertical-align: top;
    }
        .card__container--dragging {
            width: 0; opacity:0.5;
            z-index: 100; position:absolute;
        }
        .card__container--reordering {
            width: 0 !important;
        }
    .card__drop-zone {
        display: inline-block;
        width: 2px; height: 20.625rem;
        vertical-align: top;
        margin: 3em 5px 0;
        border:0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .card__drop-zone.c6-drag-zone-active {
            /*width: calc(10rem + 34px);*/
            width:13.5em;
            background:#fff;
            border:3px solid rgba(19,162,255,0.5);
        }
        .card__drop-zone--reordering {
            width: 2px !important;
            border:0 !important;
            background:none !important;
        }
    .card__list {
        overflow-x: scroll; white-space: nowrap;
        overflow-y: hidden;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin:0; padding:0 1.5em 1.6875em 1.5em;
    }
        .card__list-item {
            display: inline-block;
            position:relative;
        }
            .card__type {
                color:#646464; font-size:0.75em; font-weight:100; text-align: center;
                margin:-1.5625rem 0 0.4375rem 0; position:relative;
            }
            .card__deleteBtn {
                position:absolute; z-index: 4;
                background:black; background:rgba(0,0,0,0.75);
                border:2px solid #fff; border-radius:50%; 
                padding:0.5em; margin:-14px 0 0 196px;
                font-size:1rem;
                cursor:pointer;
                -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
                -webkit-transition: background 0.4s; transition: background 0.3s;
            }
                .card__deleteBtn:hover {
                    background:#d61212; background:rgba(214,18,18,0.75);
                }
                .card__deleteBtn:focus {
                    border:2px solid #fff;
                }
            .card__item {
                width: 13.5em;
                white-space: normal; vertical-align: top;
                background: #fff; opacity: 0.4;
                position:relative;
            }
                .card__item.c6-over-zone {
                    opacity: 1;
                }
                .card__imgBox {
                    background:#ccc url('../img/default_square.jpg') 50% 50% / cover no-repeat;
                    width:100%; height:0; padding-bottom:66.667%; display:block;
                    position:relative;
                    cursor:pointer;
                }
                .card__body {
                    border:1px solid #eee; border-top:0; border-bottom:0;
                    padding:0 0.75em 1.1875em 0.625em;
                    cursor:pointer;
                    -webkit-transition: border 0.5s; transition: border 0.5s;
                }
                    .card__item:hover .card__body {
                        border-color:#333;
                    }
                    .card__copy {
                        height:10em; overflow: hidden;
                    }
                        .card__title {
                            font-size:1em; line-height: 1.5; font-weight:700; color:#444;
                            margin:0; padding:0.6875em 0 0 0;
                        }
                        .card__summary {
                            font-size:0.8125em; line-height:1.4;
                            margin:0.769em 0;
                        }
            .card__statusIndicator {
                position:absolute; z-index:1; top:0; left:0;
                width:100%; height:100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: border 0.2s, background 0.5s; transition: border 0.2s, background 0.5s;
                cursor:pointer;
                border:1px solid #fff;
            }
                .card__statusIndicator:hover {
                    border:1px solid #13a2ff;
                    background:#4a9cd1; background:rgba(74,156,209,0.25);
                }
                .card__statusIndicator--error {
                    border:3px solid #d61212;
                } 
                    .card__statusIndicator--error:hover {
                        border:3px solid #d61212;
                        background:#ee1b1b; background:rgba(214,18,18,0.25);
                    }
                    .card__statusIndicator .ui__editToolTip {
                        margin:-1em 0 0 -2em;
                        position:absolute; top:44%; left:50%;
                    }
                        .card__statusIndicator .ui__edit {
                            position:absolute; margin:0.25em 0.5em; left:0;
                        }
                        .card__statusIndicator:hover .ui__editToolTip {
                            opacity:1;
                        }
            .card__contextBar {
                text-align: center; font-size:0.75em;
                margin:0.4166em 0 0 0;
            }

    .new__container {
        display: inline-block;
        margin: 0 0.75em 0 0;
        width: 2.25em; height: 24rem;
        position: relative;
    }
        .new__container--reordering {
            display: none !important;
        }
        .new__button {
            margin: auto; border:0; padding:0;
            font-size:1em;
            position: absolute; top:0; bottom:0; left:0; right:0;
            cursor:pointer;
        }
            .new__button:hover {
                background-position:-7.625em -2.8125em;
            }

    .c6-dragging {
        cursor: move;
        box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.5);
        z-index:100;
    }


/*  ==========================================================================
    <video-trimmer> styles
    ========================================================================== */
    video-trimmer {
        display: block;
    }
    .video-trimmer__group {
        width:100%; background:#282b2c; 
        position:relative;
    }
        .video-trimmer__start-marker,
        .video-trimmer__end-marker {
            position: relative;
            cursor: pointer;
            height:1.25em;
            display: inline-block; padding:3px 0 0 0;
        }
        .video-trimmer__end-marker {
            padding:0 0 3px 0;
        }
            .ui__startMarker,
            .ui__endMarker {
                background-position:-6.0625em -5.125em;
                width: 0.75em; height: 1.125em;
                display: block;
                position: absolute; bottom:0; left:0;
            }
            .ui__endMarker {
                background-position:-6.875em -5.125em;
                left:auto; right:0; bottom:auto; top:0;
            }
            .video-trimmer__timestamp {
                font-size:0.75em; color:#ccc; line-height:1;
                display:block;
                margin:0 0 0 1.5em;
            }
                .video-trimmer__end-marker .video-trimmer__timestamp {
                    text-align:right; 
                    margin: 0 1.5em 0.25em 0; padding:7px 0 0 0;
                }
        .video-trimmer__seek-bar {
            height: 1rem; width:100%;
            margin:0;
            background: blue;
        }
            .video-trimmer__playhead {
                position: relative;
                height: 100%; width: 10px; margin-left: -5px;
                background: yellow;
            }


/*  ==========================================================================
    embedCode__group
    ========================================================================== */
    .embedCode__group {
        margin-top:1.9375em;
    }
        .embedCode__selector,
        .embedCode__customSizeDimensions .textBox {
            border:1px solid #b0b0b0;
            margin:0; padding:0 0.25em;
            font-size:0.875rem; color:#b0b0b0;
            height:1.5rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            .embedCode__selector:focus,
            .embedCode__customSizeDimensions .textBox:focus {
                border-color:#4a9cd1;
                color:#565656;
            }
        .embedCode__customSizeDimensions {
            display: inline;
        }
            .embedCode__customSizeDimensions .textBox {
                width:4.375em;
            }
        .embedCode__snippet {
            border:2px solid #b0b0b0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width:34.5rem; height:6rem;
            color:#565656;
            margin:0.375rem 0 0 0;
        }
            .embedCode__snippet:focus {
                border:2px solid #4a9cd1;
            }
        .embedCode__tip {
            margin:0.125rem 0 0 0; width:34.5rem;
            font-size:0.8125rem;
        }

/*  ==========================================================================
    footer
    ========================================================================== */
    .footer__group {
        padding:0.875rem 0 0.8125rem 0;
        color:#7d7d7d; text-align: center; font-size:0.75em;
    }
