/* overall css stylesheet */
html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
}

.experience {
    position: relative;
    width: 100%;
}

.player {
    position: absolute;
    top: 50px;
    left: 12.5%;
    z-index: 1;
}

.control-panel {
    width: 100%;
    height: 100px;
    margin-top: 50%;
}
.navigation>.prev {
    position: absolute;
    width: 60px;
    height: 40px;
    left: 7%;
}

.navigation>.next {
    position: absolute;
    width: 60px;
    height: 40px;
    right: 7%;
}
