/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 16px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight:300; color:#545454; line-height: 1.5;
        background:transparent; margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
        
/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    .tk--hdr {
        font-family: 'Georgia', 'Times New Roman', serif; font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040; border-bottom:1px dotted #d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite--alpha-png {
        background:url('../img/mr-sprite__alpha@2x.png') 0 0 / 6.25rem 3.125rem no-repeat;
    }
    .sprite {
        background:url('../img/sprite.svg') 0 0 / 18.75em 18.75em no-repeat;
    }
    @media screen and (min-width:0\0) {  
        /* IE9 and IE10 rule sets go here */
        .sprite {
            background-image:url('../img/sprite.png');
        }
    }
    .mr-overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; width:100%; height:100%; z-index: 1; left:0;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }

    
/*  ==========================================================================
    ui-icons classes
    ========================================================================== */
    .mr-ui__icon {
        position:absolute; display: block;
    }
    .ui-icon__prev, .ui-icon__next, .ui-icon__list, .ui-icon__close, .ui-icon__page {
        position: absolute; display: block; margin:-0.625em 0 0 0; padding: 0; font-size: 1em;
        width:0.75em; /*12px*/ height:1.25em;/*20px*/ top:50%;
    }
        .ui-icon__prev {
            left:1em;
        }
        .ui-icon__next {
            right:1em; background-position:0 -3.125em;
        }
        .ui-icon__list {
            width:1.875em; /*30px*/ height:1.375em;/*22px*/ background-position:0 -6.25em;
            left:1.0625em; /*17px*/
        }
        .ui-icon__close {
            width:0.8125em; height:0.8125em;/*13px*/ background-position:0 -9.375em;
            right:0.625em; /*10px*/ margin-top:-0.375em;
        }
        .ui-icon__page {
            width:0.75em;/*12px*/ height:0.375em;/*6px*/ background-position:0.375em -12.5em;
            display:inline-block; position:relative; margin:1em 0 0 0; opacity:0.3;
        }
            .ui-icon__page--active {
                opacity:1;
            }
        .ui-control__activator {
            width:100%; height:100%; position: absolute; top:0; left:0;
            opacity:0; background:#fff;
        }

/*  ==========================================================================
    .mr-experience classes
    ========================================================================== */
    .mr-experience {
        padding:0 0.75rem 1.0625rem 0.75rem; 
        min-width:28rem;/*448px*/
    }

/*  ==========================================================================
    .mr-titlebar classes
    ========================================================================== */
    .mr-titlebar {
        padding:0.625rem 0;
    }
        .mr-titlebar__title {
            font-family:'Georgia', 'Times New Roman', serif; font-weight:normal; 
            font-size:1rem; color:#fff;
            background:url('../img/mr-icon.png') 0 0 / 1.625rem 1.5rem no-repeat;
            padding:0 0 0 2em; margin:0;
        }

/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pager__group {
        width:100%; height:4.0625rem; /*65px*/ position:relative;
        margin:0.875rem 0 0 0;
    }
    .mr-pager__btn {
        min-width:1.4375rem;/*23px*/ height:4.065rem; position:absolute;
        background:#404040 no-repeat 50% 50%; border:0; padding:0; margin:0;
        cursor:pointer;
    }
        .mr-pager__btn--disabled {
            opacity:0.25;
        }
        .mr-pager__prev {
            left:0;
        }
        .mr-pager__next {
            right:0;
        }
    .mr-pager__icon {
        display:block; width:0.5625rem;/*9px*/ height:1rem;/*16px*/
        position:absolute; top:1.5625rem;/*25px*/ left:0.4375rem;/*7px*/
        opacity:0.5;
    }
        .mr-pager__icon-next {
            background-position:-0.625rem 0;
        }
    /* pages styles */
    .mr-pages__group {
        position:absolute; left:1.5625rem;/*25px*/ right:1.5625rem;/*25px*/
        height:100%; overflow: hidden;
    }
        .mr-pages__list {
            margin:0; padding:0; list-style: none;
            width:12000%; background:green;
        }
            .mr-pages__item {
                float:left; margin:0 0.125rem 0 0;
            }
                .mr-pages__page {
                    width:7.25rem;/*116px*/ height:4.0625rem;/*65px*/
                    margin:0; padding:0; border:0; background:black;
                    position:relative;
                    cursor: pointer;
                }
                    .mr-pages__preview-img {
                        position:absolute; top:0;
                        width:100%; height:100%; display: block;
                        background:no-repeat 50% 50% / 125%;
                        opacity:0.6;
                    }
                        .mr-pages__preview-img--active {
                            opacity:1;
                        }
                    .mr-pages__current-indicator {
                        opacity:0; display: block; width:100%; height:100%;
                        position: absolute; top:0; left:0; z-index: 2;
                        background:url('../img/mr-pages__current-indicator.png') 0 0 / cover no-repeat;
                    }
                        .mr-pages__current-indicator--active {
                            opacity:1;
                        }


/*  ==========================================================================
    .mr-nav__group classes
    ========================================================================== */
    .mr-nav__group {
        position:absolute; z-index: 10; left:0; top:50%;
        width:100%;
    }
        .mr-nav__btn {
            display: block; width:2.75rem;/*44px*/ height:3.375rem;/*54px*/
            border:0; margin:-1.6875rem 0 0 0; padding:0; background:#404040;
            position: absolute;
            cursor:pointer; opacity:0.3;
        }
            .mr-nav__prev {
                -webkit-border-radius: 0 3px 3px 0;
                -moz-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;
            }
                .mr-nav__prev--disabled {
                    display: none;
                }
            .mr-nav__next {
                -webkit-border-radius: 3px 0 0 3px;
                -moz-border-radius: 3px 0 0 3px;
                border-radius: 3px 0 0 3px;
                right:0;
            }
                .mr-nav__next--disabled {
                    display: none;
                }
            .mr-nav__icon {
                display: block; width:0.75rem;/*12px*/ height:1.25rem;/*20px*/
                position:absolute; top:1.0625rem;/*17px*/
            }
                .mr-nav__icon-prev {
                    left:0.875rem;/*14px*/ background-position:0 -1.25rem;
                }
                .mr-nav__icon-next {
                    left:1.125rem;/*18px*/ background-position:-1.25rem -1.25rem;
                }


/*  ==========================================================================
    Mini Reel Cards classes
    ========================================================================== */
    .mr-card__container {
        position: relative;
    }
    .mr-cards__list, .mr-cards__item {
        margin:0; padding:0; list-style:none;
    }
        .mr-cards__list {
            width:100%;
        }
        .mr-cards__item {
            position:relative; width:100%; background:#fff;
        }
        .mr-cards__item.squished {
            height:0; overflow:hidden;
        }
    .mr-card__group {
        min-height:20rem;/*320px*/ 
    }
        .mr-card__player {
            width:66.14%; float:left;
        }
            .mr-player {
                padding:0 0 64%; margin:0;
                width:100%; height:0; position:relative;
                background:#000;
            }
                .mr-player iframe {
                    width:100%; height:100%; position:absolute;
                    min-height:20rem;/*320px*/
                }
        .mr-card__copy {
            width:29.63%; float:right; margin:0.75rem 1.85% 0 0;
        }
            .mr-card__title {
                margin:0;
                }
                .mr-card__title-h1 {
                    font-size:1.25rem;/*20px*/ color:#000; font-weight:normal; margin:0; line-height: 1.3;
                }
                .mr-card__attributes {
                    color:#999999; font-size:0.75em;/*12px*/ margin:0.16em 0 1em 0;
                }
            .mr-card__desc {
                margin:1em 0 0 0; font-size:0.875rem;/*14px*/ color:#474747; line-height:1.57;
            }    


/*  ==========================================================================
    .mr-ballot__module styles
    ========================================================================== */
    .mr-ballot-module {
        position: absolute; width:100%; height:100%;
        z-index: 2;
    }
    .mr-ballot__group {
        position: absolute; z-index: 500; top:1.25em;/*20px*/; left:0; width:100%;
        text-align: center; box-sizing:border-box; -moz-box-sizing:border-box;
    }
    .mr-ballot__title {
        color:#fff; font-size:1.5em;/*24px*/ font-weight:normal; 
        text-align: center; line-height: 1.2; font-style: italic;
    }
    .mr-ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .mr-ballot__item {
            display:inline-block; margin:0 1em;
        }
            .mr-ballot__btn {
                border-radius:3px; border:0; 
                width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.25rem;/*20px*/ color:#fff; font-weight:bold; font-style: italic;
                cursor:pointer;
            }
                .mr-ballot__btn0 {
                    background:#8ac12a;
                }
                .mr-ballot__btn1 {
                    background:#19cbe6;
                }
                .mr-ballot__btn-label {
                    font-size:1.125rem;/*18px*/ line-height: 1.33;
                }
        .mr-ballot__textlink {
            display:inline; margin-left:1em; margin-right:1em;
            cursor: pointer;
        }
    
    @media screen and (min-width:30.625rem) and (max-width:40.5625rem) {
        /*490px and 649px*/
        .mr-ballot__group {
            top:3rem;
        }
    }
    @media screen and (max-width:30.5625rem) {
        /*max 489px*/
        .mr-ballot__group {
            top:4rem;
        }
        .mr-ballot__item {
            margin:0 0.5em;
        }
        .mr-ballot__btn, .mr-ballot__title {
            font-size:1em;
        }
        .mr-ballot__btn {
            width:9em;
        }
    }


/*  ==========================================================================
    .mr-results__group
    ========================================================================== */
    .mr-results__group {
        margin:0; padding:0.75rem 0;
        border-bottom:1px dotted #cdcdcd; border-top:1px dotted #cdcdcd;
    }
        .mr-results__title {
            color:#999; text-align: center; font-weight:300; font-size:0.75em; /*12px*/
            margin:0 0 0.333em 0; line-height: 1;
        }
        .mr-results__list {
            margin:0; padding:0; list-style:none;
        }
            .mr-results__item {
                display:inline-block; width:50%;
            }
                .mr-results__item1 {
                    text-align: right;
                }
                .mr-results__option {
                    font-weight:700; font-style:italic; font-size:0.875em; /*14px*/ line-height: 1;
                    margin:0;
                }
                .mr-results__tally {
                    font-weight:900; font-size:1.125em; margin:1px 0 0 0; line-height: 1;
                }
                    .mr-results__item0 .mr-results__option, .mr-results__item0 .mr-results__tally {
                        color:#8ac12a;
                    }
                    .mr-results__item1 .mr-results__option, .mr-results__item1 .mr-results__tally {
                        color:#19cbe6;
                    }
        .mr-results__meter {
            border-radius:3px; background:#19cbe6;
            height:0.75em; width:100%;
            overflow: hidden;
        }
            .mr-results__bar1 {
                height:0.75em; background:#8ac12a; border-right:2px solid #fff;
            }



/*  ==========================================================================
    .mr-comments
    ========================================================================== */
    .mr-comments__title {
        color:#747474; font-weight:700; font-size:1em; margin:1.0625em 0 0.3125em 0;
    }
    .mr-comments__body {
        -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden;
        margin:0 0 0.875em 0;
    }
        .mr-comments__hdr-bar {
            background:#747474; color:#f2f2f2;
            border-bottom:1px solid #5e5e5e;
        }
            .mr-comments__hdr-label {
                margin:3px 0 2px 8px; font-weight:700; font-size:14px;
            }
        .mr-comments__textbox {
            background:#fff;
        }
            .mr-comments__textarea {
                width:80%; margin:3px 0 3px 8px; font-size:1em; font-weight:300; color:#999999; float:left; display: block;
                border:0;
            }
            .mr-comments__post-btn {
                border-radius:3px; font-size:0.75em; font-weight:700; color:#fff; text-align:center;
                border:0; margin:0.67em 0.67em 1em 0; padding:0;
                float:right; width:12%; height:3.83em;
            }
    .mr-comments__select {
        width:100%; border-radius:3px; border:0; height:2.25em;/*36px*/
    }

    .mr-comments__list {
        margin:0; padding:1.125em 0 0 0; list-style:none; 
        background:url('../img/border__ccc@2x.png') 17px 0 repeat-y; background-size:1px 1px;
    }
        .mr-comments__comment {
            margin:0 0 0.75em 0;
        }
            .mr-comments__userpic {
                border-radius:5px; overflow: hidden; background:#fff; padding:2px;
                width:1.75em; height:1.75em; /*28px*/ float:left; margin:0 0.875em 0 0;
            }
                .mr-comments__userpic-img {
                    display:block; width:1.75em; height:1.75em; /*28px*/
                    border-radius:3px; overflow: hidden;
                }
            .mr-comments__comment--friend .mr-comments__userpic, .mr-comments__comment--friend .mr-comments__meta {
                background:#e2f7ff;
            }
        .mr-comments__comment .mr-comments__body {
            background:#fff; margin:0;
        }
            .mr-comments__meta {
                background:#f2f2f2; padding:0.3125em 0.5em 0.1875em 0.5em; border-bottom:1px solid #eeeeee;
            }
                .mr-comments__comment--friend .mr-comments__meta {
                    border-bottom:1px solid #daf5ff;
                }
                .mr-comm-meta__username {
                    float:left; color:#747474; font-weight:700; font-size:0.875em; /*14px*/
                    width:68%; margin:0;
                }
                    .mr-comments__comment--friend .mr-comm-meta__username {
                        color:#0086b9;
                    }
                .mr-comm-meta__timestamp {
                    float:right; color:#999999; font-weight:300; font-size:0.75em; /*12px*/ text-align: right;
                    width:32%; margin:0.167em 0 0 0;
                }
            .mr-comments__copy {
                padding:0.4167em 0.667em 0.583em 0.667em; color:#747474; font-size:0.75em;/*12px*/ 
            }
            .mr-comments__breaker {
                display:block; width:2.25em; height:0.375em; margin:0 auto 0.75em auto;
                background-position:-2.5em -12.5em; opacity:0.1;
            }
        .mr-comments__terminator-outer {
            background:#ddd;
        }
            .mr-comments__terminator {
                width:0.375em;/*6px*/ height:0.375em;/*6px*/ background-position:-2.5em -12.5em;
                display:block; margin:1em 0 0 0.9375em; opacity:0.3;
            }


/*  ==========================================================================
    .mr-toc
    ========================================================================== */
    .mr-toc__group {
        position: absolute; width:100%; height:100%; z-index: 500;
    }
    .mr-toc {
        background:#fff; position:absolute; z-index: 5; left:0;
        padding:0; width:100%; height:100%;
        box-sizing:border-box; -moz-box-sizing:border-box;
    }
    .mr-toc__title {
        display:none;
    }
    .mr-toc__list {
        margin:1.125em 0 0 0; padding:0; list-style: none;
    }
        .mr-toc__item {
            background:#f2f2f2; width:32%; margin:0 1.3% 1% 0; float:left;
            cursor:pointer;
        }
            .mr-toc-item__thumbnail {
                background-size:cover; background-color:#000;
                width:100%; height:0; padding:0 0 56.25% 0;
            }
            .mr-toc-item__details {
                padding:1em 0.375em 0.8125em 0.375em;
            }
                .mr-toc-item__title {
                    color:#444; font-size:1em; font-weight:300; line-height: 1.25;
                    margin:0; height:3.75em; overflow: hidden;
                }
                .mr-toc-item__attributes {
                    color:#999; font-size:0.75em;
                    margin:0;
                }

/*  ==========================================================================
    More Reels card classes
    ========================================================================== */
    .mr-more-reels__group {
        background:#f2f2f2; padding:1.25em 1.5em 3em 1.5em;
    }
    .more-reels__intro {
        font-size:1.25em; color:#444; font-weight:300; text-align:center;
        margin:0 0 1em 0;
    }
    .more-reels__list {
        margin:0; padding:0; list-style: none;
    }
        .more-reels__item {
            margin:0 0 1.25em 0; padding:0 0 1em 0; border-bottom:1px solid #cdcdcd;
        }
        .more-reels__details {
            float:left; width:32%;
        }
            .more-reels__title {
                margin:0; color:#444; font-size:1.25em; font-weight:700;
            }
        .more-reels__preview {
            float:right; width:66%;
        }
            .more-reels__preview-img {
                width:100%;
            }
    @media screen and (max-width:60rem) {
        /*max 800px*/
        .more-reels__copy {
            font-size:0.875em;
        }
    }
    @media screen and (max-width:40.5625rem) {
        /*max 649px*/
        .more-reels__details {
            width:48%;
        }
        .more-reels__preview {
            width:50%;
        }
    }


/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__start {
        position:absolute; width:100%; height:100%; top:0;
        background:url('../img/splash__desktop.jpg') 50% 50% / cover no-repeat;
        border:0; margin:0; padding:0; cursor:pointer;
    }