/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 1em; font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight:300; color:#545454; line-height: 1.5;
        background:transparent; margin:0;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-300-webfont.eot');
        src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-300-webfont.woff') format('woff'),
             url('museosans-300-webfont.svg#museo_sans300') format('svg'),
             url('museosans-300-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-300italic-webfont.eot');
        src: url('museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-300italic-webfont.woff') format('woff'),
             url('museosans-300italic-webfont.svg#museo_sans300_italic') format('svg'),
             url('museosans-300italic-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans_700-webfont.eot');
        src: url('museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans_700-webfont.woff') format('woff'),
             url('museosans_700-webfont.svg#museo_sans700') format('svg'),
             url('museosans_700-webfont.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-700italic-webfont.eot');
        src: url('museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-700italic-webfont.woff') format('woff'),
             url('museosans-700italic-webfont.svg#museo_sans700_italic') format('svg'),
             url('museosans-700italic-webfont.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans_900-webfont.eot');
        src: url('museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans_900-webfont.woff') format('woff'),
             url('museosans_900-webfont.svg#museo_sans900') format('svg'),
             url('museosans_900-webfont.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-900italic-webfont.eot');
        src: url('museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-900italic-webfont.woff') format('woff'),
             url('museosans-900italic-webfont.svg#museo_sans900_italic') format('svg'),
             url('museosans-900italic-webfont.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
        
/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    .tk--hdr {
        font-family: 'MuseoSans', 'Open Sans', Arial, Helvetica, sans-serif; font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040; border-bottom:1px dotted #d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }

    .mr-comments__post-btn {
        background:#d94040;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite {
        background-image:url('../img/sprite.svg'); background-repeat:no-repeat; background-size:18.75em 18.75em;
    }
    @media screen and (min-width:0\0) {  
        /* IE9 and IE10 rule sets go here */
        .sprite {
            background-image:url('../img/sprite.png');
        }
    }
    .mr-overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8); padding:0 0 56.25%;
        position:absolute; width:100%; height:0; z-index: 10; left:0;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }
    .c6-animate /* enter */ {
        animation: slide-in 0.5s; -webkit-animation: slide-in 0.5s;
    }
        .c6-animate.ng-hide /* leave */ {
            animation: slide-out 0.5s 1s; -webkit-animation: slide-out 0.5s 1s;
        }
        .c6-animate.ng-hide-add, .c6-animate.ng-hide-remove {
            display:block !important;
        }
        @-webkit-keyframes slide-in {
            0% {
                -webkit-transform: translateX(-100%);
            }
            100% {
                -webkit-transform: translateX(0);
            }
        }
        @keyframes slide-in {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }
        @-webkit-keyframes slide-out {
            0% {
                -webkit-transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        @keyframes slide-out {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    .c6-animate .c6-show /* enter */ { 
        animation: show 1s 1.5s backwards; -webkit-animation: show 1s 1.5s backwards;
    }
        .c6-animate.ng-hide .c6-show /* leave */ {
            animation: hide 1s forwards; -webkit-animation: hide 1s forwards;
        }
        @keyframes hide {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

    
/*  ==========================================================================
    ui-icons classes
    ========================================================================== */
    .ui-icon__prev, .ui-icon__next, .ui-icon__list, .ui-icon__close, .ui-icon__page {
        position: absolute; display: block; margin:-0.625em 0 0 0; padding: 0; font-size: 1em;
        width:0.75em; /*12px*/ height:1.25em;/*20px*/ top:50%;
    }
        .ui-icon__prev {
            left:1em;
        }
        .ui-icon__next {
            right:1em; background-position:0 -3.125em;
        }
        .ui-icon__list {
            width:1.875em; /*30px*/ height:1.375em;/*22px*/ background-position:0 -6.25em;
            left:1.0625em; /*17px*/
        }
        .ui-icon__close {
            width:0.8125em; height:0.8125em;/*13px*/ background-position:0 -9.375em;
            right:0.625em; /*10px*/ margin-top:-0.375em;
        }
        .ui-icon__page {
            width:0.75em;/*12px*/ height:0.375em;/*6px*/ background-position:0.375em -12.5em;
            display:inline-block; position:relative; margin:1em 0 0 0; opacity:0.3;
        }
            .ui-icon__page--active {
                opacity:1;
            }
        .ui-control__activator {
            width:100%; height:100%; position: absolute; top:0; left:0;
            opacity:0; background:#fff;
        }


/*  ==========================================================================
    .mr-titlebar classes
    ========================================================================== */
    .mr-titlebar {
        width:100%; height:2.375em;/*38px*/
    }
        .ui-titlebar__view-list {
            width:2.375em; height:2.375em; font-size:1em; background:transparent; position:absolute;
            border:0; border-right:1px solid rgba(0,0,0,0.1); padding:0; margin:0;
            cursor:pointer; 
        }
            .ui-titlebar__view-list--open {
                background:#ac5e19;
            }
                .ui-titlebar__view-list--open .ui-icon__list {
                    opacity:0.5;
                }
            .ui-titlebar__view-list .ui-icon__list {
                position:absolute; width:0.875em; height:0.625em;
                background-position:-75px 0;
                margin:-0.3125em 0 0 0; left:0.75em;
            }
            .ui-titlebar__view-list:active {
                border-right:1px solid rgba(0,0,0,0.1);
            }
            .ui-titlebar__view-list:active .ui-control__activator {
                opacity:0.7;
            }
        .ui-titlebar__title {
            text-align: center; color:#fff; font-size:0.875em;/*14px*/ font-weight:300; font-style: italic;
            margin:0; padding:9px 0 0 0;
        }

/*  ==========================================================================
    .ui-navbar classes
    ========================================================================== */
    .ui-navbar__group {
        position: absolute; width: 100%; height:0; padding-bottom: 56.25%;
    }
        .ui-navbar__group--docked {
            position: fixed; width: 100%; padding-bottom: 0; bottom:3em; z-index:10;
        }
    .ui-navbar {
        height:2.5em; padding:0.25em 0; background:#2a2a2a;
        position:absolute; width:100%; bottom: -3em; z-index:20;
    }
        .ui-nav__label {
            position:absolute; color:#fff; font-size:0.875em; font-weight:700;
            line-height: 1; height:0; top:0.857em; z-index: 10;
        }
        .ui-nav__prev, .ui-nav__next {
            border-radius:3px; border:0; background:#e67e22; position:absolute;
            margin:0; padding:0; font-size:1em; 
            width:4.75em; height:2.5em; overflow: hidden;
            cursor:pointer;
        }
            .ui-control__preview-img {
                position:absolute; width:100%; height:100%; top:0; left:0;
                opacity:0;
                background-size:cover;
            }
            .ui-nav__prev {
                left:0.25em;
            }
                .ui-nav__label-prev {
                    left:2.143em;
                }
                .ui-nav__prev .ui-icon__prev {
                    left:0.6875em;
                }
            .ui-nav__next {
                right:0.25em;
            }
                .ui-nav__label-next {
                    right:2.143em;
                }            
                .ui-nav__next .ui-icon__next {
                    right:0.6875em;
                }
        .ui-navbar__paginator {
            height:100%; margin:0 5em; padding:0; list-style:none;
            text-align: center;
        }
            .ui-navbar__page-item {
                display: inline;
            }
            .ui-navbar__page {
                border:0; border-radius:3px; background:#353535; 
                width:4.571em;/*64px*/ height:100%; overflow: hidden;
                margin:0; padding:0; font-size:0.875em; color:#ddd; font-weight:700;
                cursor: pointer; position:relative;
            }


/*  ==========================================================================
    Mini Reel Cards classes
    ========================================================================== */
    .mr-cards__list, .mr-cards__item {
        margin:0; padding:0; list-style:none;
    }
        .mr-cards__item {
            position:absolute; width:100%;
        }
        .mr-cards__item.squished {
            height:0; overflow:hidden;
        }
    .mr-card {
        background:#f2f2f2; padding:1.125em 1.5em 0.875em 1.5em;
    }
        .mr-card__title {
            margin:0;
            }
            .mr-card__title-h1 {
                font-size:1.25em; /*20px*/ color:#444444; font-weight:300; margin:0; line-height: 1.2;
            }
            .mr-card__attributes {
                color:#999999; font-size:0.75em;/*12px*/ margin:0.16em 0 1em 0;
            }
        .mr-card__copy {
            margin:1em 0 0.143em 0; font-size:0.875em;/*14px*/ color:#747474; line-height:1.75;
        }
    .mr-player {
        padding:0 0 56.25%; margin:0 0 3em 0;
        width:100%; height:0; position:relative;
        background:#000;
    }
        .mr-player iframe {
            width:100%; height:100%; position:absolute;
        }


/*  ==========================================================================
    .mr-ballot__group
    ========================================================================== */
    .mr-ballot__group {
        position: absolute; z-index: 500; top:6.25em;/*100px*/; left:0; width:100%;
        text-align: center; box-sizing:border-box; -moz-box-sizing:border-box;
    }
    .mr-ballot__title {
        color:#fff; font-size:1.5em;/*24px*/ font-weight:300; text-align: center; line-height: 1.2;
    }
    .mr-ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .mr-ballot__item {
            display:inline-block; margin:0 1em;
        }
            .mr-ballot__btn {
                border-radius:3px; border:0; 
                width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.5em;/*24px*/ color:#fff; font-weight:900; font-style: italic;
                cursor:pointer;
            }
                .mr-ballot__btn0 {
                    background:#8ac12a;
                }
                .mr-ballot__btn1 {
                    background:#19cbe6;
                }
                .mr-ballot__btn-label {
                    font-size:1.125em;/*18px*/ line-height: 1.33;
                }
        .mr-ballot__textlink {
            display:inline; margin-left:1em; margin-right:1em;
        }
    .mr-ballot-module {
        position: absolute; width:100%;
        z-index: 5;
    }


/*  ==========================================================================
    .mr-results__group
    ========================================================================== */
    .mr-results__group {
        margin:0 0 1em 0; padding:0 0 1.375em 0;
        border-bottom:1px solid #cdcdcd;
    }
        .mr-results__title {
            color:#999; text-align: center; font-weight:300; font-size:0.75em; /*12px*/
            margin:0 0 0.333em 0; line-height: 1;
        }
        .mr-results__list {
            margin:-1.125em 0 0.4375em 0; padding:0; list-style:none;
        }
            .mr-results__item {
                display:inline-block; width:50%;
            }
                .mr-results__item1 {
                    text-align: right;
                }
                .mr-results__option {
                    font-weight:700; font-style:italic; font-size:0.875em; /*14px*/ line-height: 1;
                    margin:0;
                }
                .mr-results__tally {
                    font-weight:900; font-size:1.125em; margin:1px 0 0 0; line-height: 1;
                }
                    .mr-results__item0 .mr-results__option, .mr-results__item0 .mr-results__tally {
                        color:#8ac12a;
                    }
                    .mr-results__item1 .mr-results__option, .mr-results__item1 .mr-results__tally {
                        color:#19cbe6;
                    }
        .mr-results__meter {
            border-radius:4px; background:#19cbe6;
            height:1.25em; width:100%;
            overflow: hidden;
        }
            .mr-results__bar1 {
                height:1.25em; background:#8ac12a; border-right:2px solid #fff;
            }



/*  ==========================================================================
    .mr-comments
    ========================================================================== */
    .mr-comments__title {
        color:#747474; font-weight:700; font-size:1em; margin:1.0625em 0 0.3125em 0;
    }
    .mr-comments__body {
        -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden;
        margin:0 0 0.875em 0;
    }
        .mr-comments__hdr-bar {
            background:#747474; color:#f2f2f2;
            border-bottom:1px solid #5e5e5e;
        }
            .mr-comments__hdr-label {
                margin:3px 0 2px 8px; font-weight:700; font-size:14px;
            }
        .mr-comments__textbox {
            background:#fff;
        }
            .mr-comments__textarea {
                width:80%; margin:3px 0 3px 8px; font-size:1em; font-weight:300; color:#999999; float:left; display: block;
                border:0;
            }
            .mr-comments__post-btn {
                border-radius:3px; font-size:0.75em; font-weight:700; color:#fff; text-align:center;
                border:0; margin:0.67em 0.67em 1em 0; padding:0;
                float:right; width:12%; height:3.83em;
            }
    .mr-comments__select {
        width:100%; border-radius:3px; border:0; height:2.25em;/*36px*/
    }

    .mr-comments__list {
        margin:0; padding:1.125em 0 0 0; list-style:none; 
        background:url('../img/border__ccc@2x.png') 17px 0 repeat-y; background-size:1px 1px;
    }
        .mr-comments__comment {
            margin:0 0 0.75em 0;
        }
            .mr-comments__userpic {
                border-radius:5px; overflow: hidden; background:#fff; padding:2px;
                width:1.75em; height:1.75em; /*28px*/ float:left; margin:0 0.875em 0 0;
            }
                .mr-comments__userpic-img {
                    display:block; width:1.75em; height:1.75em; /*28px*/
                    border-radius:3px; overflow: hidden;
                }
            .mr-comments__comment--friend .mr-comments__userpic, .mr-comments__comment--friend .mr-comments__meta {
                background:#e2f7ff;
            }
        .mr-comments__comment .mr-comments__body {
            background:#fff; margin:0;
        }
            .mr-comments__meta {
                background:#f2f2f2; padding:0.3125em 0.5em 0.1875em 0.5em; border-bottom:1px solid #eeeeee;
            }
                .mr-comments__comment--friend .mr-comments__meta {
                    border-bottom:1px solid #daf5ff;
                }
                .mr-comm-meta__username {
                    float:left; color:#747474; font-weight:700; font-size:0.875em; /*14px*/
                    width:68%; margin:0;
                }
                    .mr-comments__comment--friend .mr-comm-meta__username {
                        color:#0086b9;
                    }
                .mr-comm-meta__timestamp {
                    float:right; color:#999999; font-weight:300; font-size:0.75em; /*12px*/ text-align: right;
                    width:32%; margin:0.167em 0 0 0;
                }
            .mr-comments__copy {
                padding:0.4167em 0.667em 0.583em 0.667em; color:#747474; font-size:0.75em;/*12px*/ 
            }
            .mr-comments__breaker {
                display:block; width:2.25em; height:0.375em; margin:0 auto 0.75em auto;
                background-position:-2.5em -12.5em; opacity:0.1;
            }
        .mr-comments__terminator-outer {
            background:#ddd;
        }
            .mr-comments__terminator {
                width:0.375em;/*6px*/ height:0.375em;/*6px*/ background-position:-2.5em -12.5em;
                display:block; margin:1em 0 0 0.9375em; opacity:0.3;
            }


/*  ==========================================================================
    .mr-toc
    ========================================================================== */
    .mr-toc__group {
        position: absolute; width:100%; height:100%; z-index: 500;
    }
    .mr-toc {
        background:#fff; position:absolute; z-index: 5; left:0;
        padding:0; width:100%; height:100%;
        box-sizing:border-box; -moz-box-sizing:border-box;
    }
    .mr-toc__title {
        display:none;
    }
    .mr-toc__list {
        margin:1.125em 0 0 0; padding:0; list-style: none;
    }
        .mr-toc__item {
            background:#f2f2f2; width:32%; margin:0 1.3% 1% 0; float:left;
            cursor:pointer;
        }
            .mr-toc-item__thumbnail {
                background-size:cover; background-color:#000;
                width:100%; height:0; padding:0 0 56.25% 0;
            }
            .mr-toc-item__details {
                padding:1em 0.375em 0.8125em 0.375em;
            }
                .mr-toc-item__title {
                    color:#444; font-size:1em; font-weight:300; line-height: 1.25;
                    margin:0; height:3.75em; overflow: hidden;
                }
                .mr-toc-item__attributes {
                    color:#999; font-size:0.75em;
                    margin:0;
                }

/*  ==========================================================================
    More Reels card classes
    ========================================================================== */
    .mr-more-reels__group {
        background:#f2f2f2; padding:1.25em 1.5em 3em 1.5em;
    }
    .more-reels__intro {
        font-size:1.25em; color:#444; font-weight:300; text-align:center;
        margin:0 0 1em 0;
    }
    .more-reels__list {
        margin:0; padding:0; list-style: none;
    }
        .more-reels__item {
            margin:0 0 1.25em 0; border-bottom:1px solid #cdcdcd;
        }
        .more-reels__details {
            float:left; width:32%;
        }
            .more-reels__title {
                margin:0; color:#444; font-size:1.25em; font-weight:700;
            }
        .more-reels__preview {
            float:right; width:66%;
        }
            .more-reels__preview-img {
                width:100%;
            }


/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__start, .mr-splash__loading {
        display: block;
        background:#d94040;
        color: #fff; font-size:1rem; font-weight:300; 
        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; 
        cursor: pointer;
        -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
        border: 0;
        padding: 0.75rem 0;
        width: 6rem;
        text-align: center;
    }
    .mr-splash__loading {
        background:#ccc;
    }
