/*  ==========================================================================
    .mr-experience classes
    ========================================================================== */
    .mr-experience {
        background:#252626;
    }
    a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }


/*  ==========================================================================
    Branding classes
    ========================================================================== */
    .publisher__branding-logo {
        background-image:url('../img/publisher__elite-daily.png');
    }

/*  ==========================================================================
    Navigation classes
    ========================================================================== */
    .ui-control--portrait, .ui-context--portrait, .ui-nav-left--landscape, .ui-nav-right--landscape {
        background:#2a2a2a;
    }

/*  ==========================================================================
    table of contents
    ========================================================================== */
    .mr-toc {
        border-top:0.25em solid #2a2a2a;
    }

/*  ==========================================================================
    theme sports
    ========================================================================== */
    .mr-titlebar--sports {
        background:#e67e22;
    }