/*  ==========================================================================
    Branding classes
    ========================================================================== */
    .publisher__branding-logo {
        background-image:url('../img/publisher__elite-daily.png');
    }


/*  ==========================================================================
    copy styles
    ========================================================================== */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

    body, .mr-card__btn-watch {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .tk--hdr, .ui-context__label {
        font-family: Georgia, Times, serif;
    }

    body, .ui-nav__counter, .mr-card__type, .mr-card__title-h1, .mr-ballot__title, .mr-results__title, 
    .mr-comments__textarea, .mr-comm-meta__timestamp, .mr-toc-item__title, .more-reels__intro  {
        font-weight: 400;
    }

    a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }

    .mr-switch__btn {
        background-color: #252626; border-bottom: 2px solid #252626;
    }


/*  ==========================================================================
    experience color styles
    ========================================================================== */
    .mr-experience, .mr-card__copy, .mr-more-reels__intro {
        background:#252626;
    }

    .ui-control--portrait, .ui-context--portrait, .ui-nav-left--landscape, .ui-nav-right--landscape {
        background:#2a2a2a;
    }

    .mr-pager__btn--disabled .mr-pager__icon-path {
        fill: #252626;
    }

    .mr-toc {
        border-top:0.25em solid #2a2a2a;
    }


/*  ==========================================================================
    Theme Styles: News (#2391d7)
    ========================================================================== */
    .ed-news a {
        color:#2391d7; border-bottom:1px dotted #2391d7;
    }
    .ed-news .mr-pager__btn, .ed-news .mr-card__btn, .ed-news .mr-card__btn-watch {
        background: #2391d7;
    }
    .ed-news .mr-switch__btn--active, .ed-news .mr-switch__btn:focus {
        border-bottom: 2px solid #2391d7;
    }
    .ed-news .mr-preview__button {
        background: rgba(35,145,215,0.7);
    }
    .ed-news .ui-control__next, 
    .ed-news .ui-control__prev, 
    .ed-news .ui-nav__next, 
    .ed-news .ui-nav__prev {
        background-color: #2391d7;
    }



/*  ==========================================================================
    Theme Styles: Life (#c0392b)
    ========================================================================== */
    .ed-life a {
        color:#c0392b; border-bottom:1px dotted #c0392b;
    }
    .ed-life .mr-pager__btn, .ed-life .mr-card__btn, .ed-life .mr-card__btn-watch {
        background: #c0392b;
    }
    .ed-life .mr-switch__btn--active, .ed-life .mr-switch__btn:focus {
        border-bottom: 2px solid #c0392b;
    }
    .ed-life .mr-preview__button {
        background: rgba(192,57,43,0.7);
    }
    .ed-life .ui-control__next, 
    .ed-life .ui-control__prev, 
    .ed-life .ui-nav__next, 
    .ed-life .ui-nav__prev {
        background-color: #c0392b;
    }



/*  ==========================================================================
    Theme Styles: Money (#27ae60)
    ========================================================================== */
    .ed-money a {
        color:#27ae60; border-bottom:1px dotted #27ae60;
    }
    .ed-money .mr-pager__btn, .ed-money .mr-card__btn, .ed-money .mr-card__btn-watch {
        background: #27ae60;
    }
    .ed-money .mr-switch__btn--active, .ed-money .mr-switch__btn:focus {
        border-bottom: 2px solid #27ae60;
    }
    .ed-money .mr-preview__button {
        background: rgba(39,174,96,0.7);
    }
    .ed-money .ui-control__next, 
    .ed-money .ui-control__prev, 
    .ed-money .ui-nav__next, 
    .ed-money .ui-nav__prev {
        background-color: #27ae60;
    }



/*  ==========================================================================
    Theme Styles: Sports (#e67e22)
    ========================================================================== */
    .ed-sports a {
        color:#e67e22; border-bottom:1px dotted #e67e22;
    }
    .ed-sports .mr-pager__btn, .ed-sports .mr-card__btn, .ed-sports .mr-card__btn-watch {
        background: #e67e22;
    }
    .ed-sports .mr-switch__btn--active, .ed-sports .mr-switch__btn:focus {
        border-bottom: 2px solid #e67e22;
    }
    .ed-sports .mr-preview__button {
        background: rgba(230,126,34,0.7);
    }
    .ed-sports .ui-control__next, 
    .ed-sports .ui-control__prev, 
    .ed-sports .ui-nav__next, 
    .ed-sports .ui-nav__prev {
        background-color: #e67e22;
    }



/*  ==========================================================================
    Theme Styles: Dating (#8e44ad)
    ========================================================================== */
    .ed-dating a {
        color:#8e44ad; border-bottom:1px dotted #8e44ad;
    }
    .ed-dating .mr-pager__btn, .ed-dating .mr-card__btn, .ed-dating .mr-card__btn-watch {
        background: #8e44ad;
    }
    .ed-dating .mr-switch__btn--active, .ed-dating .mr-switch__btn:focus {
        border-bottom: 2px solid #8e44ad;
    }
    .ed-dating .mr-preview__button {
        background: rgba(142,68,173,0.7);
    }
    .ed-dating .ui-control__next, 
    .ed-dating .ui-control__prev, 
    .ed-dating .ui-nav__next, 
    .ed-dating .ui-nav__prev {
        background-color: #8e44ad;
    }



/*  ==========================================================================
    Theme Styles: Entertainment (#f1c40f)
    ========================================================================== */
    .ed-entertainment a {
        color:#f1c40f; border-bottom:1px dotted #f1c40f;
    }
    .ed-entertainment .mr-pager__btn, .ed-entertainment .mr-card__btn, .ed-entertainment .mr-card__btn-watch {
        background: #f1c40f;
    }
    .ed-entertainment .mr-switch__btn--active, .ed-entertainment .mr-switch__btn:focus {
        border-bottom: 2px solid #f1c40f;
    }
    .ed-entertainment .mr-preview__button {
        background: rgba(241,196,15,0.7);
    }
    .ed-entertainment .ui-control__next, 
    .ed-entertainment .ui-control__prev, 
    .ed-entertainment .ui-nav__next, 
    .ed-entertainment .ui-nav__prev {
        background-color: #f1c40f;
    }



/*  ==========================================================================
    Theme Styles: Music (#2c3e50)
    ========================================================================== */
    .ed-music a {
        color:#3f5a74; border-bottom:1px dotted #3f5a74;
    }
    .ed-music .mr-pager__btn, .ed-music .mr-card__btn, .ed-music .mr-card__btn-watch {
        background: #2c3e50;
    }
    .ed-music .mr-switch__btn--active, .ed-music .mr-switch__btn:focus {
        border-bottom: 2px solid #2c3e50;
    }
    .ed-music .mr-preview__button {
        background: rgba(44,62,80,0.7);
    }
    .ed-music .ui-control__next, 
    .ed-music .ui-control__prev, 
    .ed-music .ui-nav__next, 
    .ed-music .ui-nav__prev {
        background-color: #2c3e50;
    }



/*  ==========================================================================
    Theme Styles: Women (#c35d9e)
    ========================================================================== */
    .ed-women a {
        color:#c35d9e; border-bottom:1px dotted #c35d9e;
    }
    .ed-women .mr-pager__btn, .ed-women .mr-card__btn, .ed-women .mr-card__btn-watch {
        background: #c35d9e;
    }
    .ed-women .mr-switch__btn--active, .ed-women .mr-switch__btn:focus {
        border-bottom: 2px solid #c35d9e;
    }
    .ed-women .mr-preview__button {
        background: rgba(195,93,158,0.7);
    }
    .ed-women .ui-control__next, 
    .ed-women .ui-control__prev, 
    .ed-women .ui-nav__next, 
    .ed-women .ui-nav__prev {
        background-color: #c35d9e;
    }



/*  ==========================================================================
    Theme Styles: Envision (#b69823)
    ========================================================================== */
    .ed-envision a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }
    .ed-envision .mr-pager__btn, .ed-envision .mr-card__btn, .ed-envision .mr-card__btn-watch {
        background: #b69823;
    }
    .ed-envision .mr-switch__btn--active, .ed-envision .mr-switch__btn:focus {
        border-bottom: 2px solid #b69823;
    }
    .ed-envision .mr-preview__button {
        background: rgba(182,152,35,0.7);
    }
    .ed-envision .ui-control__next, 
    .ed-envision .ui-control__prev, 
    .ed-envision .ui-nav__next, 
    .ed-envision .ui-nav__prev {
        background-color: #b69823;
    }



/*  ==========================================================================
    Theme Styles: Humor (#16a085)
    ========================================================================== */
    .ed-humor a {
        color:#16a085; border-bottom:1px dotted #16a085;
    }
    .ed-humor .mr-pager__btn, .ed-humor .mr-card__btn, .ed-humor .mr-card__btn-watch {
        background: #16a085;
    }
    .ed-humor .mr-switch__btn--active, .ed-humor .mr-switch__btn:focus {
        border-bottom: 2px solid #16a085;
    }
    .ed-humor .mr-preview__button {
        background: rgba(22,160,133,0.7);
    }
    .ed-humor .ui-control__next, 
    .ed-humor .ui-control__prev, 
    .ed-humor .ui-nav__next, 
    .ed-humor .ui-nav__prev {
        background-color: #16a085;
    }



/*  ==========================================================================
    Theme Styles: Videos (#d5161d)
    ========================================================================== */
    .ed-videos a {
        color:#d5161d; border-bottom:1px dotted #d5161d;
    }
    .ed-videos .mr-pager__btn, .ed-videos .mr-card__btn, .ed-videos .mr-card__btn-watch {
        background: #d5161d;
    }
    .ed-videos .mr-switch__btn--active, .ed-videos .mr-switch__btn:focus {
        border-bottom: 2px solid #d5161d;
    }
    .ed-videos .mr-preview__button {
        background: rgba(213,22,29,0.7);
    }
    .ed-videos .ui-control__next, 
    .ed-videos .ui-control__prev, 
    .ed-videos .ui-nav__next, 
    .ed-videos .ui-nav__prev {
        background-color: #d5161d;
    }



    