<ul class="mr-cards__list">
    <li class="mr-cards__item" ng-repeat="item in players"
    ng-class="{ 
        squished : ($index !== currentIndex),
        'mr-charCount--low': item.note.length <= 70,
        'mr-charCount--med': item.note.length > 70 && item.note.length <= 140,
        'mr-charCount--high': item.note.length > 140
    }">
        <mr-card
            x-number="{{tocCards.indexOf(item) + 1}}"
            x-total="{{tocCards.length}}"
            x-config="item"
            x-profile="deviceProfile"
            x-active="($index === currentIndex)"
            x-on-deck="($index === (currentIndex + 1))">
        </mr-card>
    </li>
</ul>
