.c6mr-ir {
    background-color: transparent;
    border: 0; width:0; height:0;
    overflow: hidden; display: block; position:absolute;
}
.c6mr-clearfix:before,
.c6mr-clearfix:after {
    content: ' ';
    display: table;
}
.c6mr-clearfix:after {
    clear: both;
}

.c6mr-splashHorizontalStack__group {
    font-size: 16px;
    margin:0;
}
.c6mr-splashHorizontalStack__start {
	height:5em;
    padding:0; border:0; margin:0 0.75em 0.75em 0;
    background:#ccc url('//portal.cinema6.com/collateral/default_square.jpg') 50% 50% / cover no-repeat;
    position:relative;
    cursor:pointer;
    float:left;
    font-size:1em;
}
.c6mr-splashHorizontalStack__img {
    position:absolute; top:0; left:0;
    width:100%; height:100%;
    background:50% 50% / cover no-repeat;
    display:block;
}
.c6mr-splashHorizontalStack__copy {
    padding:0; color:#000;
}
    .c6mr-splashHorizontalStack__copy .c6mr-title {
        font-size:1.125em; line-height:1.5; font-weight:normal;
        margin:0; 
    }