/*  ================================================
    background transitions
    ================================================ */
    .btnPrimary,
    .ballot__btn:before,
    .actionsModal__btn:after {
        -webkit-transition:background 0.3s; 
        transition:background 0.3s;
    }

    .ballot__btn:hover:before,
    .actionsModal__btn:hover:after {
        background-color:#d94040;
    }
    .btnPrimary:hover {
        background-color:#fff;
    }




/*  ================================================
    color transitions
    ================================================ */
    .btnLabel,
    .brandProfile__link {
        -webkit-transition:color 0.3s; 
        transition:color 0.3s;
    }

    .btnPrimary:hover .btn__label,
    .brandProfile__link:hover {
        color:#d94040;
    }




/*  ================================================
    border transitions
    ================================================ */
    .brandProfile__logoBox {
        -webkit-transition: border 0.3s ease; 
        transition: border 0.3s ease;
    }

    .brandProfile__logoBox:hover {
        border-color:#d94040;
    }

    .textLink:hover,
    a:hover .textLink,
    .brandProfile__link:hover .brandProfile__linkLabel {
        border-bottom:1px dotted #d94040;
    }




/*  ================================================
    transform transitions
    ================================================ */
    .ballot__textLink:before,
    .sprite--close,
    .actionsModal__btn:before {
        -webkit-transition: -webkit-transform 0.3s; 
        transition: 0.3s transform;
    }

    .sprite--close:hover,
    .ballot__textLink:hover:before,
    .actionsModal__btn:hover:before {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }





/*  ================================================
    misc transitions
    ================================================ */
    .btnPrimary:hover .btn__label {
        text-shadow: none;
    }