/*  ================================================
    global / reset styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#444; 
        line-height: 1.5;
        background:#fff; 
        margin:0;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    .tk--action {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:700;
    }
    .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper / ui classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }



    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1rem; height:1rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1rem -3rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -3rem -3rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -5rem -3rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -7rem -3rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -9rem -3rem;
            }



            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
            }
            .uiIconsBe--link:before {
                background-position:-3rem -9rem;
                width:1.25rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0;
        width:100%; height:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:1em; right:1em;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        display:inline-table;
    }
        .btnPrimary .btn__label {
            font-size:0.875em;
            line-height: 1rem;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
            display: table-cell;
            vertical-align: middle;
        }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
                h: 720px ++ */
            .btnPrimary .btn__label {
                font-size:1em;
            }
        }
        @media screen and (min-width:106.0625rem) {
            /* 1697px ++ */
            .btnPrimary .btn__label {
                font-size:1.125em;
            }
        }

        .btnPrimary[disabled],
        .btnPrimary[disabled]:active,
        .btnPrimary[disabled]:hover {
            cursor:default;
            background:#ccc;
            border-color:#ccc;
        }
            .btnPrimary[disabled] .btn__label,
            .btnPrimary[disabled]:active .btn__label,
            .btnPrimary[disabled]:hover .btn__label {
                text-shadow:none;
                color:#fff;
            }


    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:rgba(0,0,0,0.6); 
        color:#fff; font-weight:bold;
        display:table;
        text-align: center; 
        line-height:1;
    }


    .ui--offscreen {
        left:-5000%;
        position: absolute;
        height:100%; width:100%;
    }




/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.3s linear opacity;
        transition:0.3s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }






/*  ================================================
    .titleBar classes
    ================================================ */
    .titleBar__group {
        height:4.125em;
        position:absolute; z-index:10;
        top:0; left:0; right:0;
    }
        .titleBar__disabler {
            position:absolute;
            width:100%; height:100%;
            background:transparent;
        }






/*  ================================================
    Companion Ad classes
    ================================================ */
    .companionAd__group {
        width:18.75em;
        position:absolute;
        right:0; bottom:0;
    }
        .companionAd {
            width:300px; height:250px;
            background:#ccc;
        } 
        .companionAd__label {
            color:#ccc;
            font-size:0.6875em; text-align: center;
            margin:0;
        }





/*  ================================================
    MiniReel Cards classes
    ================================================ */
    .MiniReel {
        position:absolute;
        top:1.5em; left:1.5em; right:1.5em; bottom:1.5em;
    }
    .cards__list, .cards__item,
    .card__group {
        margin:0; padding:0; list-style:none;
    }
    .cards__list {
        position: absolute;
        top:0; right:0; bottom:0; left:0;
        overflow: hidden;
    }
        .cards__item.hidden,
        .cards__list.hidden {
            height:0; overflow:hidden;
        }
        .cards__item.ng-animate {
            top: 0;
        }
        .card__group {
            position:absolute;
            width:100%; height:100%;
        }


        .player__group {
            margin:0; padding:0;
            position:absolute;
            top:0; left:0; right:19.875em; bottom:0;
            background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
        }
            
            .player__playBtn,
            .player__playBtn:focus {
                width: 6em;
                height: 6em;
                padding: 0;
                margin: -3em 0 0 -3em;
                border: 4px solid #fff;
                border-radius:50%;
                cursor: pointer;
                background: rgba(0,0,0,0.7);
                position: absolute; left: 50%; top: 50%; z-index:1;
            }
                .player__playIcon {
                    height: 45%; width: 100%;
                    background: url('../../img/play-icon.svg') 56% 50% / contain no-repeat;
                }
            .player, .player__thumbnail {
                position:absolute; width:100%; height:100%;
            }
                .player iframe {
                    width:100%; height:100%; position:absolute;
                    border:0;
                }

                .playerBox,
                .playerBox object,
                .playerBox video {
                    position:absolute;
                    top:0; left:0;
                    width:100%; height:100%;
                    background:#000;
                }
            .player__thumbnail {
                background:50% 50% / 112% auto no-repeat;
            }

        .card__copy { 
            width:18.75em;
            position: absolute;
            top:0; right:0; bottom:17.25em;
            overflow-y: auto; overflow-x:hidden;
            -webkit-transition:height 0.25s; 
            transition:height 0.25s;
        }
            .cards__list--noAds .card__copy {
                bottom:0;
            }

            .card__title {
                color:#000;
                font-size:1.9375em;
                line-height:1.1;
                margin:0 0 0.25em 0;
            }
            .card__attributes {
                color:#999; 
                font-size:0.8125rem;/*13px*/
                line-height: 1;
            }
            .card__desc {
                margin:0.75rem 0;
                font-size:0.875em;
                line-height:1.5;
            }

            @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
                /*  w: 1200px -  1696px
                /   h: 720px ++ */
                .card__title {
                    font-size:2.25em;
                }
                .card__attributes {
                    font-size:0.8125rem;
                }
                .card__desc {
                    font-size:1em;
                }
            }
            @media screen and (min-width:106.0625rem) and (min-height:45rem) {
                /*  w: 1697px ++ 
                /   h: 720px ++ */
                .card__title {
                    font-size:2.5em;
                }
                .card__attributes {
                    font-size:1rem;
                }
                .card__desc {
                    font-size:1.125em;
                }
            }





/*  ================================================
    branded MR styles
    ================================================ */
    .MiniReel--brandedMR .cards__list {
        top:4.125em;
    }

    .brandProfile__group {
        margin:0;
        width:calc(100% - 10em);
    }


        .brandProfile__logoBox {
            width:3.375em; height:3.375em;
            float:left;
            border:3px solid #ddd;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .brandProfile__logo {
                width:3em; height:3em;
                display: block;
            }


        .brandProfile__tag {
            font-size:0.875em; color:#999;
            margin:0.125rem 0 0.25rem 0;
        }
        
        .brandProfile__link {
            border:0;
        }


        .brand__actions {
            margin:0;
            position:absolute;
            top:0; right:0;
            width:10em;
        }
            .brand__goBtn {
                margin:0; padding:0.75em 0.5em;
                border-radius:3px;
                width:100%;
                text-align: center; line-height:1;
            }





/*  ================================================
    ballot module styles
    ================================================ */
    .ballot-module {
        position:absolute; z-index: 2;
        top:0; left:0; right:19.875em; bottom:0;
    }
    .ballot__group {
        position: absolute; z-index:5;
        width:34.5em; height:9em;
        top:50%; left: 50%;
        border-radius:3px;
        background:#fff;
        margin:-4.5em 0 0 -17.25em; 
        text-align: center;
    }
        .ballot__closer {
            z-index:-1; position: absolute;
            top:0; left:0; bottom:0; right:0;
        }
    .ballot__title {
        color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
        text-align: center; line-height: 1.4;
    }
    .ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .ballot__item {
            display:inline-block; margin:0 1em;
        }
            .ballot__btn {
                border:0; width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.25rem;/*20px*/ color:#fff; font-weight:bold; font-style: italic;
                cursor:pointer;
            }
                .ballot__btn0 {
                    background:#8ac12a;
                }
                .ballot__btn1 {
                    background:#19cbe6;
                }
                .ballot__btn-label {
                    font-size:1.125rem;/*18px*/ line-height: 1.33;
                }
        .ballot__textlink {
            position: absolute; margin: 0; bottom:0.625rem;/*10px*/ cursor: pointer;
        }
            .ballot__results {
                right: 1rem;
            }
            .ballot__watch-again {
                left: 1rem;
            }


    @media screen and (max-width:33.75rem) {
        /*max 540px*/
        .ballot__group {
            top:4rem;
        }
        .ballot__item {
            margin:0 0.5em;
        }
        .ballot__btn, .ballot__title {
            font-size:1em;
        }
        .ballot__btn {
            width:9em;
        }
    }

    @media screen and (max-width: 26.625rem) {
        /*426px*/
        .ballot__group {
            top:20%;
        }
        .ballot__btn-label {
            font-size: 0.875rem;
        }
        .ballot__btn {
            width:7.25em; height:4em;
        }
        .ballot__textlink {
            font-size: 0.75rem;
        }
    }


/*  ==========================================================================
    .results__group
    ========================================================================== */
    .results-module {
        position: absolute; width:100%;
        z-index: 2; left:0; top:0; opacity: 1;
        -webkit-transition: opacity 1s 0.15s;
        transition: opacity 1s 0.15s;
    }
        .results-module.ng-hide {
            opacity:0;
        }
        .results-module.ng-hide-remove, 
        .results-module.ng-hide-add {
            display: block;
        }
    .results__group {
        position: absolute; height: 100%; padding: 0 10% 0;
        z-index: 2; left:0; right: 0; top:0; background-color: rgba(0,0,0,0.8);
    }
        .results__title {
            color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
            text-align: center; line-height: 1.4; margin-top: 26%;
        }
        .results__list {
            margin:0; padding:0; list-style:none;
        }
            .results__item {
                display:inline-block; width:50%;
            }
                .results__item1 {
                    text-align: right;
                }
                .results__option {
                    font-weight:400; font-style:italic; font-size:1em; line-height: 1.5;
                    margin:0;
                }
                .results__tally {
                    font-weight:900; font-style: italic; font-size:1.375em;/*22px*/ line-height: 1;
                    margin:0 0 0.7273em;/*16px*/ 
                }
                    .results__item0 .results__option, .results__item0 .results__tally {
                        color:#8ac12a;
                    }
                    .results__item1 .results__option, .results__item1 .results__tally {
                        color:#19cbe6;
                    }
        .results__meter {
            background:#19cbe6;
            height:1.75em;/*28px*/ width:100%;
            overflow: hidden;
        }
            .results__bar1 {
                height:1.75em; background:#8ac12a; border-right:1px solid #000;
            }
        .results__watch-again {
            display: block; margin: 3em auto 0; cursor: pointer; width: 10em;
        }

        .results__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width: 33.75rem) {
        /*540px*/
        .results__title {
            font-size: 1em; margin-top: 20%;
        }
        .results__meter {
            height: 1.25em;
        }
            .results__option {
                font-size: 0.875em;
            }
            .results__tally {
                font-size: 1em;
            }
        .results__watch-again {
            font-size: 0.875em;
        }
    }
    @media screen and (max-width: 25rem) {
        /*400px*/
        .results__title {
            margin-top: 15%;
        }
        .results__watch-again {
            margin: 1.5em auto 0;
        }
    }




/*  ================================================
    actionsModal__group styles
    ================================================ */
    .actionsModal__group {
        position:absolute; z-index: 2;
        top:0; left:0; right:19.875em; bottom:0;
        overflow: hidden;
    }
    .actionsModal__list {
        position:absolute; z-index: 2;
        top:50%; left:50%;
        width:36em;
        margin:-1.5em 0 0 -18em;
        padding:0;
        text-align: center;
        list-style: none;
    }
        .actionsModal__item {
            position:relative;
            display: inline-block;
            margin:0 0.5em 1.5em;
        }
        .actionsModal__btn {
            padding:0 1em 0 4em;
            height:3em;
            text-align: center;
        }

            .actionsModal__btn:before {
                position:absolute;
                top:1em; left:1em;
                z-index: 3;
                content:'';
            }
            .actionsModal__btn:after {
                content:'';
                position: absolute;
                top:0; left:0;
                z-index: 2;
                width:3rem; height:3rem;
                background-color:rgba(0,0,0,0.2);
                display: block;
            }

        @media screen and (max-width:52rem) {
            /*max 832px*/
            .actionsModal__list {
                margin:-3.75em 0 0 -7.125em;
                width:14.25em;
            }
            .actionsModal__item {
                margin:0 0 1.5em 0;
            }
        }




/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .splash__group {
        position:absolute; z-index: 2; top:0; right:0; left:0; bottom:0;
        background:#000; 
    }
    .splash__start {
        position:absolute; top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:none;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }
