<!doctype html>
<html ng-controller="AppController as AppCtrl" ng-class="[app.data.profile.minimalUi ? null : 'no-minimal-ui']">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>C6 MiniReel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" ng-href="{{'minireel.css' | asset:'styles'}}">
        <link rel="stylesheet" ng-href="{{'theme.css' | branding:'styles'}}">
        
        <link ng-if="app.data.profile.touch === false" rel="stylesheet" ng-href="{{'minireel--hover.css' | asset:'styles'}}">
        <link ng-if="app.data.profile.touch === false" rel="stylesheet" ng-href="{{'theme--hover.css' | branding:'styles'}}">
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','c6MrGa');
        </script>
    </head>
    <body>
        <div ng-if="!!app.data.mode" class="c6-minireel">
            <ng-include src="'experience.html' | asset:'views'" ng-controller="RumbleController as RumbleCtrl"></ng-include>
        </div>
        <!--C6ENV-->
        <script>
            (function(c6,base,q,s){
                var queryCheck = ['kCollateralUrl','kDebug','kApiUrl','kDevMode','kDevice'],
                    query = (function(string) {
                    if(!q) { return; }
                    return string.substring(1).split('&').map(function(qs) {
                        var qa = qs.split('=');
                        if(qa[1] === 'true' || qa[1] === 'false') {
                            qa[1] = qa[1] === 'true' || false;
                        }
                        return qa;
                    });
                })(q);

                if(query) {
                    query.forEach(function(param){
                        if(queryCheck.indexOf(param[0]) > -1) {
                            c6[param[0]] = param[1];
                        }
                    });
                }

                c6.kMode = (c6.kMode === 'undefined' || (!c6.kMode)) ? 'full' : c6.kMode;
                c6.kBaseUrl = (c6.kDevMode) ? base
                    : ((c6.kDevice === 'phone') ? base + '/mobile' : (base + '/' + c6.kMode));
                s = document.createElement('script');
                s.setAttribute('data-main', (c6.kBaseUrl + '/scripts/main'));
                s.setAttribute('src', 'http://lib.cinema6.com/require/2.1.5/require.min.js');
                document.getElementsByTagName('body')[0].appendChild(s);
            }((window.c6 = (window.c6 || {})),'assets',location.search));
        </script>
    </body>
</html>
