/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pages__fader,
    .mr-pager__activator,
    .mr-pages__current-indicator {
        -webkit-transition: opacity 0.5s ease; 
        -moz-transition: opacity 0.5s ease; 
        -o-transition: opacity 0.5s ease; 
        transition: opacity 0.5s ease;
    }
    .mr-pager__label {
        -webkit-transition: color 0.4s ease; 
        -moz-transition: color 0.4s ease; 
        -o-transition: color 0.4s ease; 
        transition: color 0.4s ease;
    }
        .mr-pages__page:hover .mr-pages__fader {
            opacity:0;
        }
            .mr-pager__btn:hover .mr-pager__activator {
                opacity:0.3;
            }
        .mr-pager__btn--disabled:hover {
            background:#b69823 no-repeat 50% 50%;
        }

    .mr-pages__preview-img {
        -webkit-transition: -webkit-transform 0.5s ease; 
        -moz-transition: -moz-transform 0.5s ease; 
        -o-transition: -o-transform 0.5s ease; 
        transition: transform 0.5s ease;
    }
    .mr-pages__page:hover .mr-pages__preview-img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    }
    .mr-pages__page--active:hover .mr-pages__preview-img {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        -o-transform: scale(1.12);
        -ms-transform: scale(1.12);
        transform: scale(1.12);
    }

/*  ==========================================================================
    .ui-navbar classes
    ========================================================================== */    
    .ui-control__preview-img {
        -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
    }
        .ui-nav__prev:hover .ui-control__preview-img, 
        .ui-nav__next:hover .ui-control__preview-img {
            opacity:0.76;
        }
    .ui-navbar__page, .mr-nav__btn {
        -webkit-transition:background 0.5s; transition:background 0.5s;
    }
        .ui-navbar__page:hover {
            background:#4c4c4c;
        }
        .ui-navbar__page .ui-control__preview-img--active {
            opacity:1;
        }
        .ui-navbar__page:hover .ui-control__preview-img {
            opacity:1;
        }

/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__bar {
        -webkit-transition: background 0.2s ease; 
        -moz-transition: background 0.2s ease; 
        -o-transition: background 0.2s ease; 
        transition: background 0.2s ease;
    }
        .mr-splash__start:hover .mr-splash__bar {
            background-color: #b69823;
        }
