/*  ================================================
    global / reset styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#444; 
        line-height: 1.5;
        background:#fff; 
        margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper / ui classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }



    .sprite {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1.125rem; height:1.125rem;
            background-position:-5.625rem -10.125rem;
            display: inline-block;
        }

        .socialIcons {
            width:1.125rem; height:1.125rem;
            display: inline-block;
        }
            .socialIcons--youtube {
                background-position:-1.125rem -1.125rem;
            }
            .socialIcons--vimeo {
                background-position: -3.375rem -1.125rem;
            }
            .socialIcons--facebook {
                background-position: -5.625rem -1.125rem;
            }
            .socialIcons--twitter {
                background-position: -7.875rem -1.125rem;
            }
            .socialIcons--pinterest {
                background-position: -10.125rem -1.125rem;
            }



    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; width:100%; height:100%; z-index: 1; left:0;
    }
        .overlay__closeBtn {
            width:1.5rem; height:1.5rem;
            position: absolute;
            top: 0; right: 0;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
    }
        .btnPrimary .btn__label {
            font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
            font-size:0.875em;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
        }


    .btnSecondary {

    }




/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.25s linear opacity;
        transition:0.25s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }





/*  ================================================
    experience classes
    ================================================ */
    .experience__group {
        position:absolute; z-index: 2;
        top:3.5em; right:3.5em; bottom:3.5em; left:3.5em;
        min-height:20em;
    }


    .MiniReel__group {
        background:#fff;
        border-radius:3px;
        padding:0.5em;
        position: absolute;
        width:100%; height:100%;
        min-height:20em;
    }

        .MiniReel__closeBtn,
        .MiniReel__closeBtn:active,
        .MiniReel__closeBtn:focus {
            width:2.5em; height:2.5em;
            padding:0.5em;
            position:absolute; z-index: 5;
            top:-1.25em; right:-1.25em;
            background:#000; border-radius:50%;
            border:3px solid #fff;
            -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
            box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
        }
            .MiniReel__closeBtn:active {
                top:-1.125em;
            }

            .MiniReel__closeBtn .sprite--close {
                display: block;
            }





/*  ================================================
    titleBar classes
    ================================================ */
    .titleBar__group {
        position: relative;
    }

        .titleBar__disabler {
            position:absolute;
            z-index: 2;
            width:100%; height:100%;
        }


        .brandProfile__logoBox {
            width:2.5em; height:2.5em;
            display: block;
            float:left;
        }
            .brandProfile__logo {
                display: block;
                width:2.5em; height:2.5em;
            }


        .titleBar__title {
            margin:0 0 0 0.5rem;
            font-size:1.0625em;
            line-height: 1;
            font-weight:normal;
            float:left;
            width:100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
            .brandedMR__tagline {
                font-size:0.75em;
                color:#999;
                display: block;
                margin:0.25em 0;
            }
                .brandedMR__taglineBrand {
                    font-weight:bold;
                }

            .titleBar__titleText {
                color:#000;
                cursor:pointer;
            }


            /* this is the container for publisher logos. by default it is 
            hidden. override this via external publisher css file*/
            .publisherProfile__logoBox {
                display:none;
            }





/*  ================================================
    cards classes
    ================================================ */
    .cards__group {
        position:absolute;
        top:1px; right:0.5em; bottom:3.75em; left:0.5em;
    }

    .cards__list {
        list-style:none;
        margin:0; padding:0;
    }

    .cards__item {
        margin:0; padding:0;
    }

    .card__title {
        color:#000;
    }





/*  ================================================
    text only card classes
    ================================================ */
    .textOnly__group {

    }

    .textOnly__copy {
        overflow-x:hidden;
        overflow-y:auto;
        position:absolute;
        right:0; left:19em; top:0; bottom:0;
        min-height:10em;
        padding:3em 4em 4em 2em;
    }
        .textOnly__copy .card__title {
            margin:0.25em 0 0.90625em 0; 
            font-size:2em; 
            line-height: 1;
        }

        .textOnly__copy .card__desc {
            margin:0;
            font-size:0.8125em;
            line-height: 1.25rem;
        }

        .textOnly__goBtn {
            padding:0.5em 2em;
            margin:1.1875em 0 0 0;
        }

    .textOnly__imgBox {
        width:18.75em; height:100%;
        position:absolute;
        left:0; top:0;
        background:50% 50% / cover no-repeat;
    }




/*  ================================================
    playlist classes
    ================================================ */
    .playlistNav__group {
        height:3em;
    }





/*  ================================================
    branded MR classes
    ================================================ */
    .experience__group--brandedMR .MiniReel__group {
        height:calc(100% - 1.8125em);
        min-height:18em;
    }

    .experience__group--brandedMR .titleBar__group {
        height:2.75em;
    }
        .experience__group--brandedMR .titleBar__title {
            width:calc(100% - 3em);
        }


    .experience__group--brandedMR .cards__group {
        top:3.25em;
    }





/*  ================================================
    publisher branding classes 
    - external stylesheet for when publisher logos are needed
    ================================================ */
    .experience__group--brandedMR .titleBar__title {
        width:calc(100% - 14em);
    }
    .publisherProfile__logoBox {
        width:9.375em; height:1.5em;
        margin:0 1em 0 0;
        background: url('../../img/_publisherLogo--wide@2x.png') 50% 50% / cover no-repeat;
        float:right;
        display:block;
    }