/*  ================================================
    background transitions
    ================================================ */
    .MiniReel__closeBtn,
    .btnPrimary,
    .brandProfile__linksBox .socialIconsBe:before {
        -webkit-transition:background 0.3s; transition:background 0.3s;
    }

    .MiniReel__closeBtn:hover {
        background:#d94040;
    }
    .btnPrimary:hover {
        background:#fff;
    }
    .brandProfile__linksBox .socialIconsBe__light--youtube:hover:before {
        background-position:-1.125rem -3.375rem;
    }
    .brandProfile__linksBox .socialIconsBe__light--vimeo:hover:before {
        background-position:-3.375rem -3.375rem;
    }
    .brandProfile__linksBox .socialIconsBe__light--facebook:hover:before {
        background-position:-5.625rem -3.375rem;
    }
    .brandProfile__linksBox .socialIconsBe__light--twitter:hover:before {
        background-position:-7.875rem -3.375rem;
    }
    .brandProfile__linksBox .socialIconsBe__light--pinterest:hover:before {
        background-position:-10.125rem -3.375rem;
    }





/*  ================================================
    color transitions
    ================================================ */
    .titleBar__titleText,
    .btnLabel,
    .brandProfile__link {
        -webkit-transition:color 0.3s; transition:color 0.3s;
    }

    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label,
    .brandProfile__link:hover {
        color:#d94040;
    }
    .brandProfile__linksBox .tk--youtube:hover {
        color:#e22d24;
    }
    .brandProfile__linksBox .tk--vimeo:hover {
        color:#6b859f;
    }
    .brandProfile__linksBox .tk--facebook:hover {
        color:#6281c3;
    }
    .brandProfile__linksBox .tk--twitter:hover {
        color:#00b0ed;
    }
    .brandProfile__linksBox .tk--pinterest:hover {
        color:#cb2027;
    }





/*  ================================================
    opacity transitions
    ================================================ */
    .textOnly__imgBox:after,
    .page__previewImg:before {
        -webkit-transition:opacity 0.3s; transition:opacity 0.3s;
    }

    .textOnly__imgBox:hover:after {
        opacity:0.5;
    }

    .page__previewImg:hover:before {
        opacity:0;
    }




/*  ================================================
    fill transitions
    ================================================ */
    .pagerNav__btnIconPath {
        -webkit-transition:fill 0.3s; transition:fill 0.3s;
    }

    .pagerNav__btn:hover .pagerNav__btnIconPath {
        fill:#d94040;
    }





/*  ================================================
    position transitions
    ================================================ */
    .pagerNav__btnIcon {
        -webkit-transition:left 0.2s, right 0.2s, top 0.2s, bottom 0.2s; 
        transition:left 0.2s, right 0.2s, top 0.2s, bottom 0.2s; 
    }

    .pagerNav__btn:hover .pagerNav__btnIcon--prev {
        left:8%;
    }
    .pagerNav__btn:hover .pagerNav__btnIcon--next {
        right:8%;
    }





/*  ================================================
    transform transitions
    ================================================ */
    .someClass {
        -webkit-transition: -webkit-transform 0.3s ease; 
        transition: transform 0.3s ease;
    }

    .page__btn:hover .page__previewImg {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
        .page__btn--active:hover .page__previewImg {
            -webkit-transform: scale(1.12);
            transform: scale(1.12);
        }




/*  ================================================
    misc transitions
    ================================================ */
    .textLink:hover {
        border-bottom:1px dotted #d94040;
    }

    .textOnly__imgBox:after {
        position:absolute;
        top:0; left:0;
        width:100%; height:100%;
        content:'';
        background:#d94040;
        opacity:0;
    }



/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pages__fader,
    .mr-pager__activator,
    .mr-pages__current-indicator {
        -webkit-transition: opacity 0.5s ease; 
        -moz-transition: opacity 0.5s ease; 
        -o-transition: opacity 0.5s ease; 
        transition: opacity 0.5s ease;
    }
    .mr-pager__label {
        -webkit-transition: color 0.4s ease; 
        -moz-transition: color 0.4s ease; 
        -o-transition: color 0.4s ease; 
        transition: color 0.4s ease;
    }
        .mr-pages__page:hover .mr-pages__fader {
            opacity:0;
        }
            .mr-pager__btn:hover .mr-pager__activator {
                opacity:0.3;
            }
        .mr-pager__btn--disabled:hover {
            background:#d94040 no-repeat 50% 50%;
        }

    
    .mr-pages__preview-img {
        -webkit-transition: -webkit-transform 0.3s ease; 
        -moz-transition: -moz-transform 0.3s ease; 
        -o-transition: -o-transform 0.3s ease; 
        transition: transform 0.3s ease;
    }
    .mr-pages__page:hover .mr-pages__preview-img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    }
    .mr-pages__page--active:hover .mr-pages__preview-img {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        -o-transform: scale(1.12);
        -ms-transform: scale(1.12);
        transform: scale(1.12);
    }

/*  ==========================================================================
    .ui-navbar classes
    ========================================================================== */    
    .ui-control__preview-img {
        -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
    }
        .ui-nav__prev:hover .ui-control__preview-img, 
        .ui-nav__next:hover .ui-control__preview-img {
            opacity:0.76;
        }
    .ui-navbar__page, .mr-nav__btn {
        -webkit-transition:background 0.5s; transition:background 0.5s;
    }
        .ui-navbar__page:hover {
            background:#4c4c4c;
        }
        .ui-navbar__page .ui-control__preview-img--active {
            opacity:1;
        }
        .ui-navbar__page:hover .ui-control__preview-img {
            opacity:1;
        }

/*  ================================================
    sponsored card styles
    ================================================ */
    .mr-sponsorProfile__imgBox {
        -webkit-transition:border 0.5s;
        transition:border 0.5s;
    }
    .mr-sponsorProfile__imgBox:hover {
        border:1px solid #d94040;
    }
    .mr-sponsor__goBtn:hover {
        color:#fff;
    }


/*  ==========================================================================
    text card classes
    ========================================================================== */    
    .mr-textCard__goImg:after {
        -webkit-transition: opacity 0.5s ease; 
        -moz-transition: opacity 0.5s ease; 
        -o-transition: opacity 0.5s ease; 
        transition: opacity 0.5s ease;
    }
        .mr-textCard__goImg:hover:after {
            opacity:0.3;
        }
    .mr-textCard__goBtn {
        -webkit-transition: background-position 0.2s; 
        -moz-transition: background-position 0.2s; 
        -o-transition: background-position 0.2s; 
        transition: background-position 0.2s;
    }
        .mr-textCard__goBtn:hover {
            background-position:88% 50%;
        }
        

/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__bar {
        -webkit-transition: background 0.2s ease; 
        -moz-transition: background 0.2s ease; 
        -o-transition: background 0.2s ease; 
        transition: background 0.2s ease;
    }