/*  ================================================
    global / reset styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#444; 
        line-height: 1.5;
        background:#fff; 
        margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper / ui classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }



    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1rem; height:1rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1rem -3rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -3rem -3rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -5rem -3rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -7rem -3rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -9rem -3rem;
            }

            .socialIconsBe__dark--youtube:before {
                background-position:-1rem -1rem;
            }
            .socialIconsBe__dark--vimeo:before {
                background-position: -3rem -1rem;
            }
            .socialIconsBe__dark--facebook:before {
                background-position: -5rem -1rem;
            }
            .socialIconsBe__dark--twitter:before {
                background-position: -7rem -1rem;
            }
            .socialIconsBe__dark--pinterest:before {
                background-position: -9rem -1rem;
            }

            .socialIconsBe__light--youtube:before {
                background-position:-1rem -5rem;
            }
            .socialIconsBe__light--vimeo:before {
                background-position: -3rem -5rem;
            }
            .socialIconsBe__light--facebook:before {
                background-position: -5rem -5rem;
            }
            .socialIconsBe__light--twitter:before {
                background-position: -7rem -5rem;
            }
            .socialIconsBe__light--pinterest:before {
                background-position: -9rem -5rem;
            }



            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
            }
            .uiIconsBe__dark--replay:before {
                background-position:-1rem -7rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0;
        width:100%; height:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:1em; right:1em;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
    }
        .btnPrimary .btn__label {
            font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif;
            font-size:0.875em;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
        }


    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:#d94040; 
        color:#fff; font-weight:bold;
        border-radius:3px;
        display:table;
        text-align: center; 
        line-height:1;
    }


    .ui-offscreen {
        left:-500%; top:0;
        position: absolute;
    }




/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.3s linear opacity;
        transition:0.3s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }





/*  ================================================
    experience classes
    ================================================ */
    .experience__group {
        position:absolute; z-index: 2;
        top:0; left:0;
        height:100%; width:100%;
        text-align: center;
        white-space: nowrap;
        overflow: auto;
    }
        .experience__group:before {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            /* MR min height threshold to trigger scrollbars */
            min-height:500px;
        }
        .experience {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            white-space: normal;
            position:relative;
            width:90%;
            /* MR min width threshold to trigger scrollbars */
            min-width:600px;
        }


    .MiniReel__group {
        background:#fff;
        border-radius:3px;
        padding:0.5em 0.5em 58% 0.5em; margin:1.25em 0;
        position: relative;
        width:100%; height: 0;
        min-height:20em;
    }

        .MiniReel__closeBtn,
        .MiniReel__closeBtn:active,
        .MiniReel__closeBtn:focus {
            width:2.5em; height:2.5em;
            padding:0;
            position:absolute; z-index: 5;
            top:-1.25em; right:-1.25em;
            background:#000; border-radius:50%;
            border:3px solid #fff;
            -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
            box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
        }
            .MiniReel__closeBtn:active {
                top:-1.125em;
            }

            .MiniReel__closeBtn .sprite--close {
                display: block;
                margin:0 auto;
            }





/*  ================================================
    titleBar classes
    ================================================ */
    .titleBar__group {
        position: relative;
        height:1.25em;
    }

        .titleBar__disabler {
            position:absolute;
            z-index: 2;
            width:100%; height:100%;
        }


        .brandProfile__logoBox {
            width:2.5em; height:2.5em;
            display: block;
            float:left;
        }
            .brandProfile__logo {
                display: block;
                width:2.5em; height:2.5em;
            }


        .titleBar__title {
            margin:0;
            font-size:1.0625em;
            line-height: 1;
            font-weight:normal;
            float:left;
            width:100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
            .brandedMR__tagline {
                font-size:0.75em;
                color:#999;
                display: block;
                margin:0.25em 0;
            }
                .brandedMR__taglineBrand {
                    font-weight:bold;
                }

            .titleBar__titleText {
                color:#000;
                cursor:pointer;
            }


            /* this is the container for publisher logos. by default it is 
            hidden. override this via external publisher css file*/
            .publisherProfile__logoBox {
                display:none;
            }





/*  ================================================
    cards classes
    ================================================ */
    .cards__group {
        position:absolute;
        top:2em; right:0.5em; bottom:3.75em; left:0.5em;
        overflow: hidden;
    }

    .cards__list {
        list-style:none;
        margin:0; padding:0;
    }
        .cards__item {
            margin:0; padding:0;
        }



/*  ================================================
    video card classes
    ================================================ */
    .player__group {
        height:100%;
        width:calc(100% - 19em);
        position: absolute;
        overflow: hidden;
    }

        .player, .player__thumbnail {
            position:absolute; width:100%; height:100%;
        }
            .player iframe {
                width:100%; height:100%; position:absolute;
            }
        
        .player__thumbnail {
            background:50% 50% / cover no-repeat;
        }

        .player__playBtn {
            width: 6.375rem;/*68px*/ height: 5.4375rem;/*58px*/
            padding: 0; margin: -3.875rem 0 0 -3.1875rem; border: 0; 
            cursor: pointer;
            background: rgba(0,0,0,0.8);
            position: absolute; left: 50%; top: 50%; z-index:1;
        }
            .player__playIcon {
                height: 45%; width: 100%;
                background: url('../../img/play-icon.svg') 50% 50% / contain no-repeat;
            }


    .card__copy {
        width:18.5em;
        position:absolute;
        right:0; top:0; bottom:0;
        overflow: auto;
    }
        .card__title {
            color:#000;
            font-size:1.125em;
            line-height: 1.5rem;
            margin:0.0625rem 0 0 0;
        }
        .card__attributes {
            color:#999; 
            font-size:0.75em;/*12px*/ 
            margin:2px 0 12px 0;
        }
        .card__desc {
            margin:0.5rem 0 0 0;
            font-size:0.8125em;
            line-height: 1.25rem;
        }



    /*  video ad card classes
        ================================================ */
        .videoAd__label {
            text-align: center;
            font-size:0.75em;
            position: absolute; z-index:1;
            top:0.125rem;
            width:100%;
            margin:0;
            color:#999;
        }
        .companionAd__group {
            width:18.75em;
            position:absolute;
            right:0; bottom:0; top:auto;
        }
            .companionAd__group--videoAd {
                top:0; bottom:auto;
            }
            .companionAd__group--videoAd .displayAd__label {
                position:absolute;
                top:15.625rem;
            }



    /*  display ad module classes
        ================================================ */
        .displayAd__label {
            font-size:0.625em;
            color:#999;
            text-align: center;
            width:100%;
            display: block;
            background:#fff;
        }

        .displayAd__box {
            width:18.75em; height:15.625em;
        }






/*  ================================================
    text only card classes
    ================================================ */
    .textOnly__copy {
        overflow-x:hidden;
        overflow-y:auto;
        position:absolute;
        right:0; left:19em; top:0; bottom:0;
        padding:3em 4em 1em 2em;
    }
        .textOnly__copy .card__title {
            margin:0.25em 0 0.90625em 0; 
            font-size:2em; 
            line-height: 1;
        }

        .textOnly__goBtn {
            padding:0.5em 2em;
            margin:1.1875em 0 0 0;
        }

    .textOnly__imgBox {
        width:18.75em; height:100%;
        position:absolute;
        left:0; top:0;
        background:50% 50% / cover no-repeat;
    }



/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0.625em 0 0 0;
    }


        .sponsorProfile__imgBox {
            width:3.125em; height:3.125em;
            float:left;
            border:1px solid #ddd;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:3em; height:3em;
                display: block;
            }


        .sponsorProfile__tag {
            font-size:0.75em; color:#999;
            margin:0.125rem 0 0 0;
        }
        
        .sponsorProfile__link {
            border:0;
        }

        .sponsor__actions {
            margin:1em 0;
        }
            .sponsor__goBtn {
                margin:0 0 1em 0;
                padding:0.25em 1em;
                border-radius:3px;
                display:table;
            }



/*  ================================================
    pagerNav classes
    ================================================ */
    .pagerNav__group {
        height:3em;
        position:absolute;
        bottom:0.5em; left:0.5em; right:0.5em;
        display: block;
    }

    .pagerNav__btn {
        min-width:6em;/*96px*/ 
        height:3em;/*48px*/ 
        position:absolute;
        left:0;
    }
        .pagerNav__btn--next {
            right:0; left:auto;
        }

        .pagerNav__btn--disabled {
            opacity:0.25; cursor:default;
        }
            .pagerNav__btn--disabled .btn__label {
                color:#000;
            }


        .pagerNav__btnIcon {
            display:block; 
            width:0.75rem;/*12px*/ 
            height:100%;
            position:absolute; z-index:1;
            top:0; left:12.5%; margin:0;
        }
            .pagerNav__btnIcon--next {
                right:12.5%; left:auto;
            }

            .pagerNav__btnIconPath {
                fill:#fff;
            }

        .pagerNav__btnLabel {
            font-weight:bold; 
            color:#fff; 
            line-height:1; 
            font-size:0.875rem;
            display: block;
            position:absolute; z-index: 1; 
            top:1em; left:40%;
        }
            .pagerNav__btn--next .pagerNav__btnLabel {
                right:40%; left:auto;
            }


    .adSkip__group {
        background:#000; background:rgba(0,0,0,0.75);
        text-transform: uppercase; text-align: center; 
        font-weight:bold; font-size:0.875em; color:#fff;
        position:absolute; z-index: 4;
        width:100%; height:100%;
        box-sizing:border-box;
        padding-top:1em;
    }


    .pages__group {
        position:absolute; 
        left:1.5625rem;/*25px*/ 
        right:1.5625rem;/*25px*/
        height:100%; overflow: hidden; 
        margin: 0 2px;
    }
        .pages__scroller {
            position: relative; left: 0;
            -webkit-transition: 0.3s left; transition: 0.3s left;
        }
            .pages__list {
                margin:0; padding:0; list-style: none;
                width:12000%; background:green;
            }

                .pages__item {
                    float:left; margin:0 0.125rem 0 0;
                }
                    .page__btn {
                        width:4.5625rem;/*73px*/ height:3rem;/*48px*/
                        margin:0; padding:0; border:0;
                        position:relative; overflow: hidden;
                        cursor: pointer;
                        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                    }
                        .page__btn:after {
                            content:'';
                            opacity:0; 
                            display: block; 
                            width:100%; height:0.25em;
                            position: absolute; z-index: 2; 
                            bottom:0; left:0;
                            border-top:1px solid #fff;
                            background:#d94040;
                            -webkit-transition:opacity 0.3s; transition:opacity 0.3s;
                        }
                        .page__btn--active:after {
                            opacity:1;
                        }
                        .page__btn--ad:before {
                            content:'Ad';
                            position: absolute;
                            top:2px; left:2px;
                            background:#000; color:#fff;
                            padding:0 2px;
                            font-size:0.625rem; font-weight:bold;
                            z-index: 2;
                        }

                        .page__previewImg {
                            position:absolute; top:0;
                            width:100%; height:100%; display: block;
                            background:no-repeat 50% 50% / 114%;
                            -webkit-transition: -webkit-transform 0.3s ease; 
                            transition: transform 0.3s ease;
                        }
                            .page__previewImg:before {
                                content:'';
                                position: absolute;
                                top:0; left:0;
                                width:100%; height:100%;
                                background:#000;
                                opacity:0.5;
                            }
                            .page__btn--active .page__previewImg:before {
                                opacity:0;
                            }
                            .page__btn--active .page__previewImg {
                                -webkit-transform: scale(1.12);
                                transform: scale(1.12);
                            }





/*  ================================================
    ballot classes
    ================================================ */
    .ballot__group {
        position:absolute; z-index:2;
        top:0; bottom:0; left:0; right:19em;
    }
    .ballot__box {
        position:absolute; z-index:2;
        top:45%; left:50%; 
        width:33em;
        margin:-4.5em 0 0 -16.5em;
        border-radius:3px;
        background:#fff;
        text-align: center;
    }

        .ballot__intro {
            font-size:0.8125em;
            color:#999;
            display: block;
            margin:1.125rem 0 0 0;
        }
        .ballot__title {
            color:#000;
            font-size:1.25em;
            line-height: 1.5rem;
            margin:-1px 0 0 0;
        }

        .ballot__list {
            list-style: none;
            margin:1.25em 0 0 0; padding:0;
            height:4em;
        }
            .ballot__item {
                position:absolute;
            }
                .ballot__item0 {
                    right:50%;
                    margin:0 1.5em 0 0;
                }
                    .ballot__item0:after {
                        content:'OR';
                        position:absolute;
                        left:100%; top:0.6875rem;
                        width:3rem;
                        color:#999;
                        font-size:0.8125em;
                    }
                .ballot__item1 {
                    left:50%;
                    margin:0 0 0 1.5em;
                }

            .ballot__btn {
                height:2.5em;
                padding:0 1em 0 3.5em;
            }
                .ballot__btn:before {
                    font-weight:bold;
                    color:#fff;
                    text-shadow: 0 1px 1px rgba(0,0,0,0.44);
                    position: absolute;
                    top:0; left:0;
                    width:2.5em; height:2.5em;
                    padding:0.75em 0 0 0;
                    background:rgba(0,0,0,0.2);
                }
                    .ballot__btn0:before {
                        content:'A';
                    }
                    .ballot__btn1:before {
                        content:'B';
                    }
                .ballot__btn1 {
                    background:#1789cb;
                    border-color:#1789cb;
                }

                .ballot__btnLabel {
                    color:#fff;
                    font-weight:bold;
                    text-shadow: 0 1px 1px rgba(0,0,0,0.44);
                }
                    .ballot__btn .ballot__btnLabel {
                        text-transform: none;
                        font-size:1em;
                    }


        .ballot__textLink {
            position: absolute;
            bottom:-2.25em;
            cursor:pointer;
            color:#fff;
        }
            .ballot__textLink--replay {
                right:52%;
                text-align:right;
            }
            .ballot__textLink--results {
                left:52%;
                text-align: left;
            }

            .ballot__textLink .textLink__label {
                font-weight:bold;
                font-size:0.875em;
                vertical-align: middle;
                line-height: 1;
            }





/*  ================================================
    branded MR classes
    ================================================ */
    .experience__group--brandedMR .MiniReel__group {
        margin-bottom:2.8125em;
    }

    .experience__group--brandedMR .titleBar__group {
        height:2.75em;
    }
        .experience__group--brandedMR .titleBar__title {
            width:calc(100% - 3em);
            margin:0 0 0 0.5rem;
        }


    .experience__group--brandedMR .cards__group {
        top:3.25em;
    }

    
    .brandProfile__linksBox {
        position: absolute;
        bottom:1.375em;
        text-align: center;
        width:100%;
    }
        .brandProfile__link {
            padding:0 0.5em;
            font-size:0.75em;
            display: inline-block;
            color:#fff;
        }
        .brandProfile__link .socialIcons,
        .brandProfile__linkLabel {
            vertical-align: middle;
        }
        .brandProfile__linkLabel {
            padding-left:0.25em;
        }







/*  ================================================
    Splash Screen classes
    ================================================ */
    .splash__start {
        position:absolute; z-index: 20;
        top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:#000;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }





/*  ================================================
    publisher branding classes 
    - external stylesheet for when publisher logos are needed
    ================================================ */
    .titleBar__title {
        width:calc(100% - 10em);
    }
    .experience__group--brandedMR .titleBar__title {
        width:calc(100% - 14em);
    }
    .publisherProfile__logoBox {
        width:9.375em; height:1.5em;
        margin:0 1em 0 0;
        background: url('../../img/_publisherLogo--wide@2x.png') 50% 50% / cover no-repeat;
        float:right;
        display:block;
    }