/*  ==========================================================================
    Theme Styles: News (#2391d7)
    ========================================================================== */
    .ed-news .mr-pager__btn--disabled:hover,
    .ed-news .mr-preview__button:hover,
    .ed-news .mr-nav__btn:hover,
    .ed-news .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #2391d7;
    }
    .ed-news .mr-card__btn-watch:hover {
        color: #2391d7;
    }


/*  ==========================================================================
    Theme Styles: Life (#c0392b)
    ========================================================================== */
    .ed-life .mr-pager__btn--disabled:hover,
    .ed-life .mr-preview__button:hover,
    .ed-life .mr-nav__btn:hover,
    .ed-life .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #c0392b;
    }
    .ed-life .mr-card__btn-watch:hover {
        color: #c0392b;
    }


/*  ==========================================================================
    Theme Styles: Money (#27ae60)
    ========================================================================== */
    .ed-money .mr-pager__btn--disabled:hover, 
    .ed-money .mr-preview__button:hover,
    .ed-money .mr-nav__btn:hover,
    .ed-money .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #27ae60;
    }
    .ed-money .mr-card__btn-watch:hover {
        color: #27ae60;
    }


/*  ==========================================================================
    Theme Styles: Sports (#e67e22)
    ========================================================================== */
    .ed-sports .mr-pager__btn--disabled:hover,
    .ed-sports .mr-preview__button:hover,
    .ed-sports .mr-nav__btn:hover,
    .ed-sports .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #e67e22;
    }
    .ed-sports .mr-card__btn-watch:hover {
        color: #e67e22;
    }


/*  ==========================================================================
    Theme Styles: Dating (#8e44ad)
    ========================================================================== */
    .ed-dating .mr-pager__btn--disabled:hover,
    .ed-dating .mr-preview__button:hover,
    .ed-dating .mr-nav__btn:hover,
    .ed-dating .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #8e44ad;
    }
    .ed-dating .mr-card__btn-watch:hover {
        color: #8e44ad;
    }


/*  ==========================================================================
    Theme Styles: Entertainment (#f1c40f)
    ========================================================================== */
    .ed-entertainment .mr-pager__btn--disabled:hover,
    .ed-entertainment .mr-preview__button:hover,
    .ed-entertainment .mr-nav__btn:hover,
    .ed-entertainment .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #f1c40f;
    }
    .ed-entertainment .mr-card__btn-watch:hover {
        color: #f1c40f;
    }


/*  ==========================================================================
    Theme Styles: Music (#2c3e50)
    ========================================================================== */
    .ed-music .mr-pager__btn--disabled:hover,
    .ed-music .mr-preview__button:hover,
    .ed-music .mr-nav__btn:hover,
    .ed-music .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #2c3e50;
    }
    .ed-music .mr-card__btn-watch:hover {
        color: #2c3e50;
    }


/*  ==========================================================================
    Theme Styles: Women (#c35d9e)
    ========================================================================== */
    .ed-women .mr-pager__btn--disabled:hover, 
    .ed-women .mr-preview__button:hover, 
    .ed-women .mr-nav__btn:hover,
    .ed-women .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #c35d9e;
    }
    .ed-women .mr-card__btn-watch:hover {
        color: #c35d9e;
    }


/*  ==========================================================================
    Theme Styles: Envision (#b69823)
    ========================================================================== */
    .ed-envision .mr-pager__btn--disabled:hover, 
    .ed-envision .mr-preview__button:hover,
    .ed-envision .mr-nav__btn:hover,
    .ed-envision .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #b69823;
    }
    .ed-envision .mr-card__btn-watch:hover {
        color: #b69823;
    }



/*  ==========================================================================
    Theme Styles: Humor (#16a085)
    ========================================================================== */
    .ed-humor .mr-pager__btn--disabled:hover, 
    .ed-humor .mr-preview__button:hover, 
    .ed-humor .mr-nav__btn:hover,
    .ed-humor .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #16a085;
    }
    .ed-humor .mr-card__btn-watch:hover {
        color: #16a085;
    }



/*  ==========================================================================
    Theme Styles: Videos (#d5161d)
    ========================================================================== */
    .ed-videos .mr-pager__btn--disabled:hover, 
    .ed-videos .mr-preview__button:hover,
    .ed-videos .mr-nav__btn:hover,
    .ed-videos .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #d5161d;
    }
    .ed-videos .mr-card__btn-watch:hover {
        color: #d5161d;
    }