<div class="experience__group"
ng-class=" {
    'experience__group--brandedMR' : true
}">
    <div class="experience">
            
        <div class="MiniReel__group">

            <button class="MiniReel__closeBtn ui__btn" ng-click="RumbleCtrl.setPosition(-1);" type="button">
                <span class="sprite sprite--close"><span class="ir">Close</span></span>
            </button><!--^this is the x button in the upper right corner-->
            
            <div class="titleBar__group clearfix">
                <div class="titleBar__disabler" ng-show="!nav.enabled">&nbsp;</div>
                <a href="#" title="!!!!BRAND NAME!!!!" target="_blank"
                class="brandProfile__logoBox" ng-show="true">
                    <img class="brandProfile__logo" alt="!!!!BRAND NAME!!!!"
                    src="http://images.gs-cdn.net/static/broadcasts/120_19470543-1402723544.jpg">
                </a>
                <h1 class="titleBar__title">
                    <span class="brandedMR__tagline"
                    ng-show="true">
                        <a href="#" target="_blank" title="!!!!BRAND NAME!!!!"
                        class="brandedMR__taglineBrand textLink">!!!!BRAND NAME!!!!</a> 
                        Presents
                    </span>
                    <span ng-click="RumbleCtrl.jumpTo(tocCards[0])" 
                    class="titleBar__titleText tk--hdr">
                        {{app.data.experience.data.title}}
                    </span>
                </h1>
                <div class="publisherProfile__logoBox">&nbsp;</div>
            </div>

            <article class="cards__group">
                <ng-include src="'deck.html' | asset:'views'" ng-controller="DeckController as DeckCtrl"></ng-include> <!--this brings in the video player-->
            </article>

            <div class="playlist__group"
            ng-hide="currentCard.type === 'recap'"
            ng-class="{
                'playlist__group--companionAd': RumbleCtrl.hasModule('displayAd'),
                'playlist__group--videoAd' : false
            }">
                <div class="playlist__disabler c6-fade" ng-show="!nav.enabled">&nbsp;</div>
                
                <header class="playlistHead__group clearfix">
                    <h2 class="playlistHead__title tk--hdr">Playlist</h2>
                    <span class="playlistHead__pageCount"
                    ng-show="tocIndex > -1">
                        {{tocIndex + 1}} of {{tocCards.length}}
                    </span>
                </header>

                <ul class="playlist">
                    <li class="playlist__item clearfix"
                    ng-repeat="item in tocCards"
                    ng-click="RumbleCtrl.jumpTo(item)"
                    ng-class="{'playlist__item--current' : item === currentCard}">
                        <div class="playlist__thumbHolder"
                        ng-class="{'playlist__thumbHolder--ad' : item.params.ad}">
                            <div class="playlist__thumb"
                            title="{{item.title}}"
                            c6-bg-img="{{item.thumbs.small}}">
                                &nbsp;
                            </div>
                        </div>
                        <div class="playlist__copy">
                            <h3 class="playlist__title tk--hdr">
                                <span class="playlist__link"
                                title="{{item.title}}">
                                    {{item.title}}
                                </span>
                            </h3>
                            <p ng-if="!item.data.hideSource" class="playlist__source" ng-show="!!item.source">via 
                                <a href="{{item.webHref}}" 
                                ng-click="$event.stopPropagation()"
                                title="{{item.source}}"
                                class="playlist__sourceLink textLink"
                                target="_blank">{{item.source}}</a>
                            </p>
                            <p ng-if="!!item.params.sponsor" class="playlist__source">Sponsored by 
                                <a ng-href="{{item.links.Website}}" 
                                ng-click="$event.stopPropagation()"
                                title="{{item.params.sponsor}}"
                                class="playlist__sourceLink textLink"
                                target="_blank">{{item.params.sponsor}}</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div><!--.playlist__group-->
            
        </div><!--.MiniReel__group-->

        <div class="brandProfile__linksBox" ng-show="true">
            <a href="!!!!BRAND OFFICIAL LINK!!!!"
            title="!!!!BRAND NAME!!!! - Official Website"
            target="_blank" class="brandProfile__link">
                <span class="brandProfile__linkLabel">Official Website</span>
            </a>
            <a href="!!!!BRAND SOCIAL LINK!!!!"
            title="YouTube" target="_blank"
            class="brandProfile__link tk--youtube 
            spriteBe socialIconsBe socialIconsBe__light--youtube">
                <span class="brandProfile__linkLabel">YouTube</span>
            </a>
            <a href="!!!!BRAND SOCIAL LINK!!!!"
            title="Vimeo" target="_blank"
            class="brandProfile__link tk--vimeo
            spriteBe socialIconsBe socialIconsBe__light--vimeo">
                <span class="brandProfile__linkLabel">Vimeo</span>
            </a>
            <a href="!!!!BRAND SOCIAL LINK!!!!"
            title="Facebook" target="_blank"
            class="brandProfile__link tk--facebook
            spriteBe socialIconsBe socialIconsBe__light--facebook">
                <span class="brandProfile__linkLabel">Facebook</span>
            </a>
            <a href="!!!!BRAND SOCIAL LINK!!!!"
            title="Twitter" target="_blank"
            class="brandProfile__link tk--twitter
            spriteBe socialIconsBe socialIconsBe__light--twitter">
                <span class="brandProfile__linkLabel">Twitter</span>
            </a>
            <a href="!!!!BRAND SOCIAL LINK!!!!"
            title="Pinterest" target="_blank"
            class="brandProfile__link tk--pinterest
            spriteBe socialIconsBe socialIconsBe__light--pinterest">
                <span class="brandProfile__linkLabel">Pinterest</span>
            </a>
        </div>

    </div><!--.experience-->
</div>

<div class="overlay">&nbsp;</div>

<article id="card" class="container" ng-class="app.data.experience.data.theme">
    <ng-switch on="app.state">
        <div class="splash-screen" ng-switch-when="splash">
            <ng-include ng-if="app.data.version < 1" src="'splash.html' | asset:'views'"></ng-include>
        </div>
    </ng-switch>
</article>