<div class="mr-experience" ng-class="app.data.experience.data.theme">
    <button class="mr-ui__close" ng-click="RumbleCtrl.setPosition(-1);" type="button">
        <span class="sprite mr-icons__close"><span class="ir">Close</span></span>
    </button>
    <div class="mr-card__container">
        <h1 class="mr-title tk--hdr">{{app.data.experience.data.title}}</h1>
        <ng-include src="'deck.html' | asset:'views'"></ng-include>
        
        <button ng-click="RumbleCtrl.goBack('nav')"
            ng-show="nav.enabled"
            class="mr-nav__btn mr-nav__prev c6-fade"
            type="button"
            title="Previous Page"
            ng-hide="currentCard.type === 'recap'">
            <svg class="mr-nav__icon mr-nav__icon-prev" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941" xml:space="preserve">
                <path class="mr-nav__icon-path" fill-rule="evenodd" clip-rule="evenodd" d="M22.971,0L0,22.971l22.971,22.97l4.243-4.243L8.485,22.971
                    L27.213,4.243L22.971,0z"/>
            </svg>
            <span class="ir">Previous Page</span>
        </button>
        <button ng-click="RumbleCtrl.goForward('nav')"
            ng-show="nav.enabled"
            ng-hide="atTail"
            class="mr-nav__btn mr-nav__next c6-fade"
            type="button"
            title="Next Page"
            ng-hide="currentCard.type === 'recap'">
            <svg class="mr-nav__icon mr-nav__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 27.213 45.941" enable-background="new 0 0 27.213 45.941" xml:space="preserve">
                <path class="mr-nav__icon-path" fill-rule="evenodd" clip-rule="evenodd" d="M4.243,0l22.971,22.971L4.243,45.941L0,41.699l18.728-18.728L0,4.243
                L4.243,0z"/>
            </svg>
            <span class="ir">Next Page</span>
        </button>

        <thumb-paginator active="tocIndex"
            ng-if="currentIndex > -1"
            class="mr-pager__group"
            disable-prev-when="!nav.enabled"
            disable-next-when="atTail || !nav.enabled"
            on-prev="RumbleCtrl.goBack('thumb')"
            on-next="RumbleCtrl.goForward('thumb')"
            countdown="nav.wait">
            <ul class="mr-pages__list">
                <li thumb-paginator-item ng-repeat="this in tocCards" class="mr-pages__item">
                    <navbar-button index="$index"
                        current-index="tocIndex"
                        card="this"
                        on-select="RumbleCtrl.goTo(deck.indexOf(this),'thumb');"
                        disable-when="!nav.enabled">
                    </navbar-button>
                </li>
            </ul>
        </thumb-paginator><!--.mr-pager__group-->
    </div>
</div><!--.mr-experience-->

<div class="mr-overlay">&nbsp;</div>

<article id="card" class="mr-container" ng-class="app.data.experience.data.theme">
    <ng-switch on="app.state">
        <div class="splash-screen" ng-switch-when="splash">
            <ng-include ng-if="app.data.version < 1" src="'splash.html' | asset:'views'"></ng-include>
        </div>
    </ng-switch>
</article>
