<div class="actionsModal__group player__height" ng-show="active">
    <ul class="actionsModal__list">
        <li class="actionsModal__item">
            <button class="btnPrimary actionsModal__btn
            spriteBe uiIconsBe uiIconsBe--replay"
            type="button" title="Watch Video Again"
            ng-click="onReplay()">
                <span class="actionsModal__btnLabel btn__label tk--action">Watch Video Again</span>
            </button>
        </li>
        <li class="actionsModal__item">
            <a ng-if="!!sponsorHref"
            class="btnPrimary actionsModal__btn
            spriteBe uiIconsBe uiIconsBe--link"
            type="button" title="Visit Sponsor Site"
            ng-href="{{sponsorHref}}" type="button"
            target="_blank">
                <span class="actionsModal__btnLabel btn__label tk--action">Visit Sponsor Site</span>
            </a>
        </li>
    </ul>

    <div class="overlay" ng-click="onDismiss()">
        <button class="sprite sprite--close overlay__closeBtn">
            <span class="ir">Close</span>
        </button>
    </div>
</div>