<article class="card__group">
    <post-module ng-if="hasModule('post')"
        active="config._data.modules.post.active"
        on-replay="Ctrl.player.play()"
        on-dismiss="config._data.modules.post.active = false"
        card-id="{{config.id}}"
        ballot="config._data.modules.post.ballot"
        sponsor-href="{{config.links.Website}}">
    </post-module>
    <div class="playerSpace player__height">
        <div class="player__group">
            <button ng-if="Ctrl.enablePlay" ng-show="Ctrl.showPlay" ng-click="Ctrl.player.play()" class="player__playBtn">
                <div class="player__playIcon">
                    <span class="ir">Play Video</span>
                </div>
            </button>
            <div ng-class="{'ui--offscreen': Ctrl.flyAway}"
                class="player js-playerBox"
                ng-switch="config.type">
                <youtube-player class="playerBox" ng-switch-when="youtube" id="{{config.id}}-player" videoid="{{config.data.videoid}}" start="{{config.data.start}}" end="{{config.data.end}}"></youtube-player>
                <vimeo-player class="playerBox" ng-switch-when="vimeo" id="{{config.id}}-player" videoid="{{config.data.videoid}}" start="{{config.data.start}}" end="{{config.data.end}}"></vimeo-player>
                <dailymotion-player class="playerBox" ng-switch-when="dailymotion" id="{{config.id}}-player" videoid="{{config.data.videoid}}"></dailymotion-player>
                <rumble-player class="playerBox" ng-switch-when="rumble" id="{{config.id}}-player" videoid="{{config.data.videoid}}" start="{{config.data.start}}" end="{{config.data.end}}"></rumble-player>
                <span ng-switch-when="adUnit"><ng-switch on="Ctrl.adType">
                    <vpaid-player class="playerBox" ng-switch-when="vpaid" videoid="{{config.id}}-player" ad-tag="{{Ctrl.adTag}}"></vpaid-player>
                    <vast-player class="playerBox" ng-switch-when="vast" videoid="{{config.id}}-player" ad-tag="{{Ctrl.adTag}}" disable-clickthrough></vast-player>
                </ng-switch></span>
                <embedded-player class="playerBox" ng-switch-when="embedded" code="{{config.data.code}}"></embedded-player>
            </div>
            <div ng-show="Ctrl.flyAway" class="player__thumbnail"
                ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
                <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
            </div>
        </div>
    </div>

    <div class="card__copyBox">

        <a ng-if="!!config.collateral.logo" ng-href="{{config.links.Website}}" target="_blank" title="{{config.source}}" class="brandProfile__logoBox">
            <img ng-src="{{config.collateral.logo}}" class="brandProfile__logo">
        </a>

        <div ng-if="!!config.params.action" ng-switch="config.params.action.type"
        c6-alias="config.params.action as action" class="brand__actions">
            <a ng-switch-when="text" ng-href="{{config.links.Action}}"
            target="_blank" class="textLink"
            title="{{action.label}}">
                {{action.label}}
            </a>
            <a ng-switch-when="button" ng-href="{{config.links.Action}}"
            target="_blank" class="brand__goBtn btnPrimary"
            title="{{action.label}}">
                <span class="btn__label">{{action.label}}</span>
            </a>
        </div>

        <div class="card__copy">
            <h1 class="card__title tk--hdr">
                {{config.title}}
                <span ng-show="!!config.source" class="card__attributes">
                    via&nbsp;<a ng-href="{{config.webHref}}"
                    target="_blank" class="textLink" title="{{config.source}}">
                        {{config.source}}
                    </a>
                </span>
            </h1>

            <div class="card__desc" ng-bind-html="config.note"></div>

        </div>
    </div>
</article>
