<div class="mast__group">
    <header class="mast container">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item">
                    <a href="#" class="mainNav__link" title="Dashboard">Dashboard</a>
                </li>
                <li class="mainNav__item">
                    <a href="#" class="mainNav__link" title="Dashboard">Nav 2</a>
                </li>
                <li class="mainNav__item">
                    <a href="#" class="mainNav__link" title="Dashboard">Nav 3</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<c6-view></c6-view>
