<div class="mast__group">
    <header class="mast container clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item mainNav__c6BrandItem">
                    <button class="mainNav__c6Brand sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </button>
                </li>
                <li class="mainNav__item">
                    Dashboard
                </li>
            </ul>
        </nav>
        <div class="userPane__group clearfix">
            <div class="userPane__display">
                Welcome, user
            </div>
            <div class="userPane__avatar">&nbsp;</div>
            <button class="userPane__settings ui__gear sprite--alpha" type="button"><span class="ir">Settings</span></button>
        </div>
    </header>
</div>

<div class="ui__mainView clearfix">
    <c6-view></c6-view>
</div>
<confirm-dialog></confirm-dialog>
