<div class="mast__group">
    <header class="mast container clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item mainNav__c6BrandItem">
                    <button c6-sref="manager" class="mainNav__c6Brand sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </button>
                </li>
                <li class="mainNav__item">
                    <a c6-sref="manager" class="mainNav__link" title="Dashboard">Dashboard</a>
                </li>
            </ul>
        </nav>
        <div class="userPane__group clearfix">
            <div class="userPane__display">
                Welcome, <a href="#" class="userPane__userName" title="elitedaily">elitedaily</a>
            </div>
            <a href="#" class="userPane__avatar"><img src="http://lorempixel.com/44/44/" alt="elitedaily"></a>
            <button class="userPane__settings ui__gear sprite--alpha" type="button"><span class="ir">Settings</span></button>
        </div>
    </header>
</div>

<div class="ui__mainView clearfix">
    <c6-view></c6-view>
</div>
<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved.
    </footer>
</div>
