<section>
    <div class="title-bar">
        <h1>{{currentCard.title}}</h1>
        <h2>{{currentCard.note}}</h2>
    </div>
    <div class="progress">
        <h1> {{currentIndex + 1}} of {{deck.length}} </h1>
    </div>
    <ul class="rumble-players">
        <li class="player-list-item" ng-repeat="item in players()" ng-class="{ squished : ($index !== currentIndex)}" >
            <mr-card class="player"
                x-config="item"
                x-profile="deviceProfile"
                x-active="($index === currentIndex)"
                x-on-deck="($index === (currentIndex + 1))">
            </mr-card>
        </li>
    </ul>
    <ng-switch on="currentCard.state.view">
        <div ng-switch-when="ballot">
            <ng-include src="'assets/views/ballot.html'"></ng-include>
        </div>
        <div ng-switch-when="results">
            <ng-include src="'assets/views/results.html'"></ng-include>
        </div>
    </ng-switch>
</section>
