<c6-alias model="EditorCtrl.model" as="minireel">
    <header class="pageHeader pageHeader--editor container">
        <div class="pageHeader__coverImg">
            <div class="miniReel__imgBox"
                style="background-image:url('');">
                &nbsp;
            </div>
            <div class="coverImg__edit">
                <span class="ui__editToolTip">
                    <span class="ui__edit sprite--alpha"><span class="ir">Edit</span></span>
                    Edit
                </span>
            </div>
        </div>
        <div class="pageHeader__titlePane">
            <h1 ng-show="!EditorCtrl.editTitle" ng-click="EditorCtrl.editTitle = true" class="pageTitle theTitle__text">{{minireel.title}} 
                <span ng-show="minireel.status === 'pending'" class="pageTitle__status">(<em class="pageTitle__status--private">private</em>)</span>
                <span ng-show="minireel.status === 'active'" class="pageTitle__status">(<em class="pageTitle__status--public">public</em>)</span>
                <span class="ui__editToolTip">
                    <span class="ui__edit sprite--alpha"><span class="ir">Edit</span></span>
                    Edit
                </span>
            </h1>
            <form ng-if="EditorCtrl.editTitle">
                <input type="text" autofocus ng-model="minireel.title" class="theTitle__textBox">
                <button type="submit" class="theTitle__submit" ng-click="EditorCtrl.editTitle = false">Done</button>
            </form>
            <div class="pageHeader__actions clearfix">
                <div class="metaData__group">
                    Type: <a href="#" class="miniReel__type" title="AutoPlay MiniReel"><strong>Lightbox, with Companion Ad</strong></a> 
                    <span class="ui__divider--bar">&nbsp;|&nbsp;</span>
                    Created {{minireel.created | date:'M/d/yyyy' }}
                    <span class="ui__divider--bar">&nbsp;|&nbsp;</span>
                    {{minireel.data.deck.length}} Cards
                </div>
            </div>
            <div class="publish__actions clearfix">
                <ul class="actionbar__group">
                    <li class="toolbar__item">
                        <button ng-click="EditorCtrl.makePrivate()" ng-show="minireel.status === 'active'" class="toolbar__btn toolbar__makePrivate" type="button">Make Private</button>
                    </li>
                    <li class="toolbar__item">
                        <button ng-click="EditorCtrl.publish()" ng-show="minireel.status === 'pending'" class="toolbar__btn toolbar__publish" type="button">Publish</button>
                    </li>
                    <li class="toolbar__item">
                        <button class="toolbar__btn toolbar__delete" type="button">Delete</button>
                    </li>
                </ul>
                <ul class="toolbar__group">
                    <li class="toolbar__item">
                        <button class="toolbar__btn toolbar__preview" type="button" ng-click="EditorCtrl.previewMode()">Preview</button>
                    </li>
                    <li class="toolbar__item">
                        <button class="toolbar__btn toolbar__save" type="button">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <card-table deck="minireel.data.deck"
        edit-card="EditorCtrl.editCard(card)"
        add-card="EditorCtrl.newCard(index)"
        delete-card="EditorCtrl.deleteCard(card)"
        preview-card="EditorCtrl.previewMode(card)">
    </card-table>

    <div ng-show="EditorCtrl.preview" ng-controller="PreviewController as PreviewCtrl" class="preview__group">
        <div ng-class="{ 'preview__container--desktop' : (PreviewCtrl.device === 'desktop'), 'preview__container--mobile' : (PreviewCtrl.device === 'phone') }" class="preview__container ui__modal">
            <h1 class="modal__title">Preview Mode</h1>
            <form class="preview__form">
                <input id="previewMode_desktop" type="radio" ng-model="PreviewCtrl.device" value="desktop"
                class="modal__radioBtn" />
                <label for="previewMode_desktop">Desktop</label>
                <input id="previewMode_mobile" type="radio" ng-model="PreviewCtrl.device" value="phone"
                class="modal__radioBtn" />
                <label for="previewMode_mobile">Mobile</label>
                <button class="modal__closeBtn sprite--alpha" ng-click="EditorCtrl.closePreview()"><span class="ir">Close</span></button>
            </form>
            <iframe mr-preview="minireel" src="assets/rumble/app/index.html" ng-class="{ 'preview__iframe--desktop' : (PreviewCtrl.device === 'desktop'), 'preview__iframe--mobile' : (PreviewCtrl.device === 'phone') }" class="preview__iframe"></iframe>
        </div>
        <div class="ui__overlay">&nbsp;</div>
    </div>
</c6-alias>
<c6-view></c6-view>

<div ng-controller="EmbedController as EmbedCtrl" class="embedCode__group container">
    <div class="embedCode__header">
        <label for="embedtype">Embed Code:</label>
        <select ng-model="EmbedCtrl.mode" ng-options="mode.value as mode.name for mode in EmbedCtrl.modes" class="embedCode__selector" name="embedtype"></select>
        <div c6-alias="EmbedCtrl.size as size" ng-show="EmbedCtrl.mode === 'custom'" class="embedCode__customSizeDimensions">
            <input ng-model="size.width" class="textBox" type="text" value="Width"> x
            <input ng-model="size.height" class="textBox" type="text" value="Height">
        </div>
    </div>
    <textarea ng-model="EmbedCtrl.code" name="" id="" class="embedCode__snippet" cols="30" rows="10"></textarea>
    <p class="embedCode__tip"><strong><span class="typo--attention">*</span> Responsive Auto-Fit</strong> embedding will automatically resize the MiniReel widget to fit nicely into your page. This is the recommended embedding method.</p>
</div>
