<c6-alias model="EditorCtrl.model" as="minireel">
    <header class="pageHeader pageHeader--editor container">
        <h1 class="pageTitle">{{minireel.title}}</h1>
        <div class="pageHeader__actions clearfix">
            <div class="metaData__group">
                Type: <a href="#" class="miniReel__type" title="AutoPlay MiniReel"><strong>AutoPlay MiniReel</strong></a> 
                <span class="ui-divider--bar">&nbsp;|&nbsp;</span>
                Created 3/13/2014
                <span class="ui-divider--bar">&nbsp;|&nbsp;</span>
                4 Cards 
            </div>
            <ul class="toolbar__group">
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__preview" type="button" ng-click="EditorCtrl.previewMode()">Preview</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__makePrivate" type="button">Make Private</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__publish" type="button">Publish</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__save" type="button">Save</button>
                </li>
            </ul>
        </div>
    </header>

    <card-table deck="minireel.data.deck" edit-card="EditorCtrl.editCard(card)" preview-mode="EditorCtrl.previewMode(card)"></card-table>

    <div ng-show="EditorCtrl.preview" ng-controller="PreviewController as PreviewCtrl" style="position: absolute;top: 50%;right: 50%;z-index: 1;width: 700px;height: 660px;margin-top: -330px;margin-right: -350px;background-color:white;padding:20px;">
        <h3>Preview Mode</h3>
        <form>
            <input type="radio" ng-model="PreviewCtrl.device" value="desktop">Desktop</input>
            <input type="radio" ng-model="PreviewCtrl.device" value="mobile">Mobile</input>
            <button ng-click="EditorCtrl.closePreview()">CLOSE</button>
        </form>
        <iframe width="700" height="570" mr-preview="minireel" src="assets/rumble/app/index.html" style="border:0"></iframe>
    </div>
</c6-alias>
<c6-view></c6-view>
