<c6-alias model="EditorCtrl.model" as="minireel">
    <header class="pageHeader pageHeader--editor container">
        <h1 class="pageTitle">{{minireel.title}}</h1>
        <div class="pageHeader__actions clearfix">
            <div class="metaData__group">
                Type: <a href="#" class="miniReel__type" title="AutoPlay MiniReel"><strong>AutoPlay MiniReel</strong></a> 
                <span class="ui-divider--bar">&nbsp;|&nbsp;</span>
                Created 3/13/2014
                <span class="ui-divider--bar">&nbsp;|&nbsp;</span>
                4 Cards 
            </div>
            <ul class="toolbar__group">
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__preview" type="button">Preview</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__makePrivate" type="button">Make Private</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__publish" type="button">Publish</button>
                </li>
                <li class="toolbar__item">
                    <button class="toolbar__btn toolbar__save" type="button">Save</button>
                </li>
            </ul>
        </div>
    </header>

    <card-table deck="minireel.data.deck" edit-card="EditorCtrl.editCard(card)"></card-table>
</c6-alias>
<c6-view></c6-view>
