<div class="mr-titlebar mr-titlebar--sports">
    <button ng-class="{'ui-titlebar__view-list--open': showTOC}" class="ui-titlebar__view-list" ng-click="showTOC = !showTOC;" title="View List Pane" type="button" >
        <span class="ir">List Pane</span>
        <span class="sprite ui-icon__list">&nbsp;</span>
        <span class="ui-control__activator">&nbsp;</span>
    </button>
    <h1 class="ui-titlebar__title">{{app.data.experience.title}}</h1>
</div>
<div style="position: absolute; width: 100%; height: 0; padding-bottom: 56.25%;">
    <div class="ui-navbar">
        <button class="ui-nav__prev" title="Previous Video" type="button" ng-click="RumbleCtrl.goBack()">
            <span class="ui-nav__label ui-nav__label-prev">
                Prev
            </span>
            <span class="ui-control__preview-img" 
                ng-style="{'background-image': prevThumb && 'url(' + prevThumb + ')'}">
                &nbsp;
            </span>
            <span class="sprite ui-icon__prev">&nbsp;</span>
            <span class="ui-control__activator">&nbsp;</span>
        </button>

        <button ng-hide="showTOC" ng-class="{'ui-nav__next--disabled': atTail}" class="ui-nav__next" title="Previous Video" type="button" ng-click="RumbleCtrl.goForward()" ng-disabled="atTail">
            <span class="ui-nav__label ui-nav__label-next">
                Next
            </span>
            <span class="ui-control__preview-img" 
                ng-style="{'background-image': nextThumb && 'url(' + nextThumb + ')'}">
                &nbsp;
            </span>
            <span class="sprite ui-icon__next">&nbsp;</span>
            <span class="ui-control__activator">&nbsp;</span>
        </button>

        <ul class="ui-navbar__paginator">
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">Start</span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">1</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">2</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">3</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">4</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">5</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">6</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
            <li class="ui-navbar__page-item">
                <button class="ui-navbar__page">
                    <span class="ui-page__label">7</span>
                    <span class="ui-control__preview-img" style="background:url('http://lorempixel.com/160/80/');">
                        &nbsp;
                    </span>
                </button>
            </li>
        </ul>
    </div>
</div>

<table-of-contents ng-show="showTOC"
    cards="tocCards"
    on-select="RumbleCtrl.jumpTo(card)"
    on-exit="showTOC = false">
</table-of-contents>

<ng-switch on="app.state">
    <div class="splash-screen" ng-switch-when="splash">
        <ng-include src="'assets/views/splash.html'"></ng-include>
    </div>
</ng-switch>
<article id="card" class="mr-container">
    <ng-include src="app.views.deck"></ng-include>
    <ng-switch on="app.state">
        <div class="splash-screen" ng-switch-when="splash">
            <ng-include src="'assets/views/splash.html'"></ng-include>
        </div>
    </ng-switch>
</article>
