<div class="experience">
    <ng-include src="'assets/views/deck.html'"></ng-include>
    <ng-switch on="app.state">
        <div class="splash-screen" ng-switch-when="splash">
            <ng-include src="'assets/views/splash.html'"></ng-include>
        </div>
        <div ng-switch-when="end">
            <ng-include src="'assets/views/end.html'"></ng-include>
        </div>
    </ng-switch>
    <div class="navigation">
        <button class="prev" ng-hide="atHead" ng-click="RumbleCtrl.goBack()"> Prev Video</button>
        <button class="next" ng-hide="atTail" ng-click="RumbleCtrl.goForward()"> Next Video</button>
    </div>
</div>
