<div class="mr-titlebar mr-titlebar--sports">
    <button ng-class="{'ui-titlebar__view-list--open': showTOC}" class="ui-titlebar__view-list" ng-click="showTOC = !showTOC;" title="View List Pane" type="button" >
        <span class="ir">List Pane</span>
        <span class="sprite ui-icon__list">&nbsp;</span>
        <span class="ui-control__activator">&nbsp;</span>
    </button>
    <h1 class="ui-titlebar__title">The Most Breathtaking Go Pro Videos You'll See This Week</h1>
</div>

<table-of-contents ng-show="showTOC"
    cards="tocCards"
    on-select="RumbleCtrl.jumpTo(card)"
    on-exit="showTOC = false">
</table-of-contents>

<ng-switch on="app.state">
    <div class="splash-screen" ng-switch-when="splash">
        <ng-include src="'assets/views/splash.html'"></ng-include>
    </div>
</ng-switch>
<article class="mr-container">
    <ng-include src="app.views.deck"></ng-include>
    <ng-switch on="app.state">
        <div class="splash-screen" ng-switch-when="splash">
            <ng-include src="'assets/views/splash.html'"></ng-include>
        </div>
    </ng-switch>
    <div class="controls" ng-if="deviceProfile.device !== 'phone'">
        <c6-controls controller="controls.controller" delegate="controls.delegate" volume="false"></c6-controls>
    </div>
</article>
