<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="__WIDTH__" id="c6VPAIDplayer_ie" height="__HEIGHT__">
        <param name="movie" value="__SWF__" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#000000" />
        <param name="play" value="false" />
        <param name="loop" value="false" />
        <param name="wmode" value="opaque" />
        <param name="scale" value="noscale" />
        <param name="salign" value="lt" />
        <param name="flashvars" value="__FLASHVARS__" />
        <param name="allowScriptAccess" value="always" />
        <param name="allowFullscreen" value="true" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="__SWF__" id="c6VPAIDplayer" style="width:640px;height:360px;">
                <param name="movie" value="__SWF__" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#000000" />
                <param name="play" value="false" />
                <param name="loop" value="false" />
                <param name="wmode" value="opaque" />
                <param name="scale" value="noscale" />
                <param name="salign" value="lt" />
                <param name="flashvars" value="__FLASHVARS__" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullscreen" value="true" />
        </object>
        <!--<![endif]-->
</object>