/*  ================================================
    global styles
    ================================================ */
    /*  apply a natural box layout model to all elements, 
        but allowing components to change */
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
    body {
        font-size: 16px; 
        font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300; 
        color:#545454; 
        line-height: 1.5;

        background:#fff; 
        margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
    }

/*  ================================================
    c6 copy classes : general type and color styles
    ================================================ */        
    .tk--hdr {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:300;
    }
    .tk--action {
        font-family: 'Roboto Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
        font-weight:700;
    }
    .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none; color:#d94040;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .tk--youtube {
        color:#e22d24;
    }
    .tk--vimeo {
        color:#445566;
    }
    .tk--facebook {
        color:#3b5998;
    }
    .tk--twitter {
        color:#00b0ed;
    }
    .tk--pinterest {
        color:#cb2027;
    }

/*  ================================================
    helper classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite,
    .spriteAf:after,
    .spriteBe:before {
        background:url('../../img/sprite--alpha@2x.png') 0 0 / 18.75rem 18.75rem no-repeat;
    }


        .sprite--close {
            width:1rem; height:1rem;
            background-position:-5rem -9rem;
            display: inline-block;
        }

        .socialIconsBe:before,
        .uiIconsBe:before {
            content:'';
            width:1rem; height:1rem;
            display: inline-block;
            vertical-align: middle;
        }

            .socialIconsBe--youtube:before {
                background-position:-1rem -3rem;
            }
            .socialIconsBe--vimeo:before {
                background-position: -3rem -3rem;
            }
            .socialIconsBe--facebook:before {
                background-position: -5rem -3rem;
            }
            .socialIconsBe--twitter:before {
                background-position: -7rem -3rem;
            }
            .socialIconsBe--pinterest:before {
                background-position: -9rem -3rem;
            }
            /*
            .socialIconsBe__dark--youtube:before {
                background-position:-1rem -1rem;
            }
            .socialIconsBe__dark--vimeo:before {
                background-position: -3rem -1rem;
            }
            .socialIconsBe__dark--facebook:before {
                background-position: -5rem -1rem;
            }
            .socialIconsBe__dark--twitter:before {
                background-position: -7rem -1rem;
            }
            .socialIconsBe__dark--pinterest:before {
                background-position: -9rem -1rem;
            }
            */
            .socialIconsBe__light--youtube:before {
                background-position:-1rem -5rem;
            }
            .socialIconsBe__light--vimeo:before {
                background-position: -3rem -5rem;
            }
            .socialIconsBe__light--facebook:before {
                background-position: -5rem -5rem;
            }
            .socialIconsBe__light--twitter:before {
                background-position: -7rem -5rem;
            }
            .socialIconsBe__light--pinterest:before {
                background-position: -9rem -5rem;
            }



            .uiIconsBe--replay:before {
                background-position:-1rem -9rem;
            }
            .uiIconsBe__dark--replay:before {
                background-position:-1rem -7rem;
            }
            .uiIconsBe--link:before {
                background-position:-3rem -9rem;
                width:1.25rem;
            }


    .overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; z-index: 1;
        left:0;
        width:100%; height:100%; 
    }
        .overlay__closeBtn {
            width:1.125em; height:1.125em;
            position: absolute;
            top:1em; right:1em;
        }


    .textLink {
        border:0;
    }


    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border:3px solid #d94040;
        background:#d94040;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        display:inline-table;
    }
        .btnPrimary .btn__label {
            font-size:0.875em;
            line-height: 1rem;
            color:#fff;
            font-weight:bold;
            text-transform:uppercase;
            text-shadow: 0 1px 1px rgba(0,0,0,0.44);
            display: table-cell;
            vertical-align: middle;
        }


        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .btnPrimary .btn__label {
                font-size:1em;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .btnPrimary .btn__label {
                font-size:1.125em;
            }
        }

        .btnPrimary[disabled],
        .btnPrimary[disabled]:active,
        .btnPrimary[disabled]:hover {
            cursor:default;
            background:#ccc;
            border-color:#ccc;
        }
            .btnPrimary[disabled] .btn__label,
            .btnPrimary[disabled]:active .btn__label,
            .btnPrimary[disabled]:hover .btn__label {
                text-shadow:none;
                color:#fff;
            }


    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus {
        background:#d94040; 
        color:#fff; font-weight:bold;
        border-radius:3px;
        display:table;
        text-align: center; 
        line-height:1;
    }


    .MiniReel__group .ui--offscreen {
        left:-5000%;
        position: absolute;
        width:0; height:0;
    }
    .MiniReel__group .ui--flyaway {
        margin-left:-5000%;
        position: static;
        float:left;
    }



/*  ================================================
    ng-animate classes
    ================================================ */
    .c6-fade {
        -webkit-transition:0.3s linear opacity;
        transition:0.3s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }





/*  ================================================
    .titleBar classes
    ================================================ */
    .titleBar__group {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
        background:#fff;
        height:4em;
        position:absolute; z-index:5;
        top:0; left:0; right:0;
    }
        .titleBar__splashImg {
            margin:0.5em;
            width:4em; height:3em;
            background:50% 50% / cover no-repeat;
            float:left;
            cursor:pointer;
        }
        .titleBar__title {
            margin:0.875em 0 0 0;
            float:left;
            width:calc(100% - 5em);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size:1em;
        }
            .titleBar__titleText {
                cursor:pointer;
                font-size:1.25em;
                color:#000;
                display:inline-block;
                margin:0.1em 0 0 0;
                line-height:1.2;
            }

        .titleBar__disabler {
            position:absolute; z-index:2;
            width:100%; height:100%;
            background:transparent;
        }





/*  ================================================
    .playlist__group classes
    ================================================ */
    .playlist__group {
        margin:0; display: block;
        position: absolute;
        top:3.75em; right:0.75em; bottom:17.25em;
        width:18.75em;
        border-bottom:2px solid #333333;
    }
        .playlist__group--noAds {
            bottom:0.75em;
        }


        .playlistHead__group {
            border-bottom:2px solid #333;
            padding:0.625em 0 0.3125em 0;
        }
            .playlistHead__title {
                font-size:0.8125em; font-weight:700;
                color:#000;
                margin:0;
                float:left;
            }
            .playlistHead__pageCount {
                color:#6c6c6c;
                font-size:0.75em;
                float:right;
            }


        .playlist {
            margin:0; padding:0; list-style: none;
            position: absolute;
            top:2.25em; bottom:0; left:0; right:0;
            counter-reset: playlist;
            overflow-y: auto; overflow-x:hidden;
        }

            .playlist__item {
                margin:0; padding:0;
                border-bottom:1px solid #ddd;
                cursor:pointer;
                position: relative;
                -webkit-transition:background 0.3s; 
                transition:background 0.3s;
            }
                .playlist__item:last-child {
                    border-bottom:1px solid #fff;
                }
                .playlist__item--current,
                .playlist__item--current:last-child {
                    background:#d94040;
                    border-bottom:1px solid #d94040;
                }

                .playlist__thumbHolder,
                .playlist__thumb {
                    background:50% 50% / cover no-repeat;
                    width:4em; height:3em;
                    display: block;
                }
                    .playlist__thumbHolder {
                        background-image:url('../../img/default_square.jpg');
                        float:left;
                        margin:0.5em 0.5em 0.5em 1.75em;
                    }
                        .playlist__thumbHolder:before {
                            counter-increment: playlist;
                            content:counter(playlist);
                            display:block;
                            width:2em;
                            font-size:0.625em;
                            text-align: right;
                            color:#6c6c6c;
                            margin:0.5em 0 0 0;
                            position: absolute;
                            left:0;
                        }
                        .playlist__thumbHolder--ad:after {
                            content:'Ad';
                            position: absolute;
                            top:1em; left:3em;
                            background:#000; color:#fff;
                            padding:0 2px;
                            font-size:0.625rem; font-weight:bold;
                        }
                            .playlist__item--current .playlist__thumbHolder:before {
                                color:#fff;
                            }
                        
                        

                .playlist__copy {
                    float:left;
                    width:calc(100% - 6.25em);
                }
                    .playlist__title {
                        color:#000;
                        font-size:0.875em;
                        line-height: 1rem;
                        margin:0.6875rem 0 1px 0;
                    }
                        .playlist__link {
                            color:#000;
                        }
                            .playlist__item--current .playlist__link {
                                color:#fff;
                            }
                    .playlist__source {
                        color:#6c6c6c;
                        font-size:0.75em;
                        line-height: 1rem;
                        margin:0;
                    }
                        .playlist__item--current .playlist__source {
                            color:#ccc;
                        }
                        .playlist__item--current .playlist__sourceLink {
                            color:#000;
                        }


        .playlist__disabler {
            background:#fff; background:rgba(255,255,255,0.85);
            position:absolute; z-index: 1;
            top:0; bottom:-2px;
            width:100%;
        }






/*  ================================================
    Companion Ad classes
    ================================================ */
    .companionAd__group {
        width:18.75em;
        position:absolute;
        right:0.75em; bottom:0.75em;
    }
        .displayAd__label {
            font-size:0.625em;
            color:#999;
            text-align: center;
            width:100%;
            display: block;
        }

        .displayAd__box {
            width:18.75em; height:15.625em;
            margin:0 auto;
        }
            .displayAd__box iframe {
                width:100%; height:100%;
                border:0;
            }





/*  ================================================
    cards classes
    ================================================ */
    .cards__list, .cards__item,
    .card__group {
        margin:0; padding:0; list-style:none;
    }
    .cards__list {
        position: absolute;
        top:4em; right:20.25em; bottom:0.75em; left:0.75em;
        overflow: hidden;
    }

        .cards__list--fullWidth {
            right:0.75em;
        }

        .cards__item.hidden,
        .cards__list.hidden {
            height:0; overflow:hidden;
        }
        .cards__item.ng-animate {
            top: 0;
        }
        .card__group {
            position:absolute;
            width:100%; height:100%;
        }





/*  ================================================
    video card classes
    ================================================ */
    .player__group {
        margin:0; padding:0;
        width:100%;  position:relative;
        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
    }
        
        .player, .player__thumbnail {
            position:absolute; width:100%; height:100%;
        }
            .player iframe {
                width:100%; height:100%; 
                position:absolute;
                border:0;
            }

            .playerBox,
            .playerBox object,
            .playerBox video {
                position:absolute;
                top:0; left:0;
                width:100%; height:100%;
                background:#000;
            }

            
        .player__thumbnail {
            background:50% 50% / 112% auto no-repeat;
        }

        .player__playBtn,
        .player__playBtn:focus {
            width: 6em;
            height: 6em;
            padding: 0;
            margin: -3em 0 0 -3em;
            border: 4px solid #fff;
            border-radius:50%;
            cursor: pointer;
            background: rgba(0,0,0,0.7);
            position: absolute; left: 50%; top: 50%; z-index:1;
        }
            .player__playIcon {
                height: 45%; width: 100%;
                background: url('../../img/play-icon.svg') 56% 50% / contain no-repeat;
            }

    .card__copy { 
        margin:0.75em 6.75em 0;
        overflow-y: auto; overflow-x:hidden;
        -webkit-transition:height 0.25s; transition:height 0.25s;
    }
        .text--low .card__copy {
            height:3.75em;
        }
        .text--med .card__copy {
            height:5em;
        }
        .text--high .card__copy {
            height:7.5em;
        }

        .card__title {
            font-size:1.5em;/*24px*/ 
            color:#000;
            padding:0; margin:0.125rem 0 0 0; 
            line-height:1;
        }
        .card__attributes {
            color:#999; 
            font-size:0.8125rem;/*13px*/
        }
        .card__desc {
            margin:0.375rem 0 0;
            font-size:0.875em;/*14px*/ 
            line-height:1.125rem;
        }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .card__copy { 
                margin:0.75em 11.75em 0;
            }
                .text--low .card__copy {
                    height:4.875em;
                }
                .text--med .card__copy {
                    height:6.375em;
                }
                .text--high .card__copy {
                    height:9.625em;
                }

            .card__title {
                font-size:1.625em;
                line-height:1.75rem;
            }
            .card__attributes {
                font-size:0.875rem;
            }
            .card__desc {
                font-size:0.875em;
                line-height:1.375rem;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .card__copy { 
                margin:0.75em 16.75em 0;
            }
                .text--low .card__copy {
                    height:6em;
                }
                .text--med .card__copy {
                    height:7.875em;
                }
                .text--high .card__copy {
                    height:11.75em;
                }

            .card__title {
                font-size:1.75em;
                line-height:1.875rem;
            }
            .card__attributes {
                font-size:1rem;
            }
            .card__desc {
                font-size:1em;
                line-height:1.5rem;
            }
        }

    .player__height {
        -webkit-transition:height 0.25s; transition:height 0.25s;
    }
        .text--low .player__height {
            height:calc(100% - 4.5em);
        }
        .text--med .player__height {
            height:calc(100% - 5.75em);
        }
        .text--high .player__height {
            height:calc(100% - 8.25em);
        }

        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .text--low .player__height {
                height:calc(100% - 5.625em);
            }
            .text--med .player__height {
                height:calc(100% - 7.125em);
            }
            .text--high .player__height {
                height:calc(100% - 10.375em);
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .text--low .player__height {
                height:calc(100% - 6.75em);
            }
            .text--med .player__height {
                height:calc(100% - 8.625em);
            }
            .text--high .player__height {
                height:calc(100% - 12.5em);
            }
        }




/*  ================================================
    .slideNav__btn classes
    ================================================ */
    .slideNav__btn {
        width:6rem; height:7.5rem; 
        margin:0; padding:0;
        position:absolute; 
        z-index:2;
        bottom:0.75rem; left:0.75rem;
        color:#fff;
        text-transform:uppercase;
        cursor:pointer;
        -webkit-transition:height 0.25s, background 0.25s; 
        transition:height 0.25s, background 0.25s;
        
    }
        .slideNav__btn--next {
            right:20.25rem; left:auto;
        }
            .mr-card__container--ad .slideNav__btn--next {
                right:18.75rem;
            }
        .slideNav__icon {
            display:block; 
            width:1.5rem; 
            height:2.5rem;
            position:absolute; 
            top:50%; left:50%; 
            margin:-2.25rem 0 0 -0.875rem;
        }
            .slideNav__icon--next {
                margin-right:-0.875rem;
                margin-left:0;
                right:50%; left:auto;
            }
            .slideNav__iconPath {
                fill: #fff;
            }
            .slideNav__label {
                width:5.625rem;
                margin:1.5rem 0 0 0;
                position:absolute;
                top:50%; left:0; right:0;
            }


    .slideNav__btn--small {
        height:3.75rem;
    }
        .slideNav__btn--small .slideNav__icon {
            width:0.75rem;
            height:1.25rem;
            margin:-0.625rem 0 0 0;
            left:16%;
        }
            .slideNav__btn--small .slideNav__icon--next {
                margin:-0.625rem 0 0 0;
                left:auto; right:16%;
            }
        .slideNav__btn--small .slideNav__label--prev {
            padding:0 18% 0 0;
            text-align: right;
            position:static;
        }
        .slideNav__btn--small .slideNav__label--next {
            padding:0 0 0 20%; 
            text-align: left;
            position:static;
        }


    .slideNav__btn--med {
        height:5rem;
    }
        .slideNav__btn--med .slideNav__icon {
            width:1.125rem; 
            height:1.875rem;
            margin:-1.5rem 0 0 -0.6875rem;
        }
            .slideNav__btn--med .slideNav__icon--next {
                margin-left:0;
                margin-right:-0.6875rem;
            }
        .slideNav__btn--med .slideNav__label {
            margin:0.8125rem 0 0 0;
            position:absolute;
            top:50%; left:0; right:0;
        }


    .slideNav__btn--displayAdCard {
        bottom:50%;
        margin-bottom:-3.75rem;
    }
        .slideNav__btn--displayAdCard.slideNav__btn--small {
            margin-bottom:-1.875rem;
        }
        .slideNav__btn--displayAdCard.slideNav__btn--med {
            margin-bottom:-2.25rem;
        }


    @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
        /*  w: 1200px -  1696px
        /   h: 720px ++ */
        .slideNav__btn {
            height:9.625em;
            width:11rem;
        }
        .slideNav__label {
            width:10.625rem;
        }
        .slideNav__btn--small {
            height:4.875em;
        }
        .slideNav__btn--med {
            height:6.375em;
        }
    }
    @media screen and (min-width:75rem) and (min-height:45rem) {
        /*  w: 1200px ++
        /   h: 720px ++ */
        .slideNav__btn--med .slideNav__icon {
            margin:-1em 0 0 0;
            left:25%;
        }
            .slideNav__btn--med .slideNav__icon--next {
                left:auto; right:25%;
            }

        .slideNav__btn--small .slideNav__label--prev,
        .slideNav__btn--med .slideNav__label--prev {
            padding:0 28% 0 0;
            text-align: right;
            position:static;
        }
        .slideNav__btn--small .slideNav__label--next,
        .slideNav__btn--med .slideNav__label--next {
            padding:0 0 0 30%; 
            text-align: left;
            position:static;
        }

    }
    @media screen and (min-width:106.0625rem) and (min-height:45rem) {
        /*  w: 1697px ++ 
        /   h: 720px ++ */
        .slideNav__btn {
            height:11.75em;
            width:16rem;
        }
        .slideNav__label {
            width:15.625rem;
        }
        .slideNav__btn--small {
            height:6em;
        }
        .slideNav__btn--med {
            height:7.875em;
        }
    }




/*  ================================================
    sponsored card styles
    ================================================ */
    .sponsorProfile__group {
        margin:0;
    }

        .sponsorProfile__imgBox {
            width:3.125em; height:3.125em;
            float:left;
            border:1px solid #ddd;
            margin:0 0.5em 0 0;
            display: block;
            text-decoration: none;
        }
            .sponsorProfile__img {
                width:3em; height:3em;
                display: block;
            }


        .sponsorProfile__copy {
            float:left;
            width:calc(100% - 3.625em);
        }
            .sponsorProfile__copy--hasActions {
                width:calc(100% - 12.25em);
            }

        .sponsorProfile__links {
            line-height: 1;
            margin:0;
        }
            .sponsorProfile__tag {
                margin:0.125rem 0.5rem 0 0;
                float:left;
            }
            .sponsorProfile__link {
                border:0;
                float:left;
                padding: 0 0.125em;
            }


        .sponsor__actions { 
            float:left;
            width:8.5rem;
            margin:0;
        }
            .sponsor__goBtn {
                margin:0;
                padding:0.25em;
                border-radius:3px;
                display:table;
                width:100%;
            }


        .adSkip__group--sponsored {
            position:absolute; z-index: 2;
            top:0; width:100%;
            height:1.5em;
            text-align: center;
        }
            .adSkip__group--sponsored .adSkip__message {
                font-size:0.875em;
                color:#ccc;
                position:static;
                display: inline-block;
                background:rgba(0,0,0,0.8);
                padding:0.25em;
            }



/*  ================================================
    Display Ad Card classes
    ================================================ */
    .displayAdCard__group {
        text-align: center;
        height:22.5em; width:100%;
        position:absolute;
        top:50%;
        margin:-11.25em 0 0 0;
    }


        .displayAdBrand__tagline {
            font-size:0.875em;
            color:#999;
            margin:0 0 0.8125rem 0;
        }
            .displayAdBrand__taglineLink {
                font-weight:bold;
            }


        .displayAdCard__group .companionAd__group {
            position:static;
            margin:0 auto;
        }


        .displayAdBrand__linksBox {
            margin:1.375em 0 0 0;
        }
            .displayAdBrand__link {
                padding:0 0.5em;
                font-size:0.75em;
                display: inline-block;
            }
                .displayAdBrand__link .socialIcons,
                .displayAdBrand__linkLabel {
                    vertical-align: middle;
                }
                .displayAdBrand__linkLabel {
                    margin-left:0.25em;
                }





/*  ================================================
    Branded MR classes
    ================================================ */
    .MiniReel__group {
        background:#fff;
    }
    .MiniReel__group--brandedMR .titleBar__title {
        margin:0.8125em 0 0 0;
        width:calc(100% - 24em);
    }


    .brandedMR__tagline {
        display:block; 
        color:#999;
        font-size:0.8125em;
        font-weight:normal;
        line-height: 1;
    }
        .brandedMR__taglineBrand {
            font-weight:bold;
        }


    .brandProfile__group {
        float:right;
        width:18.75em;
        margin:0;
        position:relative;
    }

        .brandProfile__logoBox {
            width:3em; height:3em;
            border:1px solid #ddd;
            display: block;
            position:absolute;
            top:0.5em; right:0.5em;
        }
            .brandProfile__logo {
                width:2.875em; height:2.875em;
                display: block;
            }


        .brandProfile__linksBox {
            position:absolute;
            top:0.375em; right:4em;
            text-align: right;
        }

            .brandProfile__brandURL {
                font-weight:bold; font-size:0.8125em;
                margin-right:0.25rem;
            }
            .brandProfile__link {
                padding:0 0.25rem;
                float:right;
                line-height:1;
            }



/*  ================================================
    Text Only Card classes
    ================================================ */
    .textOnly__copy {
        position:absolute;
        top:0; left:0; bottom:0; right:0;
        padding:0 3em;
        overflow-y: auto; overflow-x:hidden;
    }
        .textOnly__title {
            color:#000; 
            font-size:2.25em; line-height:1;
            margin:5.5625rem 0 1.5rem 0;
        }
        @media screen and (max-width:50rem) {
            /*800px*/
            .textOnly__title {
                margin-top:2.5rem;
            }
        }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .textOnly__title {
                font-size:2.5em;
                margin-top:7.5rem;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .textOnly__copy {
                padding:0 6em;
            }
            .textOnly__title {
                font-size:2.75em;
                margin-top:10rem;
            }
        }

        .textOnly__goBtn {
            padding:0.5em 2em;
            margin:1.1875em 0 0 0;
        }







/*  ================================================
    ballot classes
    ================================================ */
    .ballot__group {
        position:absolute; z-index:2;
        top:0; left:0; right:0;
        overflow: hidden;
    }
    .ballot__box {
        position:absolute; z-index:2;
        top:45%; left:50%; 
        width:33em;
        margin:-4.5em 0 0 -16.5em;
        border-radius:3px;
        background:#fff;
        text-align: center;
    }

        .ballot__intro {
            font-size:0.8125em;
            color:#999;
            display: block;
            margin:1.125rem 0 0 0;
        }
        .ballot__title {
            color:#000;
            font-size:1.25em;
            line-height: 1.5rem;
            margin:-1px 0 0 0;
        }
            .ballot__title--results {
                margin-top:1em;
            }

        @media screen and (min-width:75rem) and (min-height:45rem) {
            /*  w: 1200px++
            /   h: 720px ++ */
            .ballot__title {
                font-size:1.5em;
                line-height: 1.75rem;
            }
        }

        .ballot__list {
            list-style: none;
            margin:1.25em 0 0 0; padding:0;
            height:4em;
        }
            .ballot__item,
            .ballot__resultsItem {
                position:absolute;
            }
                .ballot__item0 {
                    right:50%;
                    margin:0 1.5em 0 0;
                }
                    .ballot__item0:after {
                        position:absolute;
                        left:100%; top:0.6875rem;
                        width:3rem;
                        color:#999;
                        font-size:0.8125em;
                    }
                        .ballot__item.ballot__item0:after {
                            content:'OR';
                        }
                        .ballot__resultsItem.ballot__item0:after {
                            content:'VS';
                        }
                .ballot__item1 {
                    left:50%;
                    margin:0 0 0 1.5em;
                }

            .ballot__btn {
                height:2.5em;
                padding:0 1em 0 3.5em;
            }
                .ballot__btn:before {
                    font-weight:bold;
                    color:#fff;
                    text-shadow: 0 1px 1px rgba(0,0,0,0.44);
                    position: absolute;
                    top:0; left:0;
                    width:2.5em; height:2.5em;
                    padding:0.75em 0 0 0;
                    background:rgba(0,0,0,0.2);
                }
                    .ballot__btn0:before {
                        content:'A';
                    }
                    .ballot__btn1:before {
                        content:'B';
                    }
                .ballot__btn1,
                .ballot__btn1:active,
                .ballot__btn1:focus {
                    background:#1789cb;
                    border-color:#1789cb;
                }
                    .ballot__btnLabel {
                        font-size:1em;
                        color:#fff;
                        font-weight:bold;
                        text-transform:uppercase;
                        text-shadow: 0 1px 1px rgba(0,0,0,0.44); 
                    }



        .ballot__textLinks {
            text-align: center;
            position: absolute;
            bottom:-2.25em;
            width:100%;
        }
        .ballot__textLink {
            cursor:pointer;
            color:#fff;
            margin:0 0.5em;
        }
            .ballot__textLink .textLink__label {
                font-weight:bold;
                font-size:0.875em;
                vertical-align: middle;
                line-height: 1;
                margin-left:2px;
            }



        .ballot__result {
            height:2.5em;
            padding:0.5em 1em 0;
        }
            .ballot__result0 {
                background:#d94040;
            }
            .ballot__result1 {
                background:#1789cb;
            }




/*  ================================================
    actionsModal__group styles
    ================================================ */
    .actionsModal__group {
        position:absolute; z-index: 2;
        top:0; left:0; right:0; bottom:0;
        overflow: hidden;
    }
    .actionsModal__list {
        position:absolute; z-index: 2;
        top:50%; left:50%;
        width:36em;
        margin:-1.5em 0 0 -18em;
        padding:0;
        text-align: center;
        list-style: none;
    }
        .actionsModal__item {
            position:relative;
            display: inline-block;
            margin:0 0.5em 1.5em;
        }
        .actionsModal__btn {
            padding:0 1em 0 4em;
            height:3em;
            text-align: center;
        }

            .actionsModal__btn:before {
                position:absolute;
                top:1em; left:1em;
                z-index: 3;
                content:'';
            }
            .actionsModal__btn:after {
                content:'';
                position: absolute;
                top:0; left:0;
                z-index: 2;
                width:3rem; height:3rem;
                background-color:rgba(0,0,0,0.2);
                display: block;
            }

        @media screen and (max-width:33rem) {
            /*max 528px*/
            .actionsModal__list {
                margin:-3.75em 0 0 -7.125em;
                width:14.25em;
            }
            .actionsModal__item {
                margin:0 0 1.5em 0;
            }
        }




/*  ================================================
    Ad Styles
    ================================================ */
    .adSkip__group {
        background:#fff;
        position:absolute; z-index: 2;
        bottom:0.75em; left:0.75em; right:20.25em;
        height:3.75em;
    }
        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .adSkip__group {
                height:4.875em;
            }
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .adSkip__group {
                height:6em;
            }
        }

        .adSkip__message {
            position:absolute;
            top:50%; left:0; right:0;
            margin:-0.5rem 0 0 0;
            text-align: center; 
            font-size:1em;
            line-height: 1;
            color:#6c6c6c;
            font-weight:bold;
        }

    /*  Video Ad styles
    ================================================ */
        .adVideo__group {
            position: absolute;
            min-height:10em;
            top:0; bottom:4.5em; left:0; right:0;
        }
        .adVideo__label {
            font-size: 0.75em; color: #6c6c6c; text-align: center;
            margin:0;
            position:absolute; 
            left:0; right:0; bottom:1.25rem;
        }
        .adVideo__videoHolder {
            position:relative;
            width:100%; height:100%;
            text-align: center;
            background: #000;
        }
            .adVideo__video {
                width:100%; height:100%;
                position:absolute; top:0; left:0;
            }

        @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
            /*  w: 1200px -  1696px
            /   h: 720px ++ */
            .adVideo__group {
                bottom:5.625em;
            }
            
        }
        @media screen and (min-width:106.0625rem) and (min-height:45rem) {
            /*  w: 1697px ++ 
            /   h: 720px ++ */
            .adVideo__group {
                bottom:6.75em;
            }
        }
    
    /*  Display Ad styles
    ====================================================== */
    .adDisplay__group {
        width: 18.75rem;
        text-align: center;
        position:absolute; top:50%; left:50%;
        margin:-10rem 0 0 -9.375rem;
    }
        .adDisplay__view {
            width:18.75rem; height:15.625rem;
            border:0;
        }
            .adDisplay__view iframe {
                border:0; margin:0;
                width:100%; height:100%;
            }





/*  ================================================
    recap card classes
    ================================================ */
    .recap__list {
        width:100%;
        position: absolute; 
        top:0; bottom:4.5em;
        overflow-y:auto; overflow-x:hidden;
        margin:0; padding:0; list-style: none;
        border-bottom:2px solid #333;
        counter-reset: recap;
    }
    @media screen and (min-width:75rem) and (max-width:106rem) and (min-height:45rem) {
        /*  w: 1200px -  1696px
        /   h: 720px ++ */
        .recap__list {
            bottom:5.625em;
        }
        
    }
    @media screen and (min-width:106.0625rem) and (min-height:45rem) {
        /*  w: 1697px ++ 
        /   h: 720px ++ */
        .recap__list {
            bottom:6.75em;
        }
    }
        .recap__item {
            position:relative;
            padding:0.75em 0 0.75em 0; 
            border-bottom:1px solid #ddd;
            cursor:pointer;
        }
            .recap__item:last-child {
                border-bottom:0;
            }


            .recap__imgBox {
                width:8em; height:5em;
                background:url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                float:left;
                margin:0 1em 0 3em;
            }
                .recap__imgBox:before {
                    counter-increment: recap;
                    content:counter(recap);
                    display:block;
                    width:2em;
                    font-size:0.75em;
                    text-align: right;
                    color:#6c6c6c;
                    margin:7px 0 0 0;
                    position: absolute;
                    left:0.5rem;
                }
                .recap__item--ad .recap__imgBox:after {
                    content:'Ad';
                    position: absolute;
                    top:1.4em; left:5em;
                    background:#000; color:#fff;
                    padding:0 2px;
                    font-size:0.625rem; font-weight:bold;
                }

                .recap__img {
                    width:8em; height:5em;
                    display: block;
                    background: 50% 50% / cover no-repeat;
                }
            .recap__copyBox {
                float:left;
                width:calc(100% - 13em);
            }
                .card__desc--recapCard {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-top:0.25rem;
                }


/*  ================================================
    Splash Screen classes
    ================================================ */
    .splash__start {
        position:absolute; z-index: 20;
        top:0; left: 0; bottom:0; right:0;
        border:0; margin:0; padding:0;
        background:#000;
        width:100%; height:100%;
        cursor:pointer; 
        color:#fff; text-align: center; font-weight:bold;
    }
