/*  ================================================
    background transitions
    ================================================ */
    .btnPrimary {
        -webkit-transition:background 0.3s; 
        transition:background 0.3s;
    }

    .btnPrimary:hover {
        background-color:#fff;
    }
    .playlist__item:hover {
        background-color:#eee;
    }
    .playlist__item--current:hover {
        background-color:#d94040;
    }




/*  ================================================
    color transitions
    ================================================ */
    .titleBar__titleText,
    .btnPrimary .btnLabel {
        -webkit-transition:color 0.3s; transition:color 0.3s;
    }

    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label {
        color:#d94040;
    }





/*  ================================================
    fill transitions
    ================================================ */
    .slideNav__iconPath {
        -webkit-transition:fill 0.3s; transition:fill 0.3s;
    }

    .slideNav__btn:hover .slideNav__iconPath {
        fill:#d94040;
    }

    .slideNav__btn--disabled:hover .slideNav__iconPath {
        fill:#fff;
    }





/*  ================================================
    border transitions
    ================================================ */
    .sponsorProfile__imgBox,
    .brandProfile__logoBox {
        -webkit-transition:border 0.5s;
        transition:border 0.5s;
    }
    .sponsorProfile__imgBox:hover,
    .brandProfile__logoBox:hover {
        border:1px solid #d94040;
    }






/*  ================================================
    misc transitions
    ================================================ */
    .textLink:hover {
        border-bottom:1px dotted #d94040;
    }

    .btnPrimary:hover .btn__label {
        text-shadow: none;
    }