/*  ================================================
    background transitions
    ================================================ */
    .btnPrimary,
    .recap__item,
    .ballot__btn:before,
    .player__playBtn,
    .actionsModal__btn:after {
        -webkit-transition:background 0.3s; 
        transition:background 0.3s;
    }

    .ballot__btn:hover:before,
    .playlist__item.playlist__item--current:hover,
    .player__playBtn:hover,
    .actionsModal__btn:hover:after {
        background-color:#d94040;
    }
    .btnPrimary:hover {
        background-color:#fff;
    }
    .playlist__item:hover,
    .recap__item:hover {
        background-color:#eee;
    }

    .ballot__btn1:hover:before {
        background-color:#1789cb;
    }




/*  ================================================
    color transitions
    ================================================ */
    .titleBar__titleText,
    .btnPrimary .btnLabel {
        -webkit-transition:color 0.3s; transition:color 0.3s;
    }

    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label {
        color:#d94040;
    }

    .ballot__btn1:hover .ballot__btnLabel {
        color:#1789cb;
    }





/*  ================================================
    fill transitions
    ================================================ */
    .slideNav__iconPath {
        -webkit-transition:fill 0.3s; transition:fill 0.3s;
    }

    .slideNav__btn:hover .slideNav__iconPath {
        fill:#d94040;
    }

    .slideNav__btn[disabled]:hover .slideNav__iconPath {
        fill:#fff;
    }





/*  ================================================
    border transitions
    ================================================ */
    .sponsorProfile__imgBox,
    .brandProfile__logoBox {
        -webkit-transition:border 0.5s;
        transition:border 0.5s;
    }
    .sponsorProfile__imgBox:hover,
    .brandProfile__logoBox:hover {
        border:1px solid #d94040;
    }
    .recap__item:hover {
        border-left:3px solid #d94040;
    }

    .textLink:hover,
    a:hover .textLink,
    .displayAdBrand__link:hover .displayAdBrand__linkLabel {
        border-bottom:1px dotted #d94040;
    }
        .tk--youtube:hover .displayAdBrand__linkLabel {
            border-color:#e22d24;
        }
        .tk--vimeo:hover .displayAdBrand__linkLabel {
            border-color:#445566;
        }
        .tk--facebook:hover .displayAdBrand__linkLabel {
            border-color:#3b5998;
        }
        .tk--twitter:hover .displayAdBrand__linkLabel {
            border-color:#00b0ed;
        }
        .tk--pinterest:hover .displayAdBrand__linkLabel {
            border-color:#c92228;
        }




/*  ================================================
    position transitions
    ================================================ */
    .slideNav__icon {
        -webkit-transition:left 0.2s, right 0.2s, top 0.2s, bottom 0.2s; 
        transition:left 0.2s, right 0.2s, top 0.2s, bottom 0.2s; 
    }

    .slideNav__btn:hover .slideNav__icon--prev {
        left:40%;
    }
    .slideNav__btn:hover .slideNav__icon--next {
        right:40%; left:auto;
    }
    .slideNav__btn--small:hover .slideNav__icon--prev {
        left:10%;
    }
    .slideNav__btn--small:hover .slideNav__icon--next {
        right:10%; left:auto;
    }
    .slideNav__btn--med:hover .slideNav__icon--prev {
        left:16%;
    }
    .slideNav__btn--med:hover .slideNav__icon--next {
        right:16%; left:auto;
    }


    .slideNav__btn[disabled]:hover .slideNav__icon--prev {
        left:50%;
    }
    .slideNav__btn[disabled]:hover .slideNav__icon--next {
        right:50%; left:auto;
    }

    .slideNav__btn--small:hover .slideNav__icon--prev,
    .slideNav__btn--med:hover .slideNav__icon--prev {
        left:16%;
    }
    .slideNav__btn--small:hover .slideNav__icon--next,
    .slideNav__btn--med:hover .slideNav__icon--next {
        right:16%; left:auto;
    }

    .slideNav__btn--small[disabled]:hover .slideNav__icon--prev {
        left:16%;
    }
    .slideNav__btn--small[disabled]:hover .slideNav__icon--next {
        right:16%; left:auto;
    }
    .slideNav__btn--med[disabled]:hover .slideNav__icon--prev {
        left:25%;
    }
    .slideNav__btn--med[disabled]:hover .slideNav__icon--next {
        right:25%; left:auto;
    }
    @media screen and (max-width:74.9375rem), screen and (max-height:44.9375rem) {
        /*  w: -- 1199px
        /   h: -- 719px */
        .slideNav__btn--med:hover .slideNav__icon--prev {
            left:40%;
        }
        .slideNav__btn--med:hover .slideNav__icon--next {
            right:40%; left:auto;
        }
        .slideNav__btn--med[disabled]:hover .slideNav__icon--prev {
            left:50%;
        }
        .slideNav__btn--med[disabled]:hover .slideNav__icon--next {
            right:50%; left:auto;
        }
    }




/*  ================================================
    transform transitions
    ================================================ */
    .ballot__textLink:before,
    .sprite--close,
    .actionsModal__btn:before {
        -webkit-transition: -webkit-transform 0.3s; 
        transition: 0.3s transform;
    }
    .sprite--close:hover,
    .ballot__textLink:hover:before,
    .actionsModal__btn:hover:before {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }





/*  ================================================
    misc transitions
    ================================================ */
    .btnPrimary:hover .btn__label {
        text-shadow: none;
    }
