/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 16px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight:300; color:#545454; line-height: 1.5;
        background:transparent; margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
        
/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    .tk--hdr {
        font-family: 'Georgia', 'Times New Roman', serif; font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040; /*border-bottom:1px dotted #d94040;*/
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite--alpha-png {
        background:url('../../img/mr-sprite__alpha@2x.png') 0 0 / 6.25rem 3.125rem no-repeat;
    }
    .sprite {
        background:url('../../img/sprite--light.svg') 0 0 / 18.75em 18.75em no-repeat;
    }
    @media screen and (min-width:0\0) {
        /* IE9 and IE10 rule sets go here */
        .sprite {
            background-image:url('../../img/sprite--light.png');
        }
    }
    .mr-overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; width:100%; height:100%; z-index: 1; left:0;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }
    .c6-height-limiter { 
        min-height:17.375rem;/*278px*/ 
    }

/*  ==========================================================================
    .ng-animate classes
    ========================================================================== */
    .c6-fade {
        -webkit-transition:0.5s linear opacity;
        transition:0.5s linear opacity;
    }
    .c6-fade.ng-hide-add, .c6-fade.ng-hide-remove {
        display:block !important;
    }
    .c6-fade.ng-hide {
        opacity: 0;
    }

/*  ==========================================================================
    .mr-experience classes
    ========================================================================== */
    .mr-experience {
        padding: 8.125rem 0.625em 63% 0.625rem;/*10px*/ position:relative;
        height: 0; min-width:28.125rem;/*450px*/ min-height: 25.875rem;/*414px*/
        box-sizing: border-box; -moz-box-sizing: border-box;
        background:#252626;
    }

/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pager__group {
        height:3.75rem;/*60px*/ position: absolute; z-index: 1;
        margin:0; display: block; left: 0.625em; right: 0.625em; bottom: 0.625em;/*10px*/
    }
    .mr-pager__btn {
        min-width:5rem;/*80px*/ height:3.75rem;/*60px*/ position:absolute;
        background:#d94040 no-repeat 50% 50%; border:0; padding:0; margin:0;
        cursor:pointer;
    }
        .mr-pager__btn--disabled {
            opacity:0.25; cursor:default;
        }
            .mr-pager__btn--disabled .mr-pager__label {
                color:#252626;
            }
            .mr-pager__btn--disabled .mr-pager__icon-path {
                fill: #252626;
            }
        .mr-pager__prev {
            left:0;
        }
        .mr-pager__next {
            right:0;
        }
    .mr-pager__icon {
        display:block; width:0.75rem;/*12px*/ height:100%;
        position:absolute; top:0; left:12.5%; margin:0;
    }
        .mr-pager__icon-next {
            right:12.5%; left:auto;
        }
        .mr-pager__icon-path {
            fill: #fff;
        }
    .mr-pager__label {
        font-weight:bold; color:#fff; line-height:1; font-size:0.875rem;
        display: block;
        position:absolute; z-index: 1; top:1.4375rem; left:40%;
    }
        .mr-pager__next .mr-pager__label {
            right:40%; left:auto;
        }
    /* pages styles */
    .mr-pages__group {
        position:absolute; left:1.5625rem;/*25px*/ right:1.5625rem;/*25px*/
        height:100%; overflow: hidden; margin: 0 2px;
    }
        .mr-pages__scroller {
            position: relative; left: 0;
            -webkit-transition: 1s left; -o-transition: 1s left;
            -ms-transition: 1s left; -moz-transition: 1s left;
            transition: 1s left;
        }
            .mr-pages__list {
                margin:0; padding:0; list-style: none;
                width:12000%; background:green;
            }
                .mr-pages__item {
                    float:left; margin:0 0.125rem 0 0;
                }
                    .mr-pages__page {
                        width:5.625rem;/*90px*/ height:3.75rem;/*60px*/
                        margin:0; padding:0; border:0;
                        position:relative; overflow: hidden;
                        cursor: pointer;
                        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                    }
                        .mr-pages__preview-img {
                            position:absolute; top:0;
                            width:100%; height:100%; display: block;
                            background:no-repeat 50% 50% / 102%;
                        }
                            .mr-pages__page--active .mr-pages__preview-img {
                                -webkit-transform: scale(1.25);
                                -moz-transform: scale(1.25);
                                -o-transform: scale(1.25);
                                -ms-transform: scale(1.25);
                                transform: scale(1.25);
                            }
                        .mr-pages__label {
                            display: block; width:100%;
                            position: absolute; top:-0.875rem; left:0;
                            color:#000; font-size:6rem; line-height: 1; font-weight: bold;
                            opacity:0.5;
                        }
                        .mr-pages__fader {
                            background:#000; opacity:0.4;
                            position:absolute; width:100%; height:100%;
                            top:0; left:0; z-index: 1;
                        }
                            .mr-pages__page--active .mr-pages__fader {
                                opacity:0;
                            }
                        .mr-pages__current-indicator {
                            opacity:0; display: block; width:100%; height:100%;
                            position: absolute; top:0; left:0; z-index: 2;
                            background:url('../../img/mr-pages__current-indicator--light.png') 0 0 / 100% 100% no-repeat;
                        }
                            .mr-pages__page--active .mr-pages__current-indicator {
                                opacity:1;
                            }
    /* ad skip styles */
    .adSkip__group {
        background:#000; background:rgba(0,0,0,0.75);
        text-transform: uppercase; text-align: center; 
        font-weight:bold; font-size:0.875em; color:#fff;
        position:absolute; z-index: 4;
        width:100%; height:100%;
        box-sizing:border-box;
        padding-top:1.1875rem;
    }



/*  ==========================================================================
    Mini Reel Cards classes
    ========================================================================== */
    .mr-card__container {
        position: absolute; z-index: 2; padding: 0 0.625rem;/*10px*/
        left: 0; right: 0; top: 0.625rem;/*10px*/ bottom: 4.375rem;/*70px*/
    }
    .mr-cards__list, .mr-cards__item {
        margin:0; padding:0; list-style:none;
    }
        .mr-cards__list {
            width:100%;
        }
        .mr-cards__item {
            position:absolute; left: 0.625rem; right: 0.625rem;
        }
            .mr-cards__item.squished {
                height:0; overflow:hidden;
            }
        
        .mr-switch__group {
            height: 1.5625rem;/*25px*/ width: 100%; 
            margin: 0 0 0.625rem;/*10px*/ padding: 0.375rem 0 0; /*6px*/
        }
            .mr-switch__btn {
                width: 1.125rem;/*18px*/ height: 1.125rem;/*18px*/ border: 0; padding: 0;
                margin: 0 0.33em 0 0; background-color: #252626;
                background: url('../../img/switcher-sprite.png') no-repeat 0.75rem 3.125rem;
                opacity: 0.5; cursor: pointer; border-bottom: 2px solid #252626; display:inline;
                float: left;
            }
                .mr-switch__btn--active, .mr-switch__btn:focus {
                    opacity: 1; border-bottom: 2px solid #d94040;
                }
                .mr-switch__btn-reader {
                    background-position: 0.1875rem 0.0625rem;
                }
                .mr-switch__btn-video {
                    background-position: 0.1875rem -1.125rem;
                }
                .mr-switch__btn-img {
                    background-position: 0.1875rem -2.375rem;
                }
            .mr-switch__counter {
                font-size: 0.875em;/*14px*/ float: right; color: #929292;
            }

        .mr-card__copy {
            position: absolute; width: 100%; height: 0; padding: 0 0 64%;
            overflow:hidden; z-index: 3; background: #252626; opacity: 1;
            -ms-transition: opacity 1s ease;-moz-transition: opacity 1s ease;
            -webkit-transition: opacity 1s ease; transition: opacity 1s ease;
        }
            .mr-card__reader.ng-hide {
                opacity: 0;
            }
            .mr-card__reader.ng-hide-remove, .mr-card__reader.ng-hide-add {
                display: block !important;
            }
                .mr-card__title-h1 {
                    font-size:1.25rem;/*20px*/ color:#fff; font-weight:normal; 
                    margin:0; line-height: 1.3;
                }
                .mr-card__attributes {
                    color:#999999; font-size:0.75em;/*12px*/ margin:0.16em 0 1.333em 0;
                }                        
                .mr-card__desc {
                    font-size:0.875rem;/*14px*/ color:#c2c2c2; line-height:1.69;
                } 
            .mr-card__preview {
                width: 44%; float: right; display: inline-block; 
                margin: 0 0 0.625rem 0.625rem; padding:0;
                background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
            }
                .mr-preview__thumbnail {
                    width: 100%; height: 0; padding: 0 0 100%; position: relative;
                    background: 50% 50% / 180% auto no-repeat; cursor: pointer;
                }
                .mr-preview__button {
                    width: 4.25rem;/*68px*/ height: 3.625rem;/*58px*/
                    padding: 0; border: 0; border-radius: 6px; cursor: pointer;
                    background:#d94040; background: rgba(217,64,64,0.7);
                    position: absolute; left: 50%; top: 50%; margin: -1.8125rem 0 0 -2.125rem;
                }
                    .mr-preview__play-icon {
                        height: 45%; width: 100%;
                        background: url('../../img/play-icon.svg') 50% 50% / contain no-repeat;
                    }
                .mr-card__btn-watch {
                    font-size: 0.875rem; height: 2.5714em;/*36px*/ width: 8.5714em;/*120px*/
                    border:0; padding: 0; background: #d94040; color: #ffffff; font-weight: 800;
                    cursor: pointer; margin: 0.2857em 0 0; /*4px*/
                }
                .mr-card__text-watch {
                    display:none;
                }

        .mr-player__group {
            padding:0 0 64%; margin:0; 
            width:100%; height:0; position:relative;
            background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
        }
            .mr-player__play-btn {
                width: 6.375rem;/*68px*/ height: 5.4375rem;/*58px*/
                padding: 0; margin: -3.875rem 0 0 -3.1875rem; border: 0; 
                cursor: pointer;
                background: rgba(0,0,0,0.8);
                position: absolute; left: 50%; top: 50%; z-index:1;
            }
                .mr-player__play-icon {
                    height: 45%; width: 100%;
                    background: url('../../img/play-icon.svg') 50% 50% / contain no-repeat;
                }
            .mr-player, .mr-player__thumbnail {
                position:absolute; width:100%; height:100%;
            }
                .mr-player iframe {
                    width:100%; height:100%; position:absolute;
                }
                .mr-player--fly-away {
                    right: -500%; width:0; height:0;
                }
            .mr-player__thumbnail {
                background:50% 50% / cover no-repeat;
            }
            .mr-player__title {
                font-size:0.875rem;/*14px*/ color:#fff; font-weight:normal; text-align: center;
                margin:0; line-height: 1.3; position:absolute; 
                top: -1.9375rem; left: 4.125rem; right: 4.125rem;
                white-space: nowrap; overflow:hidden; text-overflow: ellipsis;
            }

    @media screen and (min-width: 45.625rem) {
        .mr-card__title-h1 {
            font-size:1.375rem;/*22px*/
        }
        .mr-card__desc {
            font-size: 1rem;
        }
        .mr-card__btn-watch {
            margin: 0.7143em 0 0;/*10px*/
        }
        .mr-preview__button {
            width: 5.5rem;/*88px*/ height: 4.6875rem;/*75px*/
            margin: -2.375rem 0 0 -2.75rem;
        }
    }

    @media screen and (max-width: 37.5rem) {
        /*600px*/
        .mr-card__preview {
            width: 38%;
        }
            .mr-preview__thumbnail {
                padding: 0 0 83%;
            }
            .mr-preview__button {
                width: 3.75rem;/*60px*/ height: 3.1875rem;/*51px*/
                margin: -1.875rem 0 0 -1.5625rem;
            }
        .mr-card__text-watch {
            display:inline;  font-size:0.875rem;/*14px*/ line-height:1; 
            font-weight: 800; margin: 0; cursor: pointer;
        }
            .mr-card__btn-watch {
                display:none;
            }
    }

    @media screen and (max-width: 33.125rem) {
        /*530px*/
        .mr-card__preview {
            width: 26%; float: left; padding: 0  0.625rem 0 0;
        }
            .mr-preview__button {
                width: 3.125rem;/*50px*/ height: 2.625rem;/*42px*/
                margin: -1.3125rem 0 0 -1.5625rem;
            }
        .mr-card__title-h1 {
            font-size: 1em;/*16px*/
        }
        .mr-card__desc {
            line-height: 1.42; margin: 0.5em 0;
        }
 
    }

/*  ==========================================================================
    .mr-ballot__module styles
    ========================================================================== */
    .mr-ballot-module {
        position: absolute; width:100%; height: 0; padding: 0 0 64%;
        z-index: 2; left:0; top:2.5625rem;/*41px*/
    }
    .mr-ballot__group {
        position: absolute; z-index: 500; top:26%; bottom: 0; width:100%;
        text-align: center;
    }
    .mr-ballot__title {
        color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
        text-align: center; line-height: 1.4;
    }
    .mr-ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .mr-ballot__item {
            display:inline-block; margin:0 1em;
        }
            .mr-ballot__btn {
                border:0; width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.25rem;/*20px*/ color:#fff; font-weight:bold; font-style: italic;
                cursor:pointer;
            }
                .mr-ballot__btn0 {
                    background:#8ac12a;
                }
                .mr-ballot__btn1 {
                    background:#19cbe6;
                }
                .mr-ballot__btn-label {
                    font-size:1.125rem;/*18px*/ line-height: 1.33;
                }
        .mr-ballot__textlink {
            position: absolute; margin: 0; bottom:0.625rem;/*10px*/ cursor: pointer;
        }
            .mr-ballot__results {
                right: 1rem;
            }
            .mr-ballot__watch-again {
                left: 1rem;
            }

        .mr-ballot__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width:31.25rem) {
        /*max 500px*/
        .mr-ballot__group {
            top:4rem;
        }
        .mr-ballot__item {
            margin:0 0.5em;
        }
        .mr-ballot__btn, .mr-ballot__title {
            font-size:1em;
        }
        .mr-ballot__btn {
            width:9em;
        }
    }


/*  ==========================================================================
    .mr-results__group
    ========================================================================== */
    .mr-results__group {
        height: 3.625rem;/*58px*/ width: 100%; padding: 0.675rem 0 0; float:right; 
    }
        .mr-results__list {
            margin:0; padding:0; list-style:none; position: absolute; width: 100%;
        }
            .mr-results__item {
                display:inline-block; width:50%;
            }
                .mr-results__item1 {
                    text-align: right;
                }
                .mr-results__option {
                    font-weight:400; font-style:italic; font-size:0.875em; line-height: 1.7;
                    margin:0;
                }
                .mr-results__tally {
                    font-weight:900; font-style: italic; font-size:1.125em;/*18px*/ line-height: 1;
                    margin:0.2778em 0.388em 0.5em; color: #fff;
                }
                    .mr-results__item0 .mr-results__option, .mr-results__item0 .mr-results__tiny-tally {
                        color:#8ac12a;
                    }
                        .mr-results__item0 .mr-results__tiny-tally {
                            float: left;
                        }
                    .mr-results__item1 .mr-results__option, .mr-results__item1 .mr-results__tiny-tally {
                        color:#19cbe6;
                    }
                        .mr-results__item1 .mr-results__tiny-tally {
                            float:right;
                        }

                .mr-results__tiny-tally {
                    display: none;
                }

        .mr-results__meter {
            background:#19cbe6;
            height:1.75em;/*28px*/ width:100%;
            overflow: hidden;
        }
            .mr-results__bar1 {
                height:1.75em; background:#8ac12a; border-right:1px solid #000;
            }
        .mr-results__watch-again {
            display: block; margin: 3em auto 0; cursor: pointer; width: 10em;
        }

        .mr-results__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width: 640px) {
        /*550px*/
        .mr-results__group {
            padding: 0.25rem 0; 
        }
        .mr-results__meter {
            height: 4px; 
        }
            .mr-results__item {
                padding-top: 4px;
            }
        .mr-results__tally { 
            display: none;
        }
        .mr-results__tiny-tally {
            display: inline;
        }
    }

/*  ==========================================================================
    .mr-comments
    ========================================================================== */
    .mr-comments__title {
        color:#747474; font-weight:700; font-size:1em; margin:1.0625em 0 0.3125em 0;
    }
    .mr-comments__body {
        -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden;
        margin:0 0 0.875em 0;
    }
        .mr-comments__hdr-bar {
            background:#747474; color:#f2f2f2;
            border-bottom:1px solid #5e5e5e;
        }
            .mr-comments__hdr-label {
                margin:3px 0 2px 8px; font-weight:700; font-size:14px;
            }
        .mr-comments__textbox {
            background:#fff;
        }
            .mr-comments__textarea {
                width:80%; margin:3px 0 3px 8px; font-size:1em; font-weight:300; color:#999999; float:left; display: block;
                border:0;
            }
            .mr-comments__post-btn {
                border-radius:3px; font-size:0.75em; font-weight:700; color:#fff; text-align:center;
                border:0; margin:0.67em 0.67em 1em 0; padding:0;
                float:right; width:12%; height:3.83em;
            }
    .mr-comments__select {
        width:100%; border-radius:3px; border:0; height:2.25em;/*36px*/
    }

    .mr-comments__list {
        margin:0; padding:1.125em 0 0 0; list-style:none; 
        background:url('../../img/border__ccc@2x.png') 17px 0 repeat-y; background-size:1px 1px;
    }
        .mr-comments__comment {
            margin:0 0 0.75em 0;
        }
            .mr-comments__userpic {
                border-radius:5px; overflow: hidden; background:#fff; padding:2px;
                width:1.75em; height:1.75em; /*28px*/ float:left; margin:0 0.875em 0 0;
            }
                .mr-comments__userpic-img {
                    display:block; width:1.75em; height:1.75em; /*28px*/
                    border-radius:3px; overflow: hidden;
                }
            .mr-comments__comment--friend .mr-comments__userpic, .mr-comments__comment--friend .mr-comments__meta {
                background:#e2f7ff;
            }
        .mr-comments__comment .mr-comments__body {
            background:#fff; margin:0;
        }
            .mr-comments__meta {
                background:#f2f2f2; padding:0.3125em 0.5em 0.1875em 0.5em; border-bottom:1px solid #eeeeee;
            }
                .mr-comments__comment--friend .mr-comments__meta {
                    border-bottom:1px solid #daf5ff;
                }
                .mr-comm-meta__username {
                    float:left; color:#747474; font-weight:700; font-size:0.875em; /*14px*/
                    width:68%; margin:0;
                }
                    .mr-comments__comment--friend .mr-comm-meta__username {
                        color:#0086b9;
                    }
                .mr-comm-meta__timestamp {
                    float:right; color:#999999; font-weight:300; font-size:0.75em; /*12px*/ text-align: right;
                    width:32%; margin:0.167em 0 0 0;
                }
            .mr-comments__copy {
                padding:0.4167em 0.667em 0.583em 0.667em; color:#747474; font-size:0.75em;/*12px*/ 
            }
            .mr-comments__breaker {
                display:block; width:2.25em; height:0.375em; margin:0 auto 0.75em auto;
                background-position:-2.5em -12.5em; opacity:0.1;
            }
        .mr-comments__terminator-outer {
            background:#ddd;
        }
            .mr-comments__terminator {
                width:0.375em;/*6px*/ height:0.375em;/*6px*/ background-position:-2.5em -12.5em;
                display:block; margin:1em 0 0 0.9375em; opacity:0.3;
            }

/*  ==========================================================================
    Ad styles
    ========================================================================== */
    .mr-ad__group { 
        height:100%; width: 100%;
        position:relative;
    }
    /*  Video Ad styles
    ====================================================== */
    .mr-adVideo__label {
        font-size: 0.875em; color: #929292; text-align: center;
        margin:0.625rem 0;
    }
    .mr-adVideo__videoHolder {
        position:relative;
        width:100%; height:0;
        padding-bottom:64%;
        text-align: center;
    }
    /*  Display Ad styles
    ====================================================== */
    .mr-adDisplay__group {
        width: 18.75rem;
        position:absolute; top:0; left:0;
        text-align: center;
    }
        .mr-adDisplay__view {
            width:18.75rem; height:15.625rem;
        }
        .mr-adDisplay__label {
            font-size:0.6875em; color:#929292; text-align: center; 
            display: block; width:100%; margin:2px 0 0 0;
        }


/*  ==========================================================================
    More Reels card classes
    ========================================================================== */
    .mr-more-reels__group {
        overflow:hidden;
    }
        .mr-more-reels__intro {
            font-size:0.875rem; color:#929292; font-weight:300; text-align: left;
            float: left; margin:0; padding: 0.125rem 0 0.4375rem 0;
        }
            .mr-more-reels__copy {
                position: relative; height: 0; width: 100%; padding: 0 0 63%;
            }
                .mr-more-reels__preview {
                    background:url('../../img/more-reels__preview--full.jpg') #000 50% 50% / cover no-repeat; 
                    border:0; margin:0; padding:33% 0 0; width:100%; 
                }
                    .mr-more-reels__preview-img {
                        width:100%;
                    }
                    .mr-more-reels__title {
                        font-size:1.25rem;/*20px*/ color:#fff; font-weight:normal; 
                        margin: 0.8em 0 0; line-height: 1.3; width: 100%; overflow:hidden;
                        white-space: nowrap; text-overflow:ellipsis;
                    }
                    .mr-more-reels__desc {
                        font-size:0.875rem;/*14px*/ color:#c2c2c2; line-height:1.57;
                        margin: 1.07em 0 1.428em; max-height: 3.14em;/*44px*/
                        overflow:hidden; text-overflow: ellipsis;
                    }
                    .mr-more-reels__link {
                        font-size:0.875rem;/*14px*/ line-height:1; font-weight: 800;
                        margin: 0; cursor: pointer;
                    }
        @media screen and (max-width: 37.4rem) {
            /*600px*/
            .mr-more-reels__title {
                font-size: 1em;/*16px*/
            }
            .mr-more-reels__desc {
                font-size: 0.8125em;/*13px*/
            }
        }


/*  ==========================================================================
    recap card classes
    ========================================================================== */
    .mr-recap__group {
        overflow:hidden;
    }
        .mr-recap__intro {
            font-size:0.875rem; color:#929292; font-weight:300; text-align: left;
            float: left; margin:0; padding: 0.125rem 0 0.4375rem 0;
        }
            .mr-recap__copy {
                position: relative; 
                height: 0; width: 100%; 
                padding: 0 0 63%; 
                border-top:1px dotted #565656;
            }
            .mr-recap__list {
                width:100%; height:100%;
                position: absolute;
                overflow-y:auto; overflow-x:hidden;
                margin:0; padding:0; list-style: none;
            }
                .mr-recap__item {
                    position:relative;
                    width:100%; 
                    padding:0.75em 0; border-bottom:1px dotted #565656;
                    -moz-box-sizing: border-box; box-sizing: border-box; 
                    cursor:pointer;
                }
                    .mr-recap__imgBtn {
                        width:27%; height:0; display:block;
                        border:0; margin:0; padding:0 0 18% 0;
                        font-size:1rem;
                        background:url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
                        float:left;
                        position:relative;
                        cursor:pointer;
                    }
                        .mr-recap__imgBox {
                            width:100%; height:100%; display: block;
                            position:absolute;
                            background: 50% 50% / cover no-repeat;
                        }
                    .mr-recap__copyBox {
                        float:right;
                        width:71.3%;
                    }
                        .mr-recap__copyBox .mr-card__title-h1 {
                            font-size:1.125em;
                        }
                        .mr-recap__ballotInfo {
                            color:#999; font-size:0.875em;
                        }
                            .mr-recap__ballotQuestion {
                                font-size:1em; font-weight:normal;
                                margin:0;
                            }
                                .mr-recap__ballotQuestion strong {
                                    color:#fff; font-style:italic;
                                }
                            .mr-recap__ballotResults {
                                margin:0;
                            }
                            .mr-recap__ballotA {
                                color:#8ac12a;
                            }
                            .mr-recap__ballotB {
                                color:#19cbe6;
                            }


/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__group {
        width:100%; height:0; padding:8.125rem 0 63% 0; top:0; z-index:5; overflow:hidden;
        position: absolute; min-width:28.125rem;/*450px*/ min-height: 25.875rem;/*414px*/
        box-sizing: border-box; -moz-box-sizing: border-box;
        background:black url('../../img/default_square.jpg') 50% 50% / cover no-repeat;
    }
        .mr-splash__start, .mr-splash__img {
            position:absolute; width:100%; height:100%; top:0; left: 0; 
            background: 50% 50% / cover no-repeat;
            border:0; margin:0; padding:0;
        }
            .mr-splash__start {
                cursor:pointer;
            }
        .mr-splash__copy, .mr-splash__loading {
            display:block; width: 100%; height: 0; padding: 0 0 13.5%;
            position:absolute; top: 50%; margin-top: -6.75%; z-index:2;
            border-top: #fff 4px solid; border-bottom: #fff 4px solid;
            background:#252626 url('../../img/click-to-start.svg') 50% 50% / 55% auto no-repeat;
        }
        .mr-splash__loading {
            background: #fff url('../../img/spinner-dots.gif') 50% 50% / 2rem auto no-repeat;
        }

    @media screen and (max-width: 20rem) { /*320px*/
        .mr-splash__group {
            padding: 0 0.625em; height: 20.625rem;/*330px*/
        }
    }
