/*  ================================================
    .playlist__group classes
    ================================================ */
    .playlist__item:hover {
        background-color:#efefef;
    }
    .playlist__item--current:hover {
        background-color:#d94040;
    }


/*  ================================================
    button styles 
    ================================================ */
    .textOnly__btn:hover,
    .slideNav__btn:hover {
        background-color:#fff;
        color:#d94040;
    }
        .slideNav__btn:hover .slideNav__iconPath {
            fill:#d94040;
        }


    .mr-titleBar__title:hover {
        color:#d94040;
    }