<script src="//use.typekit.net/xuz8gem.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<div class="MiniReel"
    c6-alias="(!!currentCard.params.sponsor || !!currentCard.collateral.logo || !!currentCard.social.length > 0) as hasSponsorship"
    ng-class="{
        'MiniReel--noBrandProfile' : !hasSponsorship
    }">

    <header class="mr-titleBar__group clearfix"
        ng-show="hasSponsorship">
        <div class="mr-titleBar__disabler" ng-show="!nav.enabled">&nbsp;</div>
        <div class="brandProfile__group clearfix">
            <a ng-if="!!currentCard.collateral.logo" ng-href="{{currentCard.links.Website}}" target="_blank" title="Sponsor link" class="brandProfile__imgBox">
                <img ng-src="{{currentCard.collateral.logo}}" class="brandProfile__img">
            </a>
            <div ng-if="!!currentCard.params.sponsor || currentCard.social.length > 0" class="brandProfile__copy">
                <p ng-if="!!currentCard.params.sponsor" class="brandProfile__tag">
                    Sponsored by 
                    <a ng-href="{{currentCard.links.Website}}" target="_blank" title="{{currentCard.params.sponsor}}">{{currentCard.params.sponsor}}</a>
                </p>
                <div ng-if="currentCard.social.length > 0" class="brandProfile__links">
                    <a ng-repeat="link in currentCard.social"
                        ng-href="{{link.href}}"
                        target="_blank"
                        title="{{link.label}}"
                        class="brandProfile__link sprite socialIcons socialIcons--{{link.type}}">
                        <span class="ir">{{link.label}}</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <ng-include ng-controller="DeckController as DeckCtrl" src="'deck.html' | asset:'views'"></ng-include>
    
    <display-ad-module ng-if="currentCard._data.companion === undefined"
        config="currentCard"
        active="currentIndex > -1">
    </display-ad-module>
    <companion-ad-module ng-if="currentCard._data.companion !== undefined"
        companion="currentCard._data.companion"
        active="!!currentCard._data.companion">
    </companion-ad-module>

</div><!--.MiniReel-->


<ng-switch on="app.state">
    <div class="splash__group" ng-switch-when="splash">
        <ng-include ng-if="app.data.version < 1"  src="'splash.html' | asset:'views'"></ng-include>
    </div>
</ng-switch>
