<section class="ballot__box">
    <span class="ballot__intro">Please answer the following:</span>
    <h2 class="ballot__title tk--hdr">{{::ballot.prompt}}</h2>
    <ul class="ballot__list">
        <li class="ballot__item ballot__item{{::$index}}" ng-repeat="choice in ::ballot.choices">
            <button class="ballot__btn btnPrimary ballot__btn{{::$index}}"
            ng-click="Ctrl.vote($index)"
            type="button" title="{{::choice}}">
                <span class="ballot__btnLabel btn__label tk--action">{{::choice}}</span>
            </button>
        </li>
    </ul>

    <div class="ballot__textLinks">
        <a ng-click="onDismiss()" title="Watch Video Again" 
        class="ballot__textLink ballot__textLink--replay
        spriteBe uiIconsBe uiIconsBe--replay">
            <span class="textLink__label textLink">Watch Video Again</span></a>
        <a ng-click="Ctrl.pass()" title="Show Voting Results" 
        class="ballot__textLink ballot__textLink--results">
            <span class="textLink__label textLink">Show Voting Results</span></a>
    </div>
</section>

<div class="overlay" ng-click="onDismiss()">
    <button class="sprite sprite--close overlay__closeBtn">
        <span class="ir">Close</span>
    </button>
</div>
