<div class="mr-adDisplay__group" ng-switch="adType" ng-show="active">
    <div class="mr-adDisplay__view" ng-switch-when="iframe"><iframe ng-src="{{fileURI}}"></iframe></div>
    <div class="mr-adDisplay__view" ng-switch-when="image"><img ng-src="{{fileURI}}" /></div>
    <div class="mr-adDisplay__view" ng-hide="companion()"><img ng-src="{{adSrc}}" /></div>
    <div class="mr-adDisplay__view" ng-switch-when="html" ng-bind-html="fileURI"></div>
    <span class="mr-adDisplay__label">Advertisement</span>
</div>