<article class="mr-card__group mr-recap__group">
    <div class="mr-recap__copy">
        <ul class="mr-recap__list">
            <li class="mr-recap__item clearfix">
                <button class="mr-recap__imgBtn" type="button">
                    <span class="mr-recap__imgBox" style="background-image:url( IMG URL HERE );">&nbsp;</span>
                </button>
                <div class="mr-recap__copyBox">
                    <h1 class="mr-card__title tk--hdr">The Title of the Card Goes Here and then...</h1>
                    <p class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">Source goes here</a></p>
                    <div class="mr-recap__ballotInfo">
                        <h3 class="mr-recap__ballotQuestion">Questionnaire: <strong>What did the Fox Say?</strong></h3>
                        <p class="mr-recap__ballotResults">
                            <span class="mr-recap__ballotA">
                                Awesome!!! <strong>32.6%</strong>
                            </span> &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="mr-recap__ballotB">
                                F--cking Awesome!!! <strong>67.4%</strong>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>

<!--<article class="mr-card__group mr-more-reels__group">
    <div class="mr-player__group">
        <div class="mr-player">
            <button class="mr-more-reels__preview c6-height-limiter" type="button"
                title="{{this.title}}">
                <span class="ir">Click to Watch</span>
            </button>
        </div>
    </div>
    <div class="mr-card__copy" ng-repeat="this in Ctrl.miniReels">
        <h3 class="mr-more-reels__intro">{{config.data.message}}</h3>
        <h1 class="mr-card__title tk--hdr">{{this.title}}</h1>
        <div class="mr-card__desc">{{this.summary}}</div>
        <p class="mr-more-reels__link"><a>Watch Now</a></p>
    </div>
    <div class="mr-ad__med-rect">
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="true"
            ad-src="{{config.displayAd}}">
        </display-ad-module>
    </div>
</article>-->