<article class="mr-textCard__group">
    <div class="mr-textCard__img" ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
        <btn class="mr-card__startBtn" type="button">
            Let&rsquo;s Go!
        </btn>
    </div>
    <p class="mr-card__counter">{{number}} of {{total}}</p>
    <div class="mr-textCard__copy">
        <h1 class="mr-card__title tk--hdr">{{config.title}}</h1>
        <div class="mr-card__desc" ng-bind-html="config.note"></div>
    </div>
    
    <div class="mr-card__fader">&nbsp;</div>
    <div class="mr-card__fader mr-card__fader--top">&nbsp;</div>
</article>