<article class="mr-card__group">
    <ballot-vote-module class="mr-ballot-module css-promote"
        ng-if="Ctrl.hasModule('ballot')"
        active="config._data.modules.ballot.ballotActive && active"
        vote="config._data.modules.ballot.vote"
        card-id="{{config.id}}"
        fetch-when="onDeck || active"
        on-dismiss="Ctrl.dismissBallot()">
    </ballot-vote-module>
    <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
        class="mr-results-module css-promote"
        active="config._data.modules.ballot.resultsActive && active"
        vote="config._data.modules.ballot.vote"
        card-id="{{config.id}}"
        fetch-when="onDeck || active"
        on-dismiss="Ctrl.dismissBallotResults()">
    </ballot-results-module>
    <div class="mr-player__group">
        <button ng-if="Ctrl.enablePlayButton" ng-show="Ctrl.showPlay" ng-click="Ctrl.playVideo()" class="mr-player__play-btn">
            <div class="mr-player__play-icon">
                <span class="ir">Play Video</span>
            </div>
        </button>
        <div ng-class="{'mr-player--fly-away': Ctrl.flyAway}" class="mr-player"><!-- actual player will be inserted into this container --></div>
        <div ng-show="Ctrl.flyAway" class="mr-player__thumbnail"
            ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
            <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
        </div>
    </div>

    <div class="mr-card__copy">
        <p class="mr-card__counter">{{number}} of {{total}}</p>
        <h1 class="mr-card__title tk--hdr">{{config.title}}</h1>
        <p ng-show="!!config.source" class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">{{config.source}}</a></p>
        <div class="mr-card__desc" ng-bind-html="config.note"></div>
    </div>


    <!--<comments-module ng-if="Ctrl.hasModule('comments')"
        card-id="{{config.id}}"
        fetch-comments-when="onDeck || active">
    </comments-module>
    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}">
    </display-ad-module>-->
</article>
