<div class="ui__modal">
    <navigation class="tabNav__group">
        <ul class="tabNav__list clearfix">
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.copy"
                    class="tabNav__link tabNav__link--active" 
                    title="Editorial Content">Editorial Content</a>
            </li>
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.video"
                    class="tabNav__link"
                    title="Video Content">Video Content</a>
            </li>
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.ballot"
                    class="tabNav__link"
                    title="Questionnaire">Questionnaire</a>
            </li>
        </ul>
        <button class="modal__closeBtn sprite--alpha" ng-click="EditCardCtrl.close()"><span class="ir">Close</span></button>
    </navigation>

    <div class="modal__content">
        <c6-view></c6-view>
    </div>
</div>
<div class="ui__overlay">&nbsp;</div>
