<div class="ui__modal">
    <navigation class="tabNav__group">
        <ul class="tabNav__list clearfix">
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.video"
                    class="tabNav__link" 
                    title="Editorial Content">Editorial Content</a>
            </li>
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.video"
                    class="tabNav__link"
                    title="Video Content">Video Content</a>
            </li>
            <li class="tabNav__item">
                <a c6-sref="editor.editCard.ballot"
                    class="tabNav__link"
                    title="Questionnaire">Questionnaire</a>
            </li>
        </ul>
    </navigation>

    <c6-view></c6-view>

    <button ng-click="EditCardCtrl.close()">Close</button>
</div>
<div class="ui__overlay">&nbsp;</div>
