<div class="ui__modal">
    <navigation class="tabNav__group">
        <ul class="tabNav__list clearfix">
            <li ng-repeat="tab in EditCardCtrl.tabs" class="tabNav__item">
                <a c6-sref="{{tab.sref}}"
                    class="tabNav__link" 
                    title="{{tab.name}}">{{tab.name}}</a>
            </li>
        </ul>
        <button class="modal__closeBtn sprite--alpha" ng-click="EditCardCtrl.close()"><span class="ir">Close</span></button>
    </navigation>

    <div class="modal__content">
        <c6-view></c6-view>
    </div>
</div>
<div class="ui__overlay">&nbsp;</div>
