<div class="ui__modal">
    <h1 class="modal__title">New Card : Choose Your Card Type</h1>
    <form>

        <input id="cardType_video" type="radio" 
        ng-model="NewCardCtrl.type" value="video"
        class="modal__radioBtn" />
        <label for="cardType_video">Video</label>

        <input id="cardType_videoBallot" type="radio" 
        ng-model="NewCardCtrl.type" value="videoBallot"
        class="modal__radioBtn" />
        <label for="cardType_videoBallot">Video with Questionnaire</label>

    </form>
    <button class="modal__closeBtn sprite--alpha" c6-sref="editor"><span class="ir">Close</span></button>
    <br><br>
    <footer class="modal__btnFooter">
        <button class="modal__btn toolbar__delete" c6-sref="editor" title="Cancel">Cancel</button>
        <button class="modal__btn" ng-click="NewCardCtrl.edit()" title="Next">Next</button>
    </footer>
</div>
<div class="ui__overlay">&nbsp;</div>