<div class="ui__modal">
    <h1 class="modal__title">New Card : Choose Your Card Type</h1>
    <form>
        <ul class="wizard__group wizard__group--small">
            <li class="wizard__choice">
                <input id="cardType_video" type="radio" 
                    name="minireel-category" value="video"
                    class="modal__radioBtn" ng-model="NewCardCtrl.type" />
                <label class="wizard__hitarea" for="cardType_video"><span class="ir">Video</span></label>
                <div class="wizard__diagram sprite--fff diagram__videoType">&nbsp;</div>
                <div class="wizard__copy">
                    <h2 class="wizard__title">Video</h2>
                    <p class="wizard__p">Editorial content with video.</p>
                </div>
            </li>

            <li class="wizard__choice">
                <input id="cardType_videoBallot" type="radio" 
                    name="minireel-category" value="videoBallot"
                    class="modal__radioBtn" ng-model="NewCardCtrl.type" />
                <label class="wizard__hitarea" for="cardType_videoBallot"><span class="ir">Video with Questionnaire</span></label>
                <div class="wizard__diagram sprite--fff diagram__videoBallotType">&nbsp;</div>
                <div class="wizard__copy">
                    <h2 class="wizard__title">Video with Questionnaire</h2>
                    <p class="wizard__p">Editorial content with video, followed by a questionnaire.</p>
                </div>
            </li>
        </ul>

    </form>
    <button class="modal__closeBtn sprite--alpha" c6-sref="editor"><span class="ir">Close</span></button>
    <footer class="modal__btnFooter">
        <button class="modal__btn toolbar__delete" c6-sref="editor" title="Cancel">Cancel</button>
        <button class="modal__btn" ng-click="NewCardCtrl.edit()" title="Next">Next</button>
    </footer>
</div>
<div class="ui__overlay">&nbsp;</div>