/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 16px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight:300; color:#545454; line-height: 1.5;
        background:transparent; margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
        
/*  ==========================================================================
    c6-copy classes : general type & color styles
    ========================================================================== */
    .tk--hdr {
        font-family: 'Georgia', 'Times New Roman', serif; font-weight:300;
    }
    a {
        text-decoration: none; color:#d94040; /*border-bottom:1px dotted #d94040;*/
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .hidden {
        visibility: hidden;
    }
    .sprite--alpha-png {
        background:url('../../img/mr-sprite__alpha@2x.png') 0 0 / 6.25rem 3.125rem no-repeat;
    }
    .sprite {
        background:url('../../img/sprite--light.svg') 0 0 / 18.75em 18.75em no-repeat;
    }
    @media screen and (min-width:0\0) {  
        /* IE9 and IE10 rule sets go here */
        .sprite {
            background-image:url('../../img/sprite--light.png');
        }
    }
    .mr-overlay {
        background:rgb(0,0,0); background:rgba(0,0,0,0.8);
        position:absolute; width:100%; height:100%; z-index: 1; left:0;
    }
    .css-promote {
        transform: translateZ(0);
        -webkit-transform: translateZ(0); /* Safari and Chrome */
    }
    .c6-height-limiter { 
        min-height:11.125rem;/*178px*/
    }
    
/*  ==========================================================================
    .mr-experience classes
    ========================================================================== */
    .mr-experience {
        padding: 8.125rem 0.625em 63% 0.625rem;/*10px*/ position:relative;
        height: 0; min-width:18.75rem;/*300px*/ min-height: 19.625rem;/*314px*/
        box-sizing: border-box; -moz-box-sizing: border-box;
    }

/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pager__group {
        height:3.75rem;/*60px*/ position: absolute; z-index: 1;
        margin:0; display: block; left: 0.625em; right: 0.625em; bottom: 0.625em;/*10px*/
    }
    .mr-pager__btn {
        min-width:5rem;/*80px*/ height:3.75rem;/*60px*/ position:absolute;
        background:#b69823 no-repeat 50% 50%; border:0; padding:0; margin:0;
        cursor:pointer;
    }
        .mr-pager__btn--disabled {
            opacity:0.25; cursor:default;
        }
            .mr-pager__btn--disabled .mr-pager__icon-path {
                fill: #252626;
            }
        .mr-pager__prev {
            left:0;
        }
        .mr-pager__next {
            right:0;
        }
    .mr-pager__icon {
        display:block; width:0.875rem;/*14px*/ height:1.4375rem;/*23px*/
        position:absolute; top:1.1875rem;/*19px*/ left:50%; margin:0 0 0 -0.375rem;
    }
        .mr-pager__icon-path {
            fill: #fff;
        }
    /* pages styles */
    .mr-pages__group {
        position:absolute; left:1.5625rem;/*25px*/ right:1.5625rem;/*25px*/
        height:100%; overflow: hidden; margin: 0 2px;
    }
        .mr-pages__scroller {
            position: relative; left: 0;
            -webkit-transition: 1s left; -o-transition: 1s left;
            -ms-transition: 1s left; -moz-transition: 1s left;
            transition: 1s left;
        }
            .mr-pages__list {
                margin:0; padding:0; list-style: none;
                width:12000%; background:green;
            }
                .mr-pages__item {
                    float:left; margin:0 0.125rem 0 0;
                }
                    .mr-pages__page {
                        width:5.625rem;/*90px*/ height:3.75rem;/*60px*/
                        margin:0; padding:0; border:0; background:black;
                        position:relative; overflow: hidden;
                        cursor: pointer;
                    }
                        .mr-pages__preview-img {
                            position:absolute; top:0;
                            width:100%; height:100%; display: block;
                            background:no-repeat 50% 50% / 102%;
                        }
                            .mr-pages__page--active .mr-pages__preview-img {
                                -webkit-transform: scale(1.12);
                                -moz-transform: scale(1.12);
                                -o-transform: scale(1.12);
                                -ms-transform: scale(1.12);
                                transform: scale(1.12);
                            }
                            .mr-pages__page:last-child .mr-pages__preview-img {
                                background-image:url('../../img/more-reels__preview.jpg');
                            }
                        .mr-pages__label {
                            display: block; width:100%;
                            position: absolute; top:-0.875rem; left:0;
                            color:#5c5c5c; font-size:6rem; line-height: 1; font-weight: bold;
                        }
                        .mr-pages__fader {
                            background:#000; opacity:0.4;
                            position:absolute; width:100%; height:100%;
                            top:0; left:0; z-index: 1;
                        }
                            .mr-pages__page--active .mr-pages__fader {
                                opacity:0;
                            }
                        .mr-pages__current-indicator {
                            opacity:0; display: block; width:100%; height:100%;
                            position: absolute; top:0; left:0; z-index: 2;
                            background:url('../../img/mr-pages__current-indicator--light.png') 0 0 / cover no-repeat;
                        }
                            .mr-pages__page--active .mr-pages__current-indicator {
                                opacity:1;
                            }


/*  ==========================================================================
    .mr-nav__group classes
    ========================================================================== */
    .mr-nav__group {
        position:absolute; z-index: 10; left:0; top:50%;
        width:100%;
    }
        .mr-nav__btn {
            display: block; width:3rem;/*48px*/ height:4.25rem;/*68px*/
            border:0; margin:-2.125rem 0 0 0; padding:0; background:#b69823;
            position: absolute;
            cursor:pointer; opacity:0.3;
        }
                .mr-nav__prev--disabled {
                    display: none;
                }
                .mr-nav__next {
                    right:0;
                }
                    .mr-nav__next--disabled {
                        display: none;
                    }
            .mr-nav__icon {
                display: block; width:0.9375rem;/*15px*/  height:1.5rem;/*24px*/
                position:absolute; top:1.4375rem;/*23px*/
            }
                .mr-nav__icon-prev {
                    left:0.875rem;/*14px*/ background-position:0 -1.25rem;
                }
                .mr-nav__icon-next {
                    left:1.125rem;/*18px*/ background-position:-1.25rem -1.25rem;
                }


/*  ==========================================================================
    Mini Reel Cards classes
    ========================================================================== */
    .mr-card__container {
        position: absolute; z-index: 2; padding: 0 0.625rem;/*10px*/
        left: 0; right: 0; top: 0.625rem;/*10px*/ bottom: 4.375rem;/*70px*/
    }
    .mr-cards__list, .mr-cards__item {
        margin:0; padding:0; list-style:none;
    }
        .mr-cards__list {
            width:100%;
        }
        .mr-cards__item {
            position:absolute; left: 0.625rem; right: 0.625rem;
        }
            .mr-cards__item.squished {
                height:0; overflow:hidden;
            }
            .mr-cards__item.ng-animate {
                top: 0;
            }

            .mr-player__group {
                padding:0 0 64%; margin:0;
                width:100%; height:0; position:relative;
                background:#000;
            }
                .mr-player, .mr-player__thumbnail {
                    position:absolute; width:100%; height:100%;
                }
                    .mr-player iframe {
                        width:100%; height:100%; position:absolute;
                    }
                    .mr-player--fly-away {
                        left:-500%;
                    }
                .mr-player__thumbnail {
                    background:50% 50% / cover no-repeat;
                }
        .mr-card__copy {
            position: relative; width:100%; background-color: #252626; margin: 0;
            height: 2.875rem;/*46px*/ overflow: hidden;
            -webkit-transition: height 0.3s ease-out; -moz-transition: height 0.3s ease-out; 
            -o-transition: height 0.3s ease-out; transition: height 0.3s ease-out; 
            -webkit-transition-delay: 0.25s; -moz-transition-delay: 0.25s; 
            -o-transition-delay: 0.25s; transition-delay: 0.25s; 
        }
            .mr-card__copy--expanded {
                height: 7.5rem;/*121px*/
            }
            .mr-card__title {
                margin:0; 
            }
                .mr-card__title-h1 {
                    font-size:1.125rem;/*18px*/ color:#fff; font-weight:normal; 
                    padding: 0.8125rem 2.25rem 1rem 0; margin:0; line-height: 1;
                    overflow:hidden; text-overflow: ellipsis; white-space:nowrap;
                }
                .mr-card__attributes {
                    color:#999999; font-size:0.75em;/*12px*/ margin:0.16em 0 1em 0;
                }
                .mr-card__btn {
                    height: 1.5rem;/*24px*/ width: 1.5rem;/*24px*/ right: 0; top: 0.75rem;/*12px*/
                    position: absolute; padding: 0; border: 0; background-color: #b69823;
                    cursor: pointer;
                }
                    .mr-card__icon {
                        height: 0.4375rem;/*7px*/ width: 0.3125rem;/*5px*/ display:block;
                        background: url('../../img/dropdown-arrow.png') no-repeat 0 0; margin: 0 auto;
                        -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; 
                    }
                    .mr-card__icon--active {
                        transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
     
            .mr-card__desc {
                margin: -0.5em 0 0 0;/*8px*/ font-size:0.8125rem;/*13px*/ 
                color:#c2c2c2; line-height:1.69; height: 3.5rem;/*56px*/
            }   


/*  ==========================================================================
    .mr-ballot__module styles
    ========================================================================== */
    .mr-ballot-module {
        position: absolute; width:100%; height: 0; padding: 0 0 64%;
        z-index: 2; left:0; top:0;
    }
    .mr-ballot__group {
        position: absolute; z-index: 500; top:26%; bottom: 0; width:100%;
        text-align: center;
    }
    .mr-ballot__title {
        color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
        text-align: center; line-height: 1.4;
    }
    .mr-ballot__list {
        margin:0 0 2em 0; padding:0; list-style: none;
    }
        .mr-ballot__item {
            display:inline-block; margin:0 1em;
        }
            .mr-ballot__btn {
                border:0; width:10em; /*240px*/ height:5em; /*120px*/
                font-size:1.25rem;/*20px*/ color:#fff; font-weight:bold; font-style: italic;
                cursor:pointer;
            }
                .mr-ballot__btn0 {
                    background:#8ac12a;
                }
                .mr-ballot__btn1 {
                    background:#19cbe6;
                }
                .mr-ballot__btn-label {
                    font-size:1.125rem;/*18px*/ line-height: 1.33;
                }
        .mr-ballot__textlink {
            position: absolute; margin: 0; bottom:0.625rem;/*10px*/ cursor: pointer;
        }
            .mr-ballot__results {
                right: 1rem;
            }
            .mr-ballot__watch-again {
                left: 1rem;
            }

        .mr-ballot__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width:33.75rem) {
        /*max 540px*/
        .mr-ballot__group {
            top:4rem;
        }
        .mr-ballot__item {
            margin:0 0.5em;
        }
        .mr-ballot__btn, .mr-ballot__title {
            font-size:1em;
        }
        .mr-ballot__btn {
            width:9em;
        }
    }

    @media screen and (max-width: 26.625rem) {
        /*426px*/
        .mr-ballot__group {
            top:20%;
        }
        .mr-ballot__btn-label {
            font-size: 0.875rem;
        }
        .mr-ballot__btn {
            width:7.25em; height:4em;
        }
        .mr-ballot__textlink {
            font-size: 0.75rem;
        }
    }


/*  ==========================================================================
    .mr-results__group
    ========================================================================== */
    .mr-results-module {
        position: absolute; width:100%; height: 0; padding: 0 0 64%;
        z-index: 2; left:0; top:0; opacity: 1;
        -ms-transition: opacity 1s 0.15s;
        -moz-transition: opacity 1s 0.15s;
        -webkit-transition: opacity 1s 0.15s;
        transition: opacity 1s 0.15s;
    }
        .mr-results-module.ng-hide {
            opacity:0;
        }
        .mr-results-module.ng-hide-remove, .mr-results-module.ng-hide-add {
            display: block !important;
        }
    .mr-results__group {
        position: absolute; height: 0; padding: 0 10% 64%;
        z-index: 2; left:0; right: 0; top:0; background-color: rgba(0,0,0,0.8);
    }
        .mr-results__title {
            color:#fff; font-size: 1.25em;/*20px*/ font-weight:normal; 
            text-align: center; line-height: 1.4; margin-top: 26%;
        }
        .mr-results__list {
            margin:0; padding:0; list-style:none;
        }
            .mr-results__item {
                display:inline-block; width:50%;
            }
                .mr-results__item1 {
                    text-align: right;
                }
                .mr-results__option {
                    font-weight:400; font-style:italic; font-size:1em; line-height: 1.5;
                    margin:0;
                }
                .mr-results__tally {
                    font-weight:900; font-style: italic; font-size:1.375em;/*22px*/ line-height: 1;
                    margin:0 0 0.7273em;/*16px*/ 
                }
                    .mr-results__item0 .mr-results__option, .mr-results__item0 .mr-results__tally {
                        color:#8ac12a;
                    }
                    .mr-results__item1 .mr-results__option, .mr-results__item1 .mr-results__tally {
                        color:#19cbe6;
                    }
        .mr-results__meter {
            background:#19cbe6;
            height:1.75em;/*28px*/ width:100%;
            overflow: hidden;
        }
            .mr-results__bar1 {
                height:1.75em; background:#8ac12a; border-right:1px solid #000;
            }
        .mr-results__watch-again {
            display: block; margin: 3em auto 0; cursor: pointer; width: 10em;
        }

        .mr-results__close {
            width: 1.25rem;/*20px*/ height: 1.25rem;/*20px*/ position: absolute;
            padding: 0; border: 0; top: 0; right: 0; font-size: 1em; margin: 1em;
            background-position: 0 -9.35rem; cursor: pointer;
        }

    @media screen and (max-width: 33.75rem) {
        /*540px*/
        .mr-results__title {
            font-size: 1em; margin-top: 20%;
        }
        .mr-results__meter {
            height: 1.25em;
        }
            .mr-results__option {
                font-size: 0.875em;
            }
            .mr-results__tally {
                font-size: 1em;
            }
        .mr-results__watch-again {
            font-size: 0.875em;
        }
    }
    @media screen and (max-width: 25rem) {
        /*400px*/
        .mr-results__title {
            margin-top: 15%;
        }
        .mr-results__watch-again {
            margin: 1.5em auto 0;
        }
    }


/*  ==========================================================================
    .mr-comments
    ========================================================================== */
    .mr-comments__title {
        color:#747474; font-weight:700; font-size:1em; margin:1.0625em 0 0.3125em 0;
    }
    .mr-comments__body {
        -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden;
        margin:0 0 0.875em 0;
    }
        .mr-comments__hdr-bar {
            background:#747474; color:#f2f2f2;
            border-bottom:1px solid #5e5e5e;
        }
            .mr-comments__hdr-label {
                margin:3px 0 2px 8px; font-weight:700; font-size:14px;
            }
        .mr-comments__textbox {
            background:#fff;
        }
            .mr-comments__textarea {
                width:80%; margin:3px 0 3px 8px; font-size:1em; font-weight:300; color:#999999; float:left; display: block;
                border:0;
            }
            .mr-comments__post-btn {
                border-radius:3px; font-size:0.75em; font-weight:700; color:#fff; text-align:center;
                border:0; margin:0.67em 0.67em 1em 0; padding:0;
                float:right; width:12%; height:3.83em;
            }
    .mr-comments__select {
        width:100%; border-radius:3px; border:0; height:2.25em;/*36px*/
    }

    .mr-comments__list {
        margin:0; padding:1.125em 0 0 0; list-style:none; 
        background:url('../../img/border__ccc@2x.png') 17px 0 repeat-y; background-size:1px 1px;
    }
        .mr-comments__comment {
            margin:0 0 0.75em 0;
        }
            .mr-comments__userpic {
                border-radius:5px; overflow: hidden; background:#fff; padding:2px;
                width:1.75em; height:1.75em; /*28px*/ float:left; margin:0 0.875em 0 0;
            }
                .mr-comments__userpic-img {
                    display:block; width:1.75em; height:1.75em; /*28px*/
                    border-radius:3px; overflow: hidden;
                }
            .mr-comments__comment--friend .mr-comments__userpic, .mr-comments__comment--friend .mr-comments__meta {
                background:#e2f7ff;
            }
        .mr-comments__comment .mr-comments__body {
            background:#fff; margin:0;
        }
            .mr-comments__meta {
                background:#f2f2f2; padding:0.3125em 0.5em 0.1875em 0.5em; border-bottom:1px solid #eeeeee;
            }
                .mr-comments__comment--friend .mr-comments__meta {
                    border-bottom:1px solid #daf5ff;
                }
                .mr-comm-meta__username {
                    float:left; color:#747474; font-weight:700; font-size:0.875em; /*14px*/
                    width:68%; margin:0;
                }
                    .mr-comments__comment--friend .mr-comm-meta__username {
                        color:#0086b9;
                    }
                .mr-comm-meta__timestamp {
                    float:right; color:#999999; font-weight:300; font-size:0.75em; /*12px*/ text-align: right;
                    width:32%; margin:0.167em 0 0 0;
                }
            .mr-comments__copy {
                padding:0.4167em 0.667em 0.583em 0.667em; color:#747474; font-size:0.75em;/*12px*/ 
            }
            .mr-comments__breaker {
                display:block; width:2.25em; height:0.375em; margin:0 auto 0.75em auto;
                background-position:-2.5em -12.5em; opacity:0.1;
            }
        .mr-comments__terminator-outer {
            background:#ddd;
        }
            .mr-comments__terminator {
                width:0.375em;/*6px*/ height:0.375em;/*6px*/ background-position:-2.5em -12.5em;
                display:block; margin:1em 0 0 0.9375em; opacity:0.3;
            }


/*  ==========================================================================
    VAST Ad styles
    ========================================================================== */
    .mr-vast__group {
        position: relative; height: 0; width: 100%; 
        overflow:hidden; padding: 0 0 74%;
    }
    .mr-vast__player {
        width:100%; height:0; position:absolute;
        padding:0 0 64% 0; z-index: 2;
    }
        .mr-vast__video {
            width:100%; height:100%; position:absolute;
        }
        .mr-vast__title-h1 {
            font-size: 0.875em; color: #929292; text-align: center;
            position: absolute; bottom: -2.57em; left: 50%; margin-left: -3em;
        }
        .mr-vast__watch-again {
            font-size: 1em; position: absolute; z-index: 1;
            top: 50%; left: 50%; margin: 8.125rem 0 0 -3.6875em;
        }
/*  ==========================================================================
    Display ad styles
    ========================================================================== */
    .mr-display-ad__group {
        width:100%; height:0; position:relative;
        padding:0 0 64% 0; z-index: 0; text-align: center;
    }
        .mr-display-ad__title-h1 {
            font-size: 0.875em; color: #929292; text-align: center;
            position: absolute; top: 50%; left: 50%; margin: -9.375rem 0 0 -3em;
        }
        .mr-display-ad__thumbnail {
            position: absolute; width: 18.75rem;/*300px*/ height: 15.625rem;/*250px*/
            left: 50%; top: 50%; margin: -7.8125rem 0 0 -9.375rem;
        }
    @media screen and (max-width: 500px) {
        /*500px*/
        .mr-display-ad__title-h1 {
            margin: 0 0 0.2857em; position: static; 
        }
        .mr-display-ad__thumbnail {
            position: static; margin: 0 auto;
        }
    }

/*  ==========================================================================
    More Reels card classes
    ========================================================================== */
    .mr-more-reels__intro {
        font-size:0.875rem; color:#929292; font-weight:300; text-align: center;
        background-color: #252626; margin:0; padding: 0.125rem 0 0.4375rem 0;
    }
        .mr-more-reels__preview {
            background:url('../../img/more-reels__preview.jpg') 50% 50% / cover no-repeat; 
            border:0; margin:0; padding:0; 
            position: absolute; width:100%; height:100%;
        }
            .mr-more-reels__preview-img {
                width:100%;
            }
            .mr-more-reels__desc {
                margin: -0.5em 0 0 0;/*8px*/ font-size:0.8125rem;/*13px*/ 
                color:#c2c2c2; line-height:1.69; height: 4.875rem;/*78px*/
            }  


/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__group {
        width:100%; height:8.125rem;/*130px*/ padding:0 0 63% 0;
        position: absolute; top:0; z-index:5; min-width:18.75rem;/*300px*/ 
        overflow:hidden;
    }
    .mr-splash__start, .mr-splash__loading {
        position:absolute; width:100%; height:100%; top:0; left: 0; min-height: 20.625rem;/*350px*/
        background: 50% 50% / cover no-repeat;
        border:0; margin:0; padding:0; cursor:pointer;
    }
    .mr-splash__loading {
        background:#fff url('../../img/spinner-dots.gif') 50% 50% / 2rem auto no-repeat;
    }

    @media screen and (max-width: 20rem) { /*320px*/
        .mr-splash__group {
            padding: 0 0.625em; height: 20.625rem;/*330px*/
        }
    }