/*  ==========================================================================
    .mr-pager__group classes
    ========================================================================== */
    .mr-pages__fader, 
    .mr-pages__current-indicator {
        -webkit-transition: opacity 0.5s ease; 
        -moz-transition: opacity 0.5s ease; 
        -o-transition: opacity 0.5s ease; 
        transition: opacity 0.5s ease;
    }
    .mr-pager__btn, .mr-pager__btn:hover {
        -webkit-transition: background 0.4s ease; 
        -moz-transition: background 0.4s ease; 
        -o-transition: background 0.4s ease; 
        transition: background 0.4s ease;
    }
    .mr-pager__icon-path, 
    .mr-pager__btn:hover .mr-pager__icon-path {
        -webkit-transition: fill 0.4s ease; 
        -moz-transition: fill 0.4s ease; 
        -o-transition: fill 0.4s ease; 
        transition: fill 0.4s ease;
}
    .mr-pager__btn, .mr-pager__icon-path {
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
        .mr-pages__page:hover .mr-pages__fader {
            opacity:0;
        }
        .mr-pager__btn:hover {
            -webkit-transition-delay: 0;
            -moz-transition-delay: 0;
            -o-transition-delay: 0;
            transition-delay: 0;
            background:#fff no-repeat 50% 50%;
        }
            .mr-pager__label {
                -webkit-transition: color 0.4s ease; 
                -moz-transition: color 0.4s ease; 
                -o-transition: color 0.4s ease; 
                transition: color 0.4s ease;
            }
            .mr-pager__btn:hover .mr-pager__label {
                color:#d94040;
            }
            .mr-pager__btn:hover .mr-pager__icon-path {
                -webkit-transition-delay: 0;
                -moz-transition-delay: 0;
                -o-transition-delay: 0;
                transition-delay: 0;
                fill: #d94040;
            }
        .mr-pager__btn--disabled:hover {
            background:#d94040 no-repeat 50% 50%;
        }
            .mr-pager__btn--disabled:hover .mr-pager__label {
                color:#1b1b1b;
            }
            .mr-pager__btn--disabled:hover .mr-pager__icon-path {
                fill: #1b1b1b;
            }

    .mr-pages__preview-img {
        transition: background 0.5s ease;
    }
    .mr-pages__page:hover .mr-pages__preview-img {
        background-size:150%;
    }

/*  ==========================================================================
    .ui-navbar classes
    ========================================================================== */    
    .ui-control__preview-img {
        -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
    }
        .ui-nav__prev:hover .ui-control__preview-img, 
        .ui-nav__next:hover .ui-control__preview-img {
            opacity:0.76;
        }
    .ui-navbar__page {
        -webkit-transition:background 0.5s; transition:background 0.5s;
    }
        .ui-navbar__page:hover {
            background:#4c4c4c;
        }
        .ui-navbar__page .ui-control__preview-img--active {
            opacity:1;
        }
        .ui-navbar__page:hover .ui-control__preview-img {
            opacity:1;
        }

/*  ==========================================================================
    Splash Screen classes
    ========================================================================== */
    .mr-splash__bar {
        -webkit-transition: background 0.2s ease; 
        -moz-transition: background 0.2s ease; 
        -o-transition: background 0.2s ease; 
        transition: background 0.2s ease;
    }
