<section class="mr-ballot__group">
    <h2 class="mr-ballot__title tk--hdr" ng-click="onDismiss()">{{ballot.prompt}}</h2>
    <ul class="mr-ballot__list" ng-click="onDismiss()">
        <li class="mr-ballot__item mr-ballot__item{{$index}}" ng-repeat="choice in ballot.choices">
            <button class="mr-ballot__btn mr-ballot__btn{{$index}}" ng-click="Ctrl.vote($index)"><span class="mr-ballot__btn-label">{{choice}}</span></button>
        </li>
    </ul>
    <p class="mr-ballot__textlink">
    	<a ng-click="Ctrl.pass()" title="Show Voting Results">Show Voting Results</a>
    </p>
    <p class="mr-ballot__textlink">
    	<a ng-click="onDismiss()" title="Watch Again">Watch Again</a>
    </p>
</section>
<div class="mr-overlay" ng-click="onDismiss()">&nbsp;</div>
