<div ng-show="active" class="mr-display-ad__group">
    <h1 class="mr-display-ad__title-h1 tk--hdr">Advertisement</h1>
    <!-- <img class="mr-display-ad" ng-show="active" ng-src="{{adSrc}}"> -->
    <div ng-switch="adType" ng-show="active">
        <div ng-switch-when="iframe"><iframe ng-src="{{fileURI}}"></iframe></div>
        <div ng-switch-when="image"><img ng-src="{{fileURI}}" /></div>
        <div ng-hide="companion()"><img ng-src="{{adSrc}}" /></div>
        <div ng-switch-when="html" ng-bind-html="fileURI"></div>
    </div>
</div>
