<div class="mr-recap__group">
    <h3 class="mr-recap__intro">You just watched : <br> &ldquo;<em>MINIREEL TITLE HERE</em>&rdquo;</h3>

    <ul class="mr-recap__list">
        <li class="mr-recap__item mr-card mr-card-shadow">
            <button class="mr-recap__imgBtn" type="button">
                <span class="mr-recap__imgBox" style="background-image:url( IMG URL HERE );">&nbsp;</span>
            </button>
            <div class="mr-recap__copyBox">
                <h1 class="mr-card__title-h1 tk--hdr">The Title of the Card Goes Here and then...</h1>
                <p class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">Source goes here</a></p>
                <div class="mr-recap__ballotInfo">
                    <h3 class="mr-results__title mr-recap__ballotQuestion">Questionnaire: <strong>What did the Fox Say?</strong></h3>
                    <p class="mr-recap__ballotResults">
                        <span class="mr-recap__ballotA">
                            Awesome!!! <strong>32.6%</strong>
                        </span> &nbsp;|&nbsp;
                        <span class="mr-recap__ballotB">
                            F--cking Awesome!!! <strong>67.4%</strong>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li class="mr-recap__item mr-card mr-card-shadow">
            <button class="mr-recap__imgBtn" type="button">
                <span class="mr-recap__imgBox" style="background-image:url( IMG URL HERE );">&nbsp;</span>
            </button>
            <div class="mr-recap__copyBox">
                <h1 class="mr-card__title-h1 tk--hdr">The Title of the Card Goes Here and then...</h1>
                <p class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">Source goes here</a></p>
                <div class="mr-recap__ballotInfo">
                    <h3 class="mr-results__title mr-recap__ballotQuestion">Questionnaire: <strong>What did the Fox Say?</strong></h3>
                    <p class="mr-recap__ballotResults">
                        <span class="mr-recap__ballotA">
                            Awesome!!! <strong>32.6%</strong>
                        </span> &nbsp;|&nbsp;
                        <span class="mr-recap__ballotB">
                            F--cking Awesome!!! <strong>67.4%</strong>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li class="mr-recap__item mr-card mr-card-shadow">
            <button class="mr-recap__imgBtn" type="button">
                <span class="mr-recap__imgBox" style="background-image:url( IMG URL HERE );">&nbsp;</span>
            </button>
            <div class="mr-recap__copyBox">
                <h1 class="mr-card__title-h1 tk--hdr">The Title of the Card Goes Here and then...</h1>
                <p class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">Source goes here</a></p>
                <div class="mr-recap__ballotInfo">
                    <h3 class="mr-results__title mr-recap__ballotQuestion">Questionnaire: <strong>What did the Fox Say?</strong></h3>
                    <p class="mr-recap__ballotResults">
                        <span class="mr-recap__ballotA">
                            Awesome!!! <strong>32.6%</strong>
                        </span> &nbsp;|&nbsp;
                        <span class="mr-recap__ballotB">
                            F--cking Awesome!!! <strong>67.4%</strong>
                        </span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--<div class="mr-more-reels__group">
    <header>
        <h3 class="more-reels__intro">{{config.data.message}}</h3>
    </header>
    <ul class="more-reels__list">
        <li class="more-reels__item mr-card mr-card-shadow" ng-repeat="this in Ctrl.miniReels">
            <article>
                <h1 class="more-reels__title tk--hdr">{{this.title}}</h1>
                <div class="more-reels__preview">
                    <span class="ir"><img src="http://lorempixel.com/800/400/" class="more-reels__preview-img"></span>
                </div>
                <div class="more-reels__copy">{{this.summary}}</div>
            </article>
        </li>
    </ul>
</div>-->