<div class="recap__group">
    <ul class="recap__list">
        <li class="recap__item card__group clearfix" ng-repeat="card in Ctrl.deck">
            <button class="recap__imgBtn" type="button" 
            ng-click="Ctrl.jumpTo(card)"
            ng-class="{'recap__imgBtn--ad':card.params.ad}">
                <span class="recap__imgBox" style="background-image:url({{card.thumbs.large}});">&nbsp;</span>
            </button>
            <div class="recap__copyBox">
                <h1 class="recap-item__title tk--hdr" 
                ng-click="Ctrl.jumpTo(card)">{{card.title}}</h1>
                <p ng-if="!card.data.hideSource" ng-show="!!card.source" 
                class="recap-item__attributes">via <a ng-href="{{card.webHref}}" target="_blank" title="{{card.source}}">{{card.source}}</a></p>
                <p ng-if="!!card.params.sponsor" class="recap-item__attributes">sponsored by  
                    <a ng-href="{{card.links.Website}}"
                        target="_blank" 
                        title="{{card.params.sponsor}}"
                        ng-click="$event.stopPropagation()">
                        {{card.params.sponsor}}
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>