<section class="toc">
    <h1 class="toc__title tk--hdr">{{title}}</h1>
    <ul class="toc__list clearfix">
        <li class="toc__item c6-show clearfix" ng-repeat="card in cards" ng-show="!!card.title" ng-click="Ctrl.select(card)">
            <div class="toc-item__imgBox"
            ng-class="{'toc-item__imgBox--ad':card.params.ad}">
                <div class="toc-item__img" ng-style="{'background-image': card.thumbs && 'url(' + card.thumbs.large + ')'}">&nbsp;</div>
            </div>
            <div class="toc-item__details">
                <h1 class="toc-item__title tk--hdr">{{card.title}}</h1>
                <p ng-if="!card.data.hideSource" ng-show="!!card.source" class="toc-item__attributes">via&nbsp;<a 
                    ng-href="{{config.webHref}}" target="_blank"
                    title="{{config.source}}">{{config.source}}</a></p>
                <p ng-if="!!card.params.sponsor"
                    class="toc-item__attributes toc-item__attributes--sponsor">
                    Sponsored by <a ng-href="{{card.links.Website}}"
                        target="_blank"
                        title="{{card.params.sponsor}}"
                        ng-click="$event.stopPropagation()">
                        {{card.params.sponsor}}
                    </a>
                </p>
            </div>
        </li>
    </ul>
</section>
