<article>
    <h3 class="mr-title"><em class="condensed">{{title}}</em></h3>
    <div class="mr-card mr-card-shadow">
        <div class="clearfix">
            <div class="mr-card__title">
                <h1 class="mr-card__title-h1 tk--hdr">{{config.title}}</h1>
            </div>
            <div class="mr-player__thumbnail" ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
                <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
            </div>
            <div class="mr-card__copy" ng-bind-html="config.note"></div>
        </div>
    </div><!--.mr-card-->
</article>
