<article>
    <div class="card card-shadow">
        <div class="clearfix">
            <div class="card__title">
                <h1 class="card__title-h1 tk--hdr">{{config.title}}</h1>
            </div>
            <div class="player__thumbnail" ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
                <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
            </div>
            <div class="card__copy" ng-bind-html="config.note"></div>
        </div>
    </div><!--.card-->
</article>
