<div class="card card-shadow">
    <h2 class="card__type">Advertisement</h2>
    <div class="vast-video__container" ng-class="{'vast-video__container--disabled' : !Ctrl.showVideo}">
        <video c6-video id="{{config.id}}" c6-src="Ctrl.videoSrc" ng-click="Ctrl.clickThrough()"
            class="vast-video"></video>
    </div>
    <companion-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}"
        companion="Ctrl.companion">
    </companion-ad-module>
    <section>
        <ballot-module ng-if="Ctrl.hasModule('ballot')"
            active="config._data.modules.ballot.active"
            fetch-results-when="onDeck || active"
            card-id="{{config.id}}"
            ballot="config.ballot"
            vote="config._data.modules.ballot.vote">
        </ballot-module>
        <comments-module ng-if="Ctrl.hasModule('comments')"
            card-id="{{config.id}}"
            fetch-comments-when="onDeck || active">
        </comments-module>
    </section>
</div>
