<ballot-vote-module 
    class="mr-ballot-module ballot-module"
    ng-if="Ctrl.hasModule('ballot')"
    active="config._data.modules.ballot.ballotActive && active"
    vote="config._data.modules.ballot.vote"
    card-id="{{config.id}}"
    ballot="config.ballot"
    on-dismiss="Ctrl.dismissBallot()">
</ballot-vote-module>
<article>
    <h3 class="mr-title"><em class="condensed">{{Ctrl.experienceTitle}}</em></h3>
    <div class="mr-card mr-card-shadow">
        <div class="clearfix">
            <div class="mr-card__title">
                <h1 class="mr-card__title-h1 tk--hdr">{{config.title}}</h1>
                <p ng-if="!config.data.hideSource" class="mr-card__attributes">via <a ng-href="{{Ctrl.videoUrl}}" target="_blank" title="YouTube">{{config.source}}</a></p>
            </div>
            <div ng-class="{'mr-player--fly-away': Ctrl.flyAway}" class="mr-player"><!-- actual player will be inserted into this container --></div>
            <div ng-show="Ctrl.flyAway" c6-touch="Ctrl.playVideo()" class="mr-player__thumbnail" 
                ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
                <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
            </div>
            <ballot-results-module ng-if="Ctrl.hasModule('ballot')"
                active="config._data.modules.ballot.resultsActive && active"
                vote="config._data.modules.ballot.vote"
                card-id="{{config.id}}"
                fetch-when="onDeck || active"
                on-dismiss="Ctrl.dismissBallotResults()">
            </ballot-results-module>

            <div class="mr-sponsorProfile__group clearfix" ng-if="!!(config.collateral.logo || config.social.length > 0 || config.params.sponsor)">
                <a ng-if="!!config.collateral.logo" ng-href="{{config.links.Website}}" target="_blank" title="Sponsor link" class="mr-sponsorProfile__imgBox">
                    <img ng-src="{{config.collateral.logo}}" class="mr-sponsorProfile__img">
                </a>
                <div class="mr-sponsorProfile__copy" ng-if="!!(config.params.sponsor || config.social.length > 0)">
                    <p class="mr-sponsorProfile__tag" ng-if="!!config.params.sponsor">
                        Sponsored by 
                        <a ng-href="{{config.links.Website}}" target="_blank" title="{{config.params.sponsor}}">{{config.params.sponsor}}</a>
                    </p>
                    <div class="mr-sponsorProfile__links" ng-if="config.social.length > 0">
                        <a ng-repeat="link in config.social"
                            ng-href="{{link.href}}"
                            target="_blank"
                            title="{{link.label}}"
                            class="mr-sponsorProfile__link sprite__social mr-socialIcons mr-socialIcons--{{link.type}}">
                            <span class="ir">{{link.label}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mr-card__copy" ng-bind-html="config.note"></div>

            <div class="mr-card__copy sponsor__actions" ng-if="!!config.links.Action" ng-switch="config.params.action.type" c6-alias="config.params.action as action">
                <a ng-switch-when="text" ng-href="{{config.links.Action}}" target="_blank">{{action.label}}</a>
                <a ng-switch-when="button" ng-href="{{config.links.Action}}" target="_blank" class="mr-sponsor__goBtn" title="{{action.label}}">{{action.label}}</a>
            </div>
        </div>
        
    </div><!--.mr-card-->
</article>
