<div class="mr-card mr-card-shadow">
    <h2 class="mr-card__type">Advertisement</h2>
    <div class="mr-vast-video__container" ng-class="{'mr-vast-video__container--disabled' : !Ctrl.showVideo}">
        <div ng-style="{visibility: Ctrl.showVideo ? 'visible' : 'hidden'}" class="mr-player mr-vast__player"></div>
    </div>
    <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
        active="config._data.modules.displayAd.active"
        ad-src="{{config.displayAd}}"
        ad-object="Ctrl.companion">
    </display-ad-module>
</div>
