<h3>Edit Card</h3>
<c6-alias model="NewCardEditCtrl.model" as="card">
    <form>
        <label class="field">
            Title:
            <input type="text" ng-model="card.title">
        </label>
        <label class="field">
            Note:
            <textarea ng-model="card.note"></textarea>
        </label>
        <label class="field">
            Video URL:
            <input type="text" ng-model="EditCardCtrl.videoUrl">
        </label>
    </form>
    <video-preview service="{{card.data.service}}" videoid="{{card.data.videoid}}"></video-preview>
    <button ng-click="EditCardCtrl.close()">Save</button>
</c6-alias>
