/*  ==========================================================================
    Branding classes
    ========================================================================== */
    .publisher__branding-logo {
        background-image:url('../img/publisher__elite-daily.png');
    }


/*  ==========================================================================
    copy styles
    ========================================================================== */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

    body, .card__btn-watch {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .tk--hdr, .ui-context__label {
        font-family: Georgia, Times, serif;
    }

    body, .ui-nav__counter, .card__type, .card__title-h1, .ballot__title, .results__title, 
    .comments__textarea, .comm-meta__timestamp, .toc-item__title, .more-reels__intro  {
        font-weight: 400;
    }

    a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }



/*  ==========================================================================
    experience color styles
    ========================================================================== */
    .pager__btn--disabled .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: News (#2391d7)
    ========================================================================== */
    .ed-news a {
        color:#2391d7; border-bottom:1px dotted #2391d7;
    }
    .ed-news .pager__btn, 
    .ed-news .card__btn,
    .ed-news .player__play-btn,
    .ed-news .C6MR_splash__copy,
    .ed-news .pages__current-indicator {
        background-color: #2391d7;
    }


/*  ==========================================================================
    Theme Styles: Life (#c0392b)
    ========================================================================== */
    .ed-life a {
        color:#c0392b; border-bottom:1px dotted #c0392b;
    }
    .ed-life .pager__btn,
    .ed-life .card__btn,
    .ed-life .player__play-btn,
    .ed-life .C6MR_splash__copy,
    .ed-life .pages__current-indicator {
        background-color: #c0392b;
    }


/*  ==========================================================================
    Theme Styles: Money (#27ae60)
    ========================================================================== */
    .ed-money a {
        color:#27ae60; border-bottom:1px dotted #27ae60;
    }
    .ed-money .pager__btn,
    .ed-money .card__btn, 
    .ed-money .player__play-btn,
    .ed-money .C6MR_splash__copy,
    .ed-money .pages__current-indicator {
        background-color: #27ae60;
    }



/*  ==========================================================================
    Theme Styles: Sports (#e67e22)
    ========================================================================== */
    .ed-sports a {
        color:#e67e22; border-bottom:1px dotted #e67e22;
    }
    .ed-sports .pager__btn,
    .ed-sports .card__btn,
    .ed-sports .player__play-btn,
    .ed-sports .C6MR_splash__copy,
    .ed-sports .pages__current-indicator {
        background-color: #e67e22;
    }



/*  ==========================================================================
    Theme Styles: Dating (#8e44ad)
    ========================================================================== */
    .ed-dating a {
        color:#8e44ad; border-bottom:1px dotted #8e44ad;
    }
    .ed-dating .pager__btn,
    .ed-dating .card__btn, 
    .ed-dating .player__play-btn,
    .ed-dating .splash__copy,
    .ed-dating .pages__current-indicator {
        background-color: #8e44ad;
    }



/*  ==========================================================================
    Theme Styles: Entertainment (#f1c40f)
    ========================================================================== */
    .ed-entertainment a {
        color:#f1c40f; border-bottom:1px dotted #f1c40f;
    }
    .ed-entertainment .pager__btn, 
    .ed-entertainment .card__btn,
    .ed-entertainment .player__play-btn,
    .ed-entertainment .splash__copy,
    .ed-entertainment .pages__current-indicator {
        background-color: #f1c40f;
    }



/*  ==========================================================================
    Theme Styles: Music (#2c3e50)
    ========================================================================== */
    .ed-music a {
        color:#3f5a74; border-bottom:1px dotted #3f5a74;
    }
    .ed-music .pager__btn, 
    .ed-music .card__btn,
    .ed-music .player__play-btn,
    .ed-music .splash__copy,
    .ed-music .pages__current-indicator {
        background-color: #2c3e50;
    }



/*  ==========================================================================
    Theme Styles: Women (#c35d9e)
    ========================================================================== */
    .ed-women a {
        color:#c35d9e; border-bottom:1px dotted #c35d9e;
    }
    .ed-women .pager__btn, 
    .ed-women .card__btn,
    .ed-women .player__play-btn,
    .ed-women .splash__copy,
    .ed-women .pages__current-indicator{
        background-color: #c35d9e;
    }



/*  ==========================================================================
    Theme Styles: Envision (#b69823)
    ========================================================================== */
    .ed-envision a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }
    .ed-envision .pager__btn, 
    .ed-envision .card__btn,
    .ed-envision .player__play-btn,
    .ed-envision .splash__copy,
    .ed-envision .pages__current-indicator {
        background-color: #b69823;
    }



/*  ==========================================================================
    Theme Styles: Humor (#16a085)
    ========================================================================== */
    .ed-humor a {
        color:#16a085; border-bottom:1px dotted #16a085;
    }
    .ed-humor .pager__btn, 
    .ed-humor .card__btn,
    .ed-humor .player__play-btn,
    .ed-humor .splash__copy,
    .ed-humor .pages__current-indicator {
        background-color: #16a085;
    }



/*  ==========================================================================
    Theme Styles: Videos (#d5161d)
    ========================================================================== */
    .ed-videos a {
        color:#d5161d; border-bottom:1px dotted #d5161d;
    }
    .ed-videos .pager__btn, 
    .ed-videos .card__btn,
    .ed-videos .player__play-btn,
    .ed-videos .splash__copy,
    .ed-videos .pages__current-indicator {
        background-color: #d5161d;
    }