
/*  ==========================================================================
    Theme Styles: News (#2391d7)
    ========================================================================== */
    .ed-news .pager__btn--disabled:hover, .ed-news .preview__button:hover, 
    .ed-news .preview__thumbnail:hover .preview__button  {
        background: #2391d7;
    }
    .ed-news .pager__btn:hover .pager__label,
    .ed-news .card__btn-watch:hover {
        color: #2391d7;
    }
    .ed-news .pager__btn:hover .pager__icon-path {
        fill:#2391d7;
    }
    .ed-news .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Life (#c0392b)
    ========================================================================== */
    .ed-life .pager__btn--disabled:hover, .ed-life .preview__button:hover, 
    .ed-life .preview__thumbnail:hover .preview__button  {
        background: #c0392b;
    }
    .ed-life .pager__btn:hover .pager__label,
    .ed-life .card__btn-watch:hover {
        color: #c0392b;
    }
    .ed-life .pager__btn:hover .pager__icon-path {
        fill:#c0392b;
    }
    .ed-life .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Money (#27ae60)
    ========================================================================== */
    .ed-money .pager__btn--disabled:hover, .ed-money .preview__button:hover, 
    .ed-money .preview__thumbnail:hover .preview__button  {
        background: #27ae60;
    }
    .ed-money .pager__btn:hover .pager__label,
    .ed-money .card__btn-watch:hover {
        color: #27ae60;
    }
    .ed-money .pager__btn:hover .pager__icon-path {
        fill:#27ae60;
    }
    .ed-money .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Sports (#e67e22)
    ========================================================================== */
    .ed-sports .pager__btn--disabled:hover, .ed-sports .preview__button:hover, 
    .ed-sports .preview__thumbnail:hover .preview__button  {
        background: #e67e22;
    }
    .ed-sports .pager__btn:hover .pager__label,
    .ed-sports .card__btn-watch:hover {
        color: #e67e22;
    }
    .ed-sports .pager__btn:hover .pager__icon-path {
        fill:#e67e22;
    }
    .ed-sports .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Dating (#8e44ad)
    ========================================================================== */
    .ed-dating .pager__btn--disabled:hover, .ed-dating .preview__button:hover, 
    .ed-dating .preview__thumbnail:hover .preview__button  {
        background: #8e44ad;
    }
    .ed-dating .pager__btn:hover .pager__label,
    .ed-dating .card__btn-watch:hover {
        color: #8e44ad;
    }
    .ed-dating .pager__btn:hover .pager__icon-path {
        fill:#8e44ad;
    }
    .ed-dating .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Entertainment (#f1c40f)
    ========================================================================== */
    .ed-entertainment .pager__btn--disabled:hover, .ed-entertainment .preview__button:hover, 
    .ed-entertainment .preview__thumbnail:hover .preview__button  {
        background: #f1c40f;
    }
    .ed-entertainment .pager__btn:hover .pager__label,
    .ed-entertainment .card__btn-watch:hover {
        color: #f1c40f;
    }
    .ed-entertainment .pager__btn:hover .pager__icon-path {
        fill:#f1c40f;
    }
    .ed-entertainment .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Music (#2c3e50)
    ========================================================================== */
    .ed-music .pager__btn--disabled:hover, .ed-music .preview__button:hover, 
    .ed-music .preview__thumbnail:hover .preview__button  {
        background: #2c3e50;
    }
    .ed-music .pager__btn:hover .pager__label,
    .ed-music .card__btn-watch:hover {
        color: #2c3e50;
    }
    .ed-music .pager__btn:hover .pager__icon-path {
        fill:#2c3e50;
    }
    .ed-music .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }


/*  ==========================================================================
    Theme Styles: Women (#c35d9e)
    ========================================================================== */
    .ed-women .pager__btn--disabled:hover, .ed-women .preview__button:hover, 
    .ed-women .preview__thumbnail:hover .preview__button  {
        background: #c35d9e;
    }
    .ed-women .pager__btn:hover .pager__label,
    .ed-women .card__btn-watch:hover {
        color: #c35d9e;
    }
    .ed-women .pager__btn:hover .pager__icon-path {
        fill:#c35d9e;
    }
    .ed-women .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }



/*  ==========================================================================
    Theme Styles: Envision (#b69823)
    ========================================================================== */
    .ed-envision .pager__btn--disabled:hover, .ed-envision .preview__button:hover, 
    .ed-envision .preview__thumbnail:hover .preview__button  {
        background: #b69823;
    }
    .ed-envision .pager__btn:hover .pager__label,
    .ed-envision .card__btn-watch:hover {
        color: #b69823;
    }
    .ed-envision .pager__btn:hover .pager__icon-path {
        fill:#b69823;
    }
    .ed-envision .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }



/*  ==========================================================================
    Theme Styles: Humor (#16a085)
    ========================================================================== */
    .ed-humor .pager__btn--disabled:hover, .ed-humor .preview__button:hover, 
    .ed-humor .preview__thumbnail:hover .preview__button  {
        background: #16a085;
    }
    .ed-humor .pager__btn:hover .pager__label,
    .ed-humor .card__btn-watch:hover {
        color: #16a085;
    }
    .ed-humor .pager__btn:hover .pager__icon-path {
        fill:#16a085;
    }
    .ed-humor .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }



/*  ==========================================================================
    Theme Styles: Videos (#d5161d)
    ========================================================================== */
    .ed-videos .pager__btn--disabled:hover, .ed-videos .preview__button:hover, 
    .ed-videos .preview__thumbnail:hover .preview__button  {
        background: #d5161d;
    }
    .ed-videos .pager__btn:hover .pager__label,
    .ed-videos .card__btn-watch:hover {
        color: #d5161d;
    }
    .ed-videos .pager__btn:hover .pager__icon-path {
        fill:#d5161d;
    }
    .ed-videos .pager__btn--disabled:hover .pager__icon-path {
        fill: #252626;
    }




/*  ==========================================================================
    Theme Styles: General / All styles
    ========================================================================== */
    .MiniReel .pager__btn--disabled:hover .pager__label {
        color:#252626;
    }