<c6-alias model="EditCardCopyCtrl.model" as="card">
    <form>
        <label class="field field--noBreak clearfix">
            <span class="modal__label">Card Title:</span>
            <input ng-model="card.title" type="text" class="modal__textBox" ng-model="card.title">
        </label>
        <label class="field">
            <span class="modal__label">Card Copy: <strong class="field__context">(0 of 200 max characters)</strong></span>
            <textarea ng-model="card.note" class="modal__textarea modal__cardCopy"></textarea>
        </label>
    </form>
</c6-alias>
