<c6-alias model="EditCardCopyCtrl.model" as="card">
    <form>
        <label class="field field--noBreak clearfix">
            <span class="modal__label">Card Title:</span>
            <input ng-model="card.title" type="text" class="modal__textBox" ng-model="card.title">
        </label>
        <label class="field">
            <span class="modal__label">Card Copy:</span>
            <textarea ng-model="card.note" class="modal__textarea modal__cardCopy"></textarea>
        </label>
    </form>
    <!--
    <label class="field">
        Video URL:
        <input type="text" ng-model="EditCardCtrl.videoUrl">
    </label>
    <video-preview service="{{card.data.service}}" videoid="{{card.data.videoid}}" start="card.data.start" end="card.data.end"></video-preview>-->
</c6-alias>
