<ul class="cards__list"
    ng-repeat="deck in DeckCtrl.decks"
    ng-class="{
        'ui--offscreen' : !deck.active
    }">
    <li class="cards__item"
        ng-repeat="item in (deck.cards | deck:deck.index:1)"
        ng-class="{
            'ui--offscreen' : ($index !== deck.index || !deck.active)
        }">
        <mr-card
            x-number="{{tocCards.indexOf(item) + 1}}"
            x-total="{{tocCards.length}}"
            x-config="item"
            x-profile="deviceProfile"
            x-active="($index === deck.index) && deck.active"
            x-on-deck="($index === (deck.index + 1))">
        </mr-card>
    </li>
</ul>
