<div class="displayAdCard__group">
    <p class="displayAdBrand__tagline">Presented by
        <a href="!!!!BRAND LINK!!!!" target="_blank" 
        class="displayAdBrand__taglineLink textLink"
        title="!!!!BRAND NAME!!!!">
            !!!!BRAND NAME!!!!
        </a>
    </p>
    <display-ad-module active="active"
        class="displayAdCard__adModule"
        config="config">
    </display-ad-module>
    <div class="displayAdBrand__linksBox" ng-show="true">
        <a href="!!!!BRAND OFFICIAL LINK!!!!"
        title="!!!!BRAND NAME!!!! - Official Website"
        target="_blank" class="displayAdBrand__link">
            <span class="displayAdBrand__linkLabel">Official Website</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="YouTube" target="_blank"
        class="displayAdBrand__link tk--youtube
        spriteBe socialIconsBe socialIconsBe--youtube">
            <span class="displayAdBrand__linkLabel">YouTube</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="Vimeo" target="_blank"
        class="displayAdBrand__link tk--vimeo
        spriteBe socialIconsBe socialIconsBe--vimeo">
            <span class="displayAdBrand__linkLabel">Vimeo</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="Facebook" target="_blank"
        class="displayAdBrand__link tk--facebook
        spriteBe socialIconsBe socialIconsBe--facebook">
            <span class="displayAdBrand__linkLabel">Facebook</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="Twitter" target="_blank"
        class="displayAdBrand__link tk--twitter
        spriteBe socialIconsBe socialIconsBe--twitter">
            <span class="displayAdBrand__linkLabel">Twitter</span>
        </a>
        <a href="!!!!BRAND SOCIAL LINK!!!!"
        title="Pinterest" target="_blank"
        class="displayAdBrand__link tk--pinterest
        spriteBe socialIconsBe socialIconsBe--pinterest">
            <span class="displayAdBrand__linkLabel">Pinterest</span>
        </a>
    </div>
</div>