<article class="card__group">
    <ul class="recap__list">
        <li class="recap__item clearfix" ng-repeat="card in Ctrl.deck"
        ng-class="{'recap__item--ad' : card.params.ad}"
        ng-click="Ctrl.jumpTo(card)">
            <div class="recap__imgBox">
                <div class="recap__img" style="background-image:url({{card.thumbs.large}});">&nbsp;</div>
            </div>
            <div class="recap__copyBox">
                <h1 class="card__title tk--hdr" 
                ng-if="!(card.collateral.logo || card.social.length > 0 || card.params.sponsor)">
                    {{card.title}}
                    <span ng-show="!!card.source" 
                    class="card__attributes tk--copy">
                        via 
                        <a ng-href="{{Ctrl.videoUrl}}" target="_blank" class="textLink" 
                        title="{{card.source}}" ng-click="$event.stopPropagation()">
                            {{card.source}}
                        </a>
                    </span>
                </h1>
                
                <div class="sponsorProfile__group clearfix"
                ng-if="!!(card.collateral.logo || card.social.length > 0 || card.params.sponsor)">
                    <a ng-if="!!card.collateral.logo" ng-href="{{card.links.Website}}" 
                    target="_blank" title="{{link.label}}" class="sponsorProfile__imgBox"
                    ng-click="$event.stopPropagation()">
                        <img ng-src="{{card.collateral.logo}}" class="sponsorProfile__img">
                    </a>
                    <div class="sponsorProfile__copy" ng-if="!!(card.params.sponsor || card.social.length > 0)">
                        <h1 class="card__title tk--hdr">
                            {{card.title}}
                        </h1>
                        <div class="card__attributes sponsorProfile__tag" 
                        ng-if="!!card.params.sponsor">
                            Sponsored by 
                            <a ng-href="{{card.links.Website}}" target="_blank" 
                            title="{{card.params.sponsor}}" class="textLink"
                            ng-click="$event.stopPropagation()">
                                {{card.params.sponsor}}
                            </a>
                        </div>
                        <div class="sponsorProfile__links" ng-if="card.social.length > 0">
                            <a ng-repeat="link in card.social"
                                title="{{link.label}}"
                                ng-href="{{link.href}}"
                                target="_blank"
                                ng-click="$event.stopPropagation()"
                                class="sponsorProfile__link spriteBe socialIconsBe socialIconsBe--{{link.type}}">
                                <span class="ir">{{link.label}}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card__desc card__desc--recapCard" ng-bind-html="card.note"></div>
            </div>
        </li>
    </ul>
</article>
