<article class="mr-card__group">
    <div class="mr-player__group">
        <div class="mr-player__thumbnail" ng-style="{'background-image':config.thumbs.large ? 'url(' + config.thumbs.large + ')' : ''}">
            <span class="ir"><img ng-src="{{config.thumbs.large}}"></span>
        </div>
    </div>

    <div class="mr-card__copy">
        <h1 class="mr-card__title tk--hdr">{{config.title}}</h1>
        <div class="mr-card__desc" ng-bind-html="config.note"></div>
    </div>
    <div class="mr-ad__med-rect">
        <display-ad-module ng-if="Ctrl.hasModule('displayAd')"
            active="active"
            ad-container-id="{{config.id}}">
        </display-ad-module>
    </div>
</article>
