/*  ==========================================================================
    Branding classes
    ========================================================================== */
    .publisher__branding-logo {
        background-image:url('../img/publisher__elite-daily.png');
    }


/*  ==========================================================================
    copy styles
    ========================================================================== */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

    body, .mr-card__btn-watch {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .tk--hdr, .ui-context__label {
        font-family: Georgia, Times, serif;
    }

    body, .ui-nav__counter, .mr-card__type, .mr-card__title-h1, .mr-ballot__title, .mr-results__title, 
    .mr-comments__textarea, .mr-comm-meta__timestamp, .mr-toc-item__title, .more-reels__intro  {
        font-weight: 400;
    }

    a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }



/*  ==========================================================================
    Theme Styles: News (#2391d7)
    ========================================================================== */
    .ed-news a {
        color:#2391d7; border-bottom:1px dotted #2391d7;
    }
    .ed-news .mr-pager__btn,
    .ed-news .mr-player__play-btn,
    .ed-news .mr-pages__current-indicator,
    .ed-news .mr-splash__copy {
        background-color: #2391d7;
    }



/*  ==========================================================================
    Theme Styles: Life (#c0392b)
    ========================================================================== */
    .ed-life a {
        color:#c0392b; border-bottom:1px dotted #c0392b;
    }
    .ed-life .mr-pager__btn {
        background: #c0392b;
    }
    .ed-life .mr-player__play-btn,
    .ed-life .mr-pages__current-indicator {
        background-color: #c0392b;
    }



/*  ==========================================================================
    Theme Styles: Money (#27ae60)
    ========================================================================== */
    .ed-money a {
        color:#27ae60; border-bottom:1px dotted #27ae60;
    }
    .ed-money .mr-pager__btn,
    .ed-money .mr-player__play-btn,
    .ed-money .mr-pages__current-indicator,
    .ed-money .mr-splash__copy {
        background-color: #27ae60;
    }



/*  ==========================================================================
    Theme Styles: Sports (#e67e22)
    ========================================================================== */
    .ed-sports a {
        color:#e67e22; border-bottom:1px dotted #e67e22;
    }
    .ed-sports .mr-pager__btn,
    .ed-sports .mr-player__play-btn,
    .ed-sports .mr-pages__current-indicator,
    .ed-sports .mr-splash__copy {
        background-color: #e67e22;
    }



/*  ==========================================================================
    Theme Styles: Dating (#8e44ad)
    ========================================================================== */
    .ed-dating a {
        color:#8e44ad; border-bottom:1px dotted #8e44ad;
    }
    .ed-dating .mr-pager__btn,
    .ed-dating .mr-player__play-btn,
    .ed-dating .mr-pages__current-indicator,
    .ed-dating .mr-splash__copy {
        background-color: #8e44ad;
    }



/*  ==========================================================================
    Theme Styles: Entertainment (#f1c40f)
    ========================================================================== */
    .ed-entertainment a {
        color:#f1c40f; border-bottom:1px dotted #f1c40f;
    }
    .ed-entertainment .mr-pager__btn,
    .ed-entertainment .mr-player__play-btn,
    .ed-entertainment .mr-pages__current-indicator,
    .ed-entertainment .mr-splash__copy {
        background-color: #f1c40f;
    }



/*  ==========================================================================
    Theme Styles: Music (#2c3e50)
    ========================================================================== */
    .ed-music a {
        color:#3f5a74; border-bottom:1px dotted #3f5a74;
    }
    .ed-music .mr-pager__btn,
    .ed-music .mr-player__play-btn,
    .ed-music .mr-pages__current-indicator,
    .ed-music .mr-splash__copy {
        background-color: #2c3e50;
    }



/*  ==========================================================================
    Theme Styles: Women (#c35d9e)
    ========================================================================== */
    .ed-women a {
        color:#c35d9e; border-bottom:1px dotted #c35d9e;
    }
    .ed-women .mr-pager__btn,
    .ed-women .mr-player__play-btn,
    .ed-women .mr-pages__current-indicator,
    .ed-women .mr-splash__copy {
        background-color: #c35d9e;
    }



/*  ==========================================================================
    Theme Styles: Envision (#b69823)
    ========================================================================== */
    .ed-envision a {
        color:#b69823; border-bottom:1px dotted #b69823;
    }
    .ed-envision .mr-pager__btn,
    .ed-envision .mr-player__play-btn,
    .ed-envision .mr-pages__current-indicator,
    .ed-envision .mr-splash__copy {
        background-color: #b69823;
    }



/*  ==========================================================================
    Theme Styles: Humor (#16a085)
    ========================================================================== */
    .ed-humor a {
        color:#16a085; border-bottom:1px dotted #16a085;
    }
    .ed-humor .mr-pager__btn,
    .ed-humor .mr-player__play-btn,
    .ed-humor .mr-pages__current-indicator,
    .ed-humor .mr-splash__copy {
        background-color: #16a085;
    }



/*  ==========================================================================
    Theme Styles: Videos (#d5161d)
    ========================================================================== */
    .ed-videos a {
        color:#d5161d; border-bottom:1px dotted #d5161d;
    }
    .ed-videos .mr-pager__btn,
    .ed-videos .mr-player__play-btn,
    .ed-videos .mr-pages__current-indicator,
    .ed-videos .mr-splash__copy {
        background-color: #d5161d;
    }



    