<h1 class="modal__title modal__title--lightboxWizard">Should the MiniReel Autoplay?</h1>
<form c6-alias="NewCtrl.mode as config">
    <input id="hasAutoplay" type="checkbox"
    ng-model="NewCtrl.autoplay" ng-disabled="!config.autoplayable" />
    <label for="hasAutoplay">Yes, all videos should play automatically.</label>
    <p ng-show="!config.autoplayable">The {{config.name}} display mode does not support autoplaying videos.</p>
</form>
<footer class="modal__btnFooter">
    <button class="modal__btn toolbar__delete" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <button c6-sref="editor" params="{ minireelId: NewCtrl.model.minireel.id }" ng-click="NewCtrl.save()" class="modal__btn toolbar__confirm" type="button" title="Done!">Done!</button>
</footer>
