<h1 class="modal__title modal__title--lightboxWizard">Should This MiniReel Open in a Lightbox?</h1>
<ul class="wizard__group">
    <li ng-repeat="$this in NewCategoryCtrl.model" class="wizard__choice">
        <input id="category-{{$this.value}}" type="radio" 
            name="minireel-category" value="{{$this.value}}"
            class="modal__radioBtn" ng-model="NewCategoryCtrl.mode" />
        <label class="wizard__hitarea" for="category-{{$this.value}}"><span class="ir">Lightbox</span></label>
        <div class="wizard__diagram sprite--fff diagram__{{$this.value}}">&nbsp;</div>
        <div class="wizard__copy">
            <h2 class="wizard__title">{{$this.name}}</h2>
            <p class="wizard__p">{{$this.description}}</p>
        </div>
    </li>
</ul>
<footer class="modal__btnFooter">
    <button class="modal__btn toolbar__delete" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <button c6-sref="{{NewCtrl.baseState}}.mode" params="{ newModeValue: NewCategoryCtrl.mode }" class="modal__btn" type="button" title="Next Step">Next Step</button>
</footer>
