<h1 class="modal__title modal__title--lightboxWizard">Choose the MiniReel Type</h1>
<ul class="lightboxWizard__group">
    <li ng-repeat="$this in NewModeCtrl.model.modes" class="lightboxWizard__choice">
        <input id="mode-{{$this.value}}" type="radio" 
            name="minireel-mode" value="{{$this.value}}"
            class="modal__radioBtn" ng-model="NewModeCtrl.mode"/>
        <label class="lightboxWizard__hitarea" for="mode-{{$this.value}}"><span class="ir">{{$this.name}}</span></label>
        <div class="lightboxWizard__diagram sprite--fff diagram__{{$this.value}}">&nbsp;</div>
        <div class="lightboxWizard__copy">
            <h2 class="lightboxWizard__title">{{$this.name}}</h2>
            <p class="lightboxWizard__p">{{$this.description}}</p>
        </div>
    </li>
</ul>
<footer class="modal__btnFooter">
    <button class="modal__btn toolbar__delete" c6-sref="manager" title="Cancel">Cancel</button>
    <button ng-click="NewModeCtrl.launchEditor()" class="modal__btn" type="button" title="Create MiniReel">Create MiniReel</button>
</footer>
